[2022-03-15 17:07] lzehl commented on #318
@apdavison could you elaborate why? for the image service this would be an overhead as far as I understood. they are going to create file repos per computation so the file bundles would equal the file repos .

[2022-03-15 17:55] apdavison commented on #318
@lzehl are the file repos (CSCS Swift containers I guess) created automatically by the image service, or manually beforehand?

[2022-03-15 17:59] lzehl commented on #318
@apdavison as far as I understood they are created automatically. @olinux @Majpuc correct?

[2022-03-15 18:24] apdavison commented on #318
ok, so in that case having FileRepository as an output would be an accurate representation.

I think it comes down to whether this is a rare edge-case (the vast majority of computational processes in EBRAINS do not produce repositories) or not.

If it's a very rare case, the costs of having to handle more complex schemas in the UI might outweigh the small overhead of having to resolve the "is_part

[2022-03-15 18:57] Majpuc commented on #318
Regarding the chunk containers. They are created automatically.  Until recently cscs public containers connected  to an icei project belonging to Marc’s team but after a change in the image service are now collaboratory buckets accessible through the data proxy api. I have collected all metadata connecting the containers ID and their corresponding datasets.

[2022-03-16 11:15] lzehl commented on #318
@olinux could you comment on @apdavison remark. I think he has a point, but I'm not sure what is less overhead:
1. handling the increase in query complexity when we allow FileRepository as additional output for the new schema OR
2. handling the increase in query complexity, because all containers from the image service have to be registered as first as "free floating" FileRepository and then indir

[2022-03-22 07:56] UlrikeS91 opened #322 "Activity schema - changes needed in relation to openMINDS extensions"
### **Quick summary of the is-state before I get to the issue:**
The [Activity schema](https://github.com/HumanBrainProject/openMINDS_core/blob/v4/schemas/research/activity.schema.tpl.json) has the property "parameterSet" for stating a set of parameters related to the performed activity. In the core, the ProtocolExecution schema extends this schema. At the moment, ephys extension schemas extend th

[2022-03-22 08:35] apdavison commented on #322
Thanks for this careful analysis Ulrike. I like the proposed solution, although since "protocol" becomes a field of "ExperimentalActivity", it seems strange that only "ProtocolExecution" has protocol in its name.

Since the current ProtocolExecution is supposed to be used only when we don't have a more specific extension, how about modifying your proposal as follows?
- "ExperimentalActivity" --> "

[2022-03-22 12:45] apdavison commented on #322
sorry I wasn't clear about "generic". My understanding is that "ExperimentalActivity", like "Activity", will not be used directly, but will be the basis of extensions. In that sense, ProtocolExecution will be the generic extension, while PatchClampActivity and friends will be the specific extensions.

[2022-03-24 08:35] apdavison commented on #322
@lyuba the problem with keeping ParameterSet in Activity, with a name like "additional parameter set", is that the Computation-based schemas will then have two ParameterSet fields, one called simply "parameter set" and the other "additional parameter set". I prefer @UlrikeS91's suggestion of removing the ParameterSet field from Activity, and then re-adding with the appropriate name where needed.

[2022-03-24 13:47] olinux commented on #318
Although I do agree with @apdavison that from a conceptional point, it's better to have a FileBundle as an output, the key problem is that a "FileBundle" doesn't have its own IRI.

Here, we're talking about a FileBundle which explicitly is not supposed to have any relations to files (since we're not going to index them). This leaves the interpretation to the client which would need to know that "i

[2022-03-24 14:47] lzehl commented on #318
@olinux what about combining this issue in some way with #257 ?

Suggestion:
+ keep the FileBundle only for the cases where the Files of a FileRepository are indexed.
+ create a FileArchive schema that can exist independent of a FileRepository which is stating the full URL to a container, container+prefix (down to *.zip file url) where the respective individual Files should not / cannot be indexed

[2022-03-24 14:59] lzehl commented on #322
@apdavison I don't see this "is that the Computation-based schemas will then have two ParameterSet fields, one called simply "parameter set" and the other "additional parameter set". " in your computation schemas.

All computation activities inherit from Computation which inherits from Activity. Computation specific properties are only provided in Computation and the actual target activities do no

[2022-03-24 15:38] apdavison commented on #322
No it is not fitting. This is exactly the problem I have been trying to express.

- "additionalParameterSet" - additional to what?
- "userDefinedParameterSet" - this is an unnecessarily long name for a simple concept

To me, Ulrike's proposed solution above solves the problem in a more elegant way. Do you have objections to it?

[2022-03-24 17:10] apdavison commented on #322
@lyuba I agree, I think the issue is one of semantics/definitions: in computation we're using "parameters" with a different meaning. "environment", etc. are not parameters in that sense.

I think this is probably the best solution. StringParameter and NumericalParameter should also be renamed accordingly.

On further reflection, the current `ParameterSet` schema isn't even a very good fit for the

[2022-03-24 19:02] lzehl commented on #322
@apdavison that is a good point. So I would suggest that we aiming to do the following:

+ rename the Activity property "parameter set" to "custom property set"
+ rename the schema ParameterSet to CustomPropertySet
+ rename the schema NumericalParameter to NumericalProperty
+ rename the schema StringParameter to StringProperty
+ extending / revising the CustomPropertySet schema (see also below)

S

[2022-03-25 07:37] Majpuc commented on #318
This sounds as a nice solution. For info, concerning Image service generated chunks, the archives types are both CSCS classical containers and collab buckets. The format is .dzi and .png (see example here: https://wiki.ebrains.eu/bin/view/Collabs/img-d6a8e5ab-eba3-4799-8787-c0e858df8515/Bucket) or neuroglancer files (https://wiki.ebrains.eu/bin/view/Collabs/ng-chunks/Bucket). We need to keep the f

[2022-03-25 08:18] lzehl commented on #318
@Majpuc thanks for the feedback and the additional information

[2022-03-25 09:35] UlrikeS91 commented on #322
Except for some copy-paste errors in your proposed schemas 😆, I like the proposed setup and specific suggestions. "Custom property set" is a good compromise and my personal problem with the "parameter set" would be solve by this 😉

[2022-03-25 12:14] lzehl commented on #322
@apdavison should the Configuration also be able to state the Software Version it is meant for? (optional)

[2022-03-25 13:18] apdavison commented on #322
@lzehl I think that's the role of the ContentType.

(also note that ideally the Configuration would be embedded, but I don't think you can have both _linkedTypes and _embeddedTypes in the same property)

[2022-03-28 09:11] lzehl commented on #322
@apdavison top :+1: then we'll have a good solution I think. Let's keep Configuration now in as "linkedType".

I forwarded the issue to combine linked and embedded types under one property to Oli, since it is not the first time this functionality comes up (@olinux). Schema wise I think that is possible, interpreting it for editors etc might be difficult. We can tackle this at a later point in time

[2022-03-28 09:44] lzehl commented on #322
@HumanBrainProject/openminds-developers any volunteers who want to implement this?

[2022-03-28 12:22] olinux commented on #318
Hi @lzehl ,
I think it's a good idea to not overload the "file repository" with multiple meanings and therefore support the suggestion to have a new "FileArchive". The way I understand #257 is meant would be different though since it asks for being able to reference files inside the archive.

We had another idea which is immediately compatible with everything we already have: Why don't we specify

[2022-03-28 14:26] lzehl commented on #318
@olinux not sure what you mean. Let's discuss this in person. But already before:

FileArchive properties:
+ IRI (required)
+ content (required, string)
+ format (required, contentType) [requires us to define at least one content type for the image service]
+ fileNumber (optional, integer)
+ configuration (optional, Configuration | cf. suggestion in #322)

[2022-03-28 17:33] Majpuc commented on #318
Hi guys, not DCI. It is DZI.

[2022-03-28 17:34] lzehl commented on #318
@Majpuc :grin: thanks and what is the full name?

[2022-03-28 17:36] Majpuc commented on #318
Deep zoom image. https://openseadragon.github.io/examples/tilesource-dzi/

[2022-03-28 17:50] Majpuc commented on #318
No, for ingestion of images we have input formats and output (chunk)formats. I will add you to the collab where some of this is described.

[2022-03-28 17:53] lzehl commented on #318
@Majpuc thanks but that is not what I mean.

[2022-03-28 17:54] lzehl commented on #318
who is using the dzi files that are created by the image-service?

[2022-03-28 18:01] Majpuc commented on #318
DZI chunk format is used for all 2D image data, both viewers (Localizoom and Multi-image OSd viewer) and tools ( WebAlign and Scaler service)

[2022-03-31 13:45] lzehl commented on #318
solved in #325

[2022-03-31 13:45] #318 closed

[2022-03-31 13:47] lzehl commented on #322
@Peyman-N you referenced the wrong PR. You mean #323 no?

[2022-04-06 09:38] lzehl commented on #322
@Peyman-N happy to help :)

To the remaining issue about the independence of ProtocolExecution from ExperimentalActivity:

The protocol execution is a general activity that does not have to be related to an activity for experimental data. It could also be used for simulated data or computation descriptions when users do not want to go to in-depth metadata. I would keep it separate so that we can c

[2022-04-06 11:47] UlrikeS91 commented on #322
Agreed :)

[2022-04-08 15:52] Peyman-N opened #32 "Discussion about openMINDS-chemistry extension."
As a response to the issues raised in the isses on openMINDS-ephys  [#7](https://github.com/HumanBrainProject/openMINDS_ephys/issues/7), [#8](https://github.com/HumanBrainProject/openMINDS_ephys/issues/8) [#9](https://github.com/HumanBrainProject/openMINDS_ephys/issues/9) etc, we (me and @apdavison ) are fast tracking the openMINDS-chemistry. The extension is ready and awaits a final decision on h

[2022-04-11 18:08] lzehl commented on #32
@Peyman-N and @apdavison thanks for pushing this. I think both options have good aspects but I don't think either is a perfect solution.

Before providing feedback I'd like to summarize some information around the topic:

A **chemical product** could be interpreted in two different ways: It is either some chemical material that I can buy or the result of a chemical reaction (chemical transformatio

[2022-04-12 07:21] lzehl commented on #32
a paper that could be of interest here https://doi.org/10.1186/s13321-019-0357-4

[2022-04-12 08:00] lzehl commented on #32
Here some suggestions for the extensions focusing on vendor independent metadata for chemical mixtures (keeping your suggestions, the gathered information and the approach of the paper in mind):

Schema suggestion **ChemicalMixture**:
property | value count | value type
--- | --- | ---
"type" | 1 | controlledTerms/ChemicalMixtureType
"solvent" | 1 | ChemicalIngredient OR ChemicalMixture
"solute" |

[2022-04-19 10:02] UlrikeS91 commented on #32
These are good suggestions, but I'm not sure they will work.

The trademark schema is a bit confusing. The trademark should be a property of the chemical or chemical mixture. Yes, a chemical or mixture can be distributed/manufactured at different places, but there are differences and a trademark would also imply that it is a single protected entity. But this setup make it possible to link a chemic

[2022-04-21 08:32] lzehl opened #330 "request for open value ranges"
@HumanBrainProject/openminds-developers we frequently get the request to allow for open ranges specifically for age information.
E.g. indication that all participants were at least 18 years old or older.

I see three options how we can solve this within the schemas:

1) make both minimum value and maximum value in the QuantitativeValueRange schema optional (less preferred option from my side)
2) i

[2022-04-21 09:08] UlrikeS91 commented on #330
3.) would be best, but I understand the issue. If we need it asap, then I would go for 2.) and not for 1.)

[2022-04-25 09:21] olinux opened #33 "Specify which fields can contain markdown"
We encountered markdown syntax in some of the "controlled terms" - however, the description of those properties (e.g. "description") in the schema doesn't tell anything about it. From a consumer (and validation) perspective, it would be nice to flag those fields which are containing a specific syntax.

[2022-04-25 11:48] jcolomb commented on #330
what about having a value set for this purpose in the QuantitativeValueRange schema, so you can set minimum value 18, maximum value of "undefined" or "right-censored-data" or some other term you would find appropriate?

It might make sense for other kind of range where the maximum is only the maximum we are looking at (example max time to find a platform in a water maze experiment)

[2022-04-25 12:08] Peyman-N commented on #330
I really prefer option 3 too.
But I fail to see why if we do it with `ONE-OFF` would cause any problem. For example this should work sufficiently enough:
[code]
Dose it cause a problem with generator ?

[2022-04-25 12:09] lzehl commented on #33
@olinux in principle we could assume for all strings markdown syntax, no?

[2022-04-25 12:18] lzehl commented on #330
@Peyman-N & @jcolomb thanks for the suggestion but the problem here is that you have to defined it for both ranges which could then lead to the following: (infinity to infinity), (undefined to undefined), (undefined to infinity).

With the "one-off" option, I meant a schema definition where you have to state either a minValue, or a maxValue or both which I think is not possible at the moment.

[2022-04-25 12:26] Peyman-N commented on #330
We can move the "oneOf" to a higher level. Meaning having only three options. But for "string OR number", it depends on the KG language, in python a float value can be 'inf'.
positive_infinity = float('inf')

[2022-04-25 12:34] lzehl commented on #330
@Peyman-N I don't now what you mean. You cannot define a oneOf (etc) for properties. Only for values. And we would need it for properties, specifically for stating the requirement of properties.

[2022-04-25 12:46] lzehl commented on #330
@Peyman-N the "required" does not fit with this schema and "anyOf" would be an actual property name not a technical option. Each "anyOf" option has to be value (which could be a number, string etc or an object). But the way you stated it in the example is incorrect I think.

[2022-04-25 12:49] lzehl commented on #330
Please prove me wrong though :sweat_smile: it would be great if it would be an easy implementation but from what I looked at it doesn't work (at the moment).

[2022-04-25 13:07] Peyman-N commented on #330
hahahaha, I think it works as intended, I checked the following schema with a [JSON Schema Validator](https://json-schema.hyperjump.io/) and it works as intended.
[code]
for the following instance pass the test:
[code]
and following instance too:
[code]
but following instance don't meet the requirements
[code]
Beside this, I cheeked the [documentation](https://json-schema.org/draft/2020-12/json-sc

[2022-04-25 13:57] lzehl commented on #33
based on our in person discussion we indeed go with the option ` "_syntax": "markdown" ` for string values. that way the schema validator will ignore the definition but interpreters such as the KG can use it as a controlled statement for fields that should be interpreted via markdown

[2022-04-25 13:57] lzehl commented on #33
I'll prepare the PR for the respective schemas and let you know when to update the pipeline

[2022-04-25 14:45] apdavison commented on #32
Thank you @lzehl  and @UlrikeS91 for the feedback.

**What is the extension for?** Reproducibility and interpretation. A scientist in the same field should be able to recreate or purchase the same chemical (pure or mixture), or identify problems with the protocol that was used (e.g. if a specific batch from a given manufacturer was known to be contaminated). The reason for having this information

[2022-04-25 15:22] lzehl commented on #330
@Peyman-N sorry yes you are correct but in the end this is exactly what I said: the oneOf (etc) option only works on whole objects or simple values. You are defining three different objects/schemas within one object in your case (and if we do that we can also go with option 2) not defining at least specify one of the required properties. You're suggestion will be also highly difficult to interpret

[2022-04-26 08:21] Peyman-N commented on #330
I see, so let's go with option 2.

[2022-04-26 08:33] jcolomb commented on #330
For the name, I would use unbounded instead of open, as "open" is used to say the limit is included in the interval :
https://en.wikipedia.org/wiki/Interval_(mathematics)#Classification_of_intervals

[2022-04-26 10:58] lzehl commented on #330
@jcolomb yes that is a good point. QuantitativeValueRangeUnbounded is very long... but that is unavoidable in that case.

[2022-04-29 16:09] lzehl commented on #32
@UlrikeS91 and @apdavison thanks for picking up my suggestions. here my feedback (first for now only for the ProductSource / Trademark; feedback on the others will follow)

**CommercialSource**:
(I suggest that name because we are only interested in additional information when substances were not selfmade but purchased)
property | value count | value type
--- | --- | ---
"productName" | 1 | string

[2022-05-03 14:12] UlrikeS91 commented on #32
@lzehl and I had a discussion about this last week to sort our thought on this. We had very different ideas about the purpose of the schemas. I believe that this is part of why we couldn't land on anything yet. The semantics have additionally contributed to this.

Let's start with the semantics:
The chart below illustrates and defines the two types of matter. A substances is part of a mixture, but

[2022-05-20 10:03] lzehl commented on #32
(Meeting Ulrike, Peyman, Andrew, Lyuba) Discussion results:

+ CommercialSource rename ProductSource
+ property "vendor" rename to "provider"
+ property "chemicalSubstance" rename to "molecularEntity"
+ split ChemicalSubstance in two: ChemicalSubstance & AmountOfChemical
+ ChemicalSubstance:
   - remove property "proportion"
   - add property "purity" also here (optional)
+ AmountOfChemical:
   -

[2022-05-23 12:04] Peyman-N commented on #32
Here is what we agreed on so far. Please check, whether it matches your recollection.

### ChemicalSubstance
property | count | value | (potential) instruction
-- | -- | -- | --
lookupLabel | 0-1 | string | Add an appropriate look up label for this substance.
molecularEntity | 1 | CT/MolecularEntity | Add the name of the molecular entity that makes up the substance.
purity | 0 - 1 | core/QV or cor

[2022-05-23 12:07] Peyman-N commented on #32
Another point is the fact we should decide on the name of this extension. For the moment we have three options :
1 openMINDS-chemistry
2 openMINDS-chemicals
3 openMINDS-chem
We want to avoid the misconception that we are trying to represent all of chemistry.

[2022-05-24 16:14] lzehl commented on #32
@Peyman-N I would go with openMINDS_chemicals. @apdavison and @UlrikeS91 what do you think?

[2022-05-24 16:15] lzehl commented on #32
@UlrikeS91 due to the close relation I would put tracer, antibodies, etc into the openMINDS_chemical extension.

[2022-05-25 05:36] UlrikeS91 commented on #32
@Peyman-N your summary in [this comment](https://github.com/HumanBrainProject/openMINDS/issues/32#issuecomment-1134587035) looks good to me and seems o have all the updates that we discussed :)

I would also vote for openMINDS_chemicals.

@lzehl, yes. Good idea. Nice to collect them in one place and they are of course chemicals 😉

[2022-05-25 07:16] Peyman-N commented on #32
@lzehl and @UlrikeS91 thanks a lot.

openMINDS_chemicals was mine and @apdavison preference too.

Actually I wanted to raise this with you. I was asking about it from Andrew on Monday.

Finally, @UlrikeS91 can you please create a openMINDS logo for openMINDS_chemicals please.

[2022-05-25 07:26] apdavison commented on #32
great. @Peyman-N I've forked your repository to https://github.com/HumanBrainProject/openMINDS_chemicals - please go ahead and update the JSON schemas.

[2022-05-25 07:37] apdavison commented on #32
@lzehl @UlrikeS91 @Peyman-N you've all got admin permissions for [HumanBrainProject/openMINDS_chemicals](https://github.com/HumanBrainProject/openMINDS_chemicals)

[2022-05-25 08:27] UlrikeS91 commented on #32
Done ☺️

[2022-05-25 09:18] Peyman-N commented on #32
@UlrikeS91 thanks a lot :relaxed:

Everyone the version 1 is ready :partying_face:, thanks a lot for your inputs and contributions.
Please let me know if you have any additional remarks.

P.S.  I would create an issue on openMINDS-chemicals so we can disuses the future schema that we can add to version 2 like: tracer, antibodies, etc.

[2022-05-25 10:58] lzehl commented on #32
@Peyman-N for consistency with the other repositories the name of the repository has to be `openMINDS_chemicals` not `openMINDS-chemicals`

[2022-05-25 10:58] lzehl commented on #32
@Peyman-N never mind I just saw the Andrew already set it up correctly :+1: :slightly_smiling_face:

[2022-06-15 11:59] Majpuc commented on #294
Hi, some considerations and questions:

1. There are 9 versions of Nutil on NITRC. Only 3 of them are listed on EBRAINS (0.33, 0.403, 0.7.0). Do you want content type for all of them? v0.33 did not have a .nut file but an Excel template. If we are sticking to v0.403 and 0.7.0 then there are 2 versions of the nut file. If we are interested in all 9 versions then we'll have to go back and compare. M

[2022-06-23 07:24] MaaikevS commented on #293
As discussed in the PR #332, the meshview contentType mentioned in this issue is rather a Nutil contentType.
@Majpuc Unless there are other contentTypes for Meshview that need to be mapped, we can close this issue.

[2022-06-23 07:36] MaaikevS commented on #293
@lzehl I think you may want to create another contentType for the meshview input that is saved as a csv file?
The coordinates would be stored as follows:

[2022-06-23 07:42] MaaikevS commented on #294
@lzehl @jagru20 Could you have a look at Maja's comment and let me know your thoughts?
I am happy to make the contentType instances once we have settled on them. Let's try to get this issues closed asap!

[2022-06-23 07:44] lzehl commented on #293
I would define it yes. Probably as application/vnd.meshview.coord+csv

What I do not understand how the CSV you show above match with the input structure you stated before ([x1, y1, z1, x2, y2, z2,..., xn, yn, zn]). Maybe this is just a misunderstanding... but the above CSV would translate to a list of list I think  ([[x1, y1, z1], [x2, y2, z2],..., [xn, yn, zn]]). @apdavison could you have a look

[2022-06-23 07:47] MaaikevS commented on #293
So the input structure we discussed above ([x1, y1, z1, x2, y2, z2,..., xn, yn, zn]) is for how the coordinates are stored in the meshview compatible json file. This is different from the way the CSV is organised.

[2022-06-23 09:14] Tevemadar commented on #293
While the format itself is under change at the moment, it looks like this:
[code]
The gist of it is that a cloud has a color (`rgb` fields, all of them in the range of 0-255), a display `name`, and the points. Right now there is an actual `count` field and so `triplets` are expected to contain 3*`count` coordinates. There are a couple more, optional fields too, not shown here.

This is "MeshView J

[2022-06-23 10:42] MaaikevS commented on #293
Thanks @Tevemadar.
We have already taken care of this one in PR #332 as a nutil output that can be used as a meshview input.

We are now discussing the format of the values (e.g. csv) that could be pasted into the "cloud from coordintates" section in MeshView.

[2022-06-24 07:15] jagru20 commented on #294
I think the only thing I can really comment on at this point is, that curating the nutil features as different softwareVersion instances would be no problem, as they can still be linked to the nutil software instance. In fact, this could possibly be a use case for the "isAlternativeVersionOf" property, what do you think @lzehl?
Alternatively we can also split them on the ResearchProduct (i.e. Soft

[2022-06-24 07:21] lzehl commented on #294
For point 1 in @Majpuc last comment:
I actually would suggest (in the long run) to register all Nutil versions in EBRAINS to have a full representation. Respective contentTypes (if they are version dependent) need to be generated in that case.

I have a question for point 2 in @Majpuc last comment before I can answer:
Are the Nutil "features" independent software components, meaning can they be in

[2022-06-24 07:27] Majpuc commented on #294
Point 1: Yes, indeed
Point 2: No, all the features are available in the same package.

[2022-07-14 17:10] lzehl opened #335 "request to add identifiers.org IDs as option to DSV digitalIdentifier"
Example for identifiers.org usage in Neurovault: https://identifiers.org/neurovault.collection:XXXX

@olinux I could use your help with this.

[2022-07-19 11:48] #322 closed

[2022-07-21 12:36] lzehl commented on #306
APPROACH (discussed with @UlrikeS91):

**semantic time relations**
+  are purely registered through "descended from" (meaning unidirection from new pointing to old)

**relative time indiction**
+ add property "relativeTimeIndication" (optional, n = 0-1) pointing to QV and QVA

[2022-07-21 13:03] #306 closed

[2022-07-26 12:17] lzehl commented on #143
@apdavison the "inputData" can reference now to
        "https://openminds.ebrains.eu/core/DOI",
        "https://openminds.ebrains.eu/core/File",
        "https://openminds.ebrains.eu/core/FileBundle",
        "https://openminds.ebrains.eu/core/URL"

I think this resolves the open points of this issue, correct? please let me know if we should add FileRepository to the list as well. Note that this

[2022-07-26 12:18] lzehl commented on #183
@olinux it would be good to receive your input here.

[2022-07-26 12:36] apdavison commented on #143
it's probably ok without FileRepository, so all is good.

[2022-07-26 12:44] lzehl commented on #189
cf. #337

[2022-07-26 13:00] lzehl commented on #143
perfect. I'm closing the issue then and we can revise adding the FileRepo when we encounter a use case where this would be absolutely required.

[2022-07-26 13:00] #143 closed

[2022-07-26 13:29] lzehl commented on #210
I will close this issue and will open a new one that is targeting the assessment of the current BehavioralProtocol schema. This update will most likely be not part of the openMINDS release v3

[2022-07-26 13:29] #210 closed

[2022-07-26 13:38] lzehl commented on #288
Let us close this issue for now. We should reevaluate the Person and Organization schemas once visualization of those elements is more tested

[2022-07-26 13:38] #288 closed

[2022-07-26 13:48] lzehl commented on #256
@skoehnen just as a reminder that we could implement this as feature for the new version of the Python library. I suggest to implement the validation as separate function that a user can call when ready (with warning / error reports):
+ validation of individual instance, e.g., my_instance.validate()
+ validation of collection, e.g., my_collection.validate()

Validation should include simple value

[2022-07-26 13:48] #256 closed

[2022-08-09 09:02] apdavison opened #338 "Add ISSN to list of digital identifiers"
needed by the "publications" module, to identify journals

https://www.issn.org
https://en.wikipedia.org/wiki/International_Standard_Serial_Number

The pattern should be something like `^[0-9]{4}-[0-9]{3}[0-9xX]$`

[2022-08-09 09:39] lzehl commented on #338
@apdavison yes. I'll prepare a PR for you to review.

[2022-08-09 10:21] #338 closed

[2022-08-09 10:21] apdavison commented on #338
That was quick! Many thanks @lzehl !

[2022-08-20 22:30] ehennestad opened #340 "Suggestion: Add attribute/property to schema to indicate if it is abstract"

[2022-08-21 17:20] ehennestad opened #341 "Question: Why is there no description for a schema?"
Many properties have instructions and controlled terms have definitions and descriptions. Why is there no description for schemas?

[2022-08-21 18:06] lzehl commented on #341
Dear @ehennestad schemas and properties also have descriptions but they are centrally defined and maintained on the openMINDS main Github (schemas are handled in types.json and properties are handled in properties.json).

We might lack behind some of the types and properties though because of the work load and many updates we had in the last year.

[2022-08-30 08:15] lzehl opened #343 "Atlas and Common Coordinate Spaces on level of RP/RPV"
Atlases or specifically their parcellations are often as whole used / applied to data in other studies. Currently the usage of a whole atlas can only be registered via the top level Parcellation Entity of an atlas (if that exists) under "study target". I think it would be cleaner and more accurate to allow Brain Atlas Versions as input data in this context. In addition individual brain regions of

[2022-08-30 08:16] lzehl commented on #343
If the others agree @olinux this would mean for EBRAINS to visualize "data input" soon.

[2022-08-30 11:37] UlrikeS91 commented on #343
I think this sound valid. For several of our own datasets from Oslo, this would be very useful to have. One could add the underlying datasets for the atlases, but then things like to coordinate space would be missing, which is crucial information.

Is your idea to allow BOTH brain atlases and common coordinate spaces to be options to link under "input data"? I'm not sure if the latter would make s

[2022-08-31 08:12] lzehl commented on #343
@UlrikeS91 yes both brain atlas versions and common coordinate spaces should be added as "input data".

The common coordinate spaces are frequently used to transfer multiple patient data into the same space to display them for example in overlays without the aim of using an atlas in addition. Also some coordinate spaces actually allow immediate relation to multiple atlases without the data that we

[2022-08-31 11:48] lzehl opened #345 "Registration of Data Use Agreements as licenses?"
https://data.donders.ru.nl/doc/dua/RU-DI-HD-1.0.html?1

@apdavison and @UlrikeS91 specifically for externally published data, should we register DUAs as licenses (similar to the HDG EBRAINS DUAs we registered)?

[2022-08-31 11:53] apdavison commented on #345
for clarity, I suggest adding a new schema for DUAs

[2022-08-31 13:09] UlrikeS91 commented on #343
Ok. Your use case makes sense. Then it should be fine to have both as options.

We can discuss the atlases at some point. From the rodent side, Waxholm atlas is pretty complete, but Allen atlas is lacking quite a bit of information...

[2022-08-31 13:14] UlrikeS91 commented on #345
A separate schema for DUAs is probably smarter. They do not have the same field as licenses and we already agreed when we added the EBRAINS DUAs that this is not a pretty fix but a good enough workaround for now. If we want to expand on this list, we should maybe fix it properly now.

[2022-08-31 13:30] lzehl commented on #345
@apdavison and @UlrikeS91 I agree with the both of you but we didn't do this for EBRAINS at the moment either because it entails a longer discussion (politically).

If you have a concrete suggestion that we could quickly implement (openMINDS is less of an issue here) and properly define a way of handling this in EBRAINS (display wise in the KG and politically wise because of missing licenses) plea

[2022-09-01 08:50] UlrikeS91 commented on #345
I assume that there won't be a quick solution, but we should raise this issue anyway. Until then, if you need the other DUAs urgently, I would agree that we stick to the workaround for now.

[2022-09-09 08:55] lzehl opened #346 "Reassessment of stimulation as schema, in techniques, and in protocols/behavioral protocols"
This issue is related to the discussion that started in [controlledTerms PR 293](https://github.com/HumanBrainProject/openMINDS_controlledTerms/pull/293)

Issue: we need a cleaner solution between stimulation as technique, stimulation concepts and stimulation as in-depth schema to describe exactly how a stimulation was applied.

The following lists represent the current status of stimulation and i

[2022-09-09 09:22] lzehl commented on #345
we can come back to finding a better solution later on in a separate issue. thanks for your quick feedback and support with this one.

[2022-09-09 09:22] #345 closed

[2022-09-09 09:24] lzehl commented on #343
@UlrikeS91 okay. I'll prepare the PR
@olinux let's discuss visualization of input data soon for EBRAINS

[2022-09-09 09:24] lzehl commented on #343
@UlrikeS91 quick follow up question: only BAV as input or also BA ?

[2022-09-09 10:17] UlrikeS91 commented on #343
I would say only BAV. Is there a use case where all versions of an atlas have been used as input data? This would be the only reason to allow BA as well.

[2022-09-09 10:20] lzehl commented on #343
@UlrikeS91 agreed the use case of all versions as input is unlikely and can be covered by listing them all. I'll make the PR asap

[2022-09-09 10:50] #343 closed

[2022-09-12 10:49] xgui3783 opened #350 "add content-type for voluba linear transformation json"
We would like to propose the linear transformation json for voluba to be added to the content-type to openminds, and update voluba, so that the input and output is of this type.

suggested mimetype:

`application/vnd.voluba.v1.linearTransform+json`

ping @fsdavid and perhaps @JThoennissen

We are happy to raise our own PR, if it suits everyone.

[2022-09-12 11:36] xgui3783 commented on #350
also maybe ping @skoehnen

[2022-09-12 12:12] lzehl commented on #350
@xgui3783 that means that VoluBA currently only can do linear transformations?

Can you quickly describe / correct the workflow for the input and output?
+ JSON as input: holds already the linear transformation needed to display input image in the BigBrain space
+ JSON as output: contains the new linear transformation that was needed to place input image correctly in the BigBrain space

[2022-09-12 12:13] lzehl commented on #350
If that fits feel free to make a PR

[2022-09-13 11:15] xgui3783 commented on #350
This is accurate.

This is correct

This is also correct.

[2022-09-13 12:05] lzehl opened #352 "adding 'format' property to StringProperty?"
Idea: a StringProperty is a user-defined key-value pair that assumes a string. It would be great if a user could define in addition the format of the string value he/she provided.

Example:
+ name: applicationDate
+ value: 2022-09-13T20:20:39+00:00
+ format: datetime

@apdavison @Peyman-N @UlrikeS91 what do you think?

[2022-09-13 12:09] lzehl opened #353 "adding 'performedBy' for ProtocolExecution or Activity"
@apdavison @Peyman-N you should review this issue critically to see if this fits also for extensions

We (@UlrikeS91 and me) are thinking to add an optional 'performedBy' / 'agent' property to the ProtocolExecution.
I know that you typically ask for this info also for the extensions. Should we therefore add it rather to Activity (so that all extending schemas inherit the field)?

[2022-09-14 07:35] apdavison commented on #353
To be honest, I thought it was already in Activity!

[2022-09-14 07:39] lzehl commented on #353
@Peyman-N and @apdavison :smile: then this is a clear GO for adding it to Activity. Which property name do you prefer ? ( aslo @UlrikeS91 ) I don't have a strong opinion.

[2022-09-14 07:42] apdavison commented on #353
In computation, we have the field "startedBy", since computations are assumed to be automated ones. W3C PROV uses "wasAssociatedWith" for the direct link, together with an optional "qualifiedAssociation" to specify the role taken by the agent.

[2022-09-14 08:12] lzehl commented on #353
So if we add this now to Activity then it needs to work for all extended schemas.

If you use "startedBy" in computation maybe "performedBy" (linking to -> SoftwareAgent, Person) would be a good option for all?
"agent" might not be so intuitive as "performedBy". What do you think?

Independent of the property name: we could also point to Contributing instead of Person to include the role that pers

[2022-09-14 08:52] apdavison opened #354 "Some organizations have two parents"
The current Organization schema assumes an organization has zero or one parent organizations.

However, many French research units have two or more parents, typically a university plus one or more national research organizations such as the CNRS, CEA.

[2022-09-14 09:02] UlrikeS91 commented on #352
I support this!

[2022-09-14 09:41] UlrikeS91 commented on #353
I agree that "performedBy" is more intuitive and should fit all the examples that were mentioned here.

What is the exact problem with the `Contribution` schema? As you said, it contains the `ContributionType` (--> controlledTerms/ContributionType) and the `Contributor` (--> core/Person).

For the example where I need this property, they would like to add the person that collected the data (aka da

[2022-09-14 09:53] lzehl commented on #354
@apdavison feel free to do the change. I wasn't aware of this dual parenting.

[2022-09-26 13:20] UlrikeS91 opened #357 "Service link - data location: updates needed"
In an offline meeting with @apdavison , @Peyman-N and @lzehl, we discussed a `recording` schema. This schema will have a property called `dataLocation`, which is the same property used for the `service link` schema.
However, we discussed that the options for data location for service links are not ideal. For recording, the linked types are both `file` and `file bundle` (service links only allow fi

[2022-10-03 14:27] Peyman-N opened #359 "Adding device usage to stimulation"
In an offline discussion between me and @apdavison , we came cross the fact that the stimulation doesn't have any devise attached to it. We think this can help to clarify the roll of the devices used for stimulation in the openMINDS extensions.
@UlrikeS91 and @lzehl what are your thoughts regrading this?

P.S. I have already created the pull request #358

[2022-10-04 06:46] lzehl opened #360 "request: add "consortium" as legal person"
There is a request from @maciej-jedynak to add a "consortium" schema as legal person

Definition:
A consortium is an association of two or more individuals, companies, organizations or governments with the objective of participating in a common activity or pooling their resources for achieving a common goal. (https://en.wikipedia.org/wiki/Consortium)

I was thinking of making a simple schema:
+ sh

[2022-10-04 07:54] apdavison commented on #360
ok with me

[2022-10-11 08:30] UlrikeS91 commented on #360
Same here. Sounds useful, no objections 🙂

[2022-10-18 12:39] lzehl commented on #353
I think we all agree on the action point that we'll add performedBy to Activity schema.

This property should for sure link to softwareAgent and Person.

The issue I raised about the Contributing schema is a semantic one. It should be called Contributor and not Contributing and it should be ContributorRole not contributingRole... This is only a slight difference but it makes a difference for findi

[2022-10-21 06:07] lzehl commented on #360
@olinux & @bweyers I will implement this request then. @olinux once it's done the EBRAINS KG (Editor & Search) needs an update I assume.

[2022-10-25 09:41] lzehl opened #361 "grouping research products under a user-defined topic in projects"
I received a request for the possibility of grouping research products under a user-defined topic in projects and also if it would be possible to let the user decided in which order these groupings are displayed (the latter part actually is not really an openMINDS issue but a matter of how the data management system interprets openMINDS: @olinux that would affect the EBRAINS KG).

If projects are

[2022-10-27 11:15] ehennestad opened #37 "Suggestion for Readme"
Just found out that cloning this repo with the Github Desktop app cause some errors when trying to change branches due to github desktop not being compatible with submodules.

I suggest to add a few lines to the readme, that this repo should be cloned from the terminal, and not through e.g Github Desktop

[2022-11-08 08:45] lzehl commented on #357
@UlrikeS91 did we solve this in the meantime or did we overlook that we already allowed the service link to provide file, file bundle (+ file archive, parcellation entity version, live paper resource item) under data location? cf:

https://github.com/HumanBrainProject/openMINDS_core/blob/v4/schemas/data/serviceLink.schema.tpl.json

I think with this we can close this issue correct?

[2022-11-08 09:07] lzehl commented on #352
@UlrikeS91 @apdavison @Peyman-N if we implement this should 'format' be optional or required?

[2022-11-08 10:26] UlrikeS91 commented on #357
Good question, but I guess it doesn't matter what happened 😆 It's already part of the schema, so we can close the issue.

[2022-11-08 10:26] #357 closed

[2022-11-08 14:38] lzehl commented on #346
@Peyman-N and @apdavison please have a look at this issue and the idea below for our discussion on stimuli and stimulations:

@UlrikeS91 and I discussed this issue briefly and ended with the following idea:
- We extract the stimulation techniques out of the Technique terminology and collect them separately in StimulationTechnique (new terminology).
- The names/labels of these StimulationTechnique

[2022-11-14 07:54] apdavison commented on #352
optional

[2022-11-28 15:01] lzehl opened #368 "adding other user IDs to Person schema"
@apdavison you raised this issue within EBRAINS but I think it belongs here.

Idea: besides defining the globally unique digital identifiers of a Person, allow a Person to specify user IDs for different accounts of interest (e.g. EBRAINS IAM, but also GitHub, GitLab, etc.)

Potential solution:
- add 'accounts' (or ?) property to Person schema that links to (0-N) new UserAccount schema
- UserAccoun

[2022-11-28 15:03] lzehl commented on #368
@HumanBrainProject/openminds-developers please have look and make suggestions

[2022-11-28 15:19] lzehl commented on #368
@apdavison that is a good idea. But I do have some questions then about how you want to register a WebService. Because I don't see the current suggestion fit for GitHub or GitLab (but maybe I misunderstand it). What would be the version in these cases and who are the developers?

[2022-11-28 15:29] lzehl commented on #346
@tgbugs please feel free to comment as well in this issue

[2022-11-28 15:29] apdavison commented on #368
For GitHub, the developer would be the Github organisation, version "v1" or "n/a"

For self-hosted Gitlab, the developer would be GitLab Inc, I guess, and then the version number would reflect whichever version of the Gitlab software has been deployed.

[2022-11-28 15:33] lzehl commented on #368
@apdavison could you define the GitLab of EBRAINS as example?

Would that not also mean that we should make Web Services controlled instances of openMINDS? (since they would be valid for typically many cases) New ones should then be requested through openMINDS GitHub.

[2022-11-28 17:20] apdavison commented on #368
I would not make WebServices controlled instances, for the same reason Software does not use controlled instances.

[2022-11-29 10:03] lzehl commented on #368
@apdavison okay and thank you for the example. then let's keep them user defined for now.

What about the changes now in the Person schema?
+ add 'accounts' (or do you have a better name?) property to Person schema that links to (0-N) new UserAccount schema
+ UserAccount schema properties:
   + accountType (-> link to WebService)
   + userName (string)

[2022-11-30 14:36] lzehl commented on #346
results of further discussion:
+ make stimulus type a category and split terminologies up according to stimulus approaches

prominent issue with electrical stimulations:
+ each stimulus may be generated by a different device
+ each stimulus is delivered through a electrode contact and not the electrode / electrode array device

Note : specifically the last point is not solved consistently yet. Sch

[2022-11-30 15:11] lzehl commented on #346
use cases for pure electrical stimulations that may help the discussion:

**A)** Single Electrode; one Cell; one Stimulus repeated 100 times
**B)** Single Electrode; one Cell; three Stimuli; each repeated 100 times; composition conditions: random (with or without delay between stimuli) OR alternating (with stimulus block of 2; with or without delay between stimuli, and/or with or without delay bet