[2019-10-30 14:27] skoehnen opened #4 "Change URL to AccessMethods"
During a discussion during our frontend meeting we came to the conclusion that it makes sense to add the possibility to support more than one way to access the file (CSCS Download, Image-Service).

[2019-10-30 14:38] skoehnen commented on #4
On second look the url was already an array.

[2019-11-29 09:17] lzehl commented on #4
Does this mean we can close the issue?

[2019-11-29 09:18] lzehl commented on #4
Or to be more precise: is it still necessary that I integrate your pull request?

[2019-12-10 10:29] ieaasebo opened #6 "Missing comma in core.dataset.schema"
Line 15 after "fundingInfo".

[2019-12-10 11:00] lzehl commented on #6
Thanks :) solved it!

[2019-12-10 11:00] #6 closed

[2019-12-10 11:56] ieaasebo opened #7 "Minor syntax issues"
Since I was already on it :)

model.schema.json
-line 35. Missing entry
subject.schema.json
-line 86. remove comma or add another entry to array
temporalSubjectInfo.schema.json
-line 40. remove comma or add another entry to array

[2019-12-10 12:29] lzehl commented on #7
Keep collecting :) I'll try to fix all of them along the way :)

[2019-12-10 12:39] skoehnen commented on #7
Should we maybe set up continuous testing for this repository?
Then those errors would pop up instantly.

[2019-12-10 14:55] lzehl commented on #7
I think that's a great idea! Would you take care of it?

[2020-03-10 06:28] tgbugs opened #11 "file bundles?"
Is the concept of a file bundle still present? I couldn't spot it in any of the schemas.

[2020-03-11 13:34] lzehl commented on #11
Hi, yes, the concept of file bundles is still present. We played with the thought to only define one schema for a single file instance and a file bundle, because we basically asked the same thing for both, but came to the conclusion that we will handle them most likely separately in openMINDS v3.

Let's keep in touch about this. Best, Lyuba

[2020-03-11 13:58] jcolomb opened #15 "change name for next version ?"
"openminds" gives too much hits on google and make the project difficult to find when one only has its name. (each time I want to come here, it takes me minutes...)

[2020-03-11 14:03] lzehl commented on #14
Hi, this is a bit difficult for openMINDS which is supposed to be a generic schema for neuroscience data across modalities and species. For humans it is not allowed to capture a birth or death date. Also this information is not necessarily captured for animals (although it should). With this you need to separate age from the subject metadata block, because the age is measured at the time of the ex

[2020-03-11 14:03] skoehnen commented on #4
I think this is fine as is.
I will close this.

[2020-03-11 14:03] #4 closed

[2020-03-11 15:26] lzehl commented on #15
Use hbp openminds :) that should lead you always to this project. We are historically bound to use MINDS, but needed a new name because MINDS is used in a similar context by another project. I'll keep it in mind though ( ^^ ). After a long discussion we agreed to openMINDS. Maybe we can add HBP or EBRAINS to the name. This is not my decision though, I need to discuss this in the curation team.

[2020-05-10 13:51] lzehl opened #19 "update all $ref to resolve in jsonschema.RefResolver"
The schemas are defined here on the GitHub. If people are downloading the schemas in order use them for example in a Python script the $ref need to resolve in the jsonschema.RefResolver.
Solution:
+ needs relative path?
+ needs URL to GitHub schema file?

[2020-05-12 08:02] lzehl commented on #19
Feedback from Stefan: should resolve using the link to the GitHub file (raw).

[2020-05-12 08:39] jcolomb commented on #19
While technically easier to implement (one can get a part of the schema and get the other part directly via links to github), the link to the github file has some issues:

- dependence and persistence: what if microsoft turns github down: every link will go to a 404 (also if they decide to change the path to the raw files, actually).
- access: we saw last year that github closed its access to Iran

[2020-05-12 10:38] lzehl commented on #19
All good points I agree. Not sure how to proceed though.

For versioning: in the best case I can imagine, the schemas are version dependent, but the $ref is rather independent of the version (schema should be at the same location).

Problem at the moment: $id is currently only an identifier, but does not lead to a downloadable file.

Not sure if indirect paths could be used as $ref to get to funct

[2020-05-13 07:44] lzehl commented on #19
Feedback from Tom:
+ create a definitions.json file at the top folder (e.g., under v1.0 for MINDS) containing the $ref to all schemas (introduce short strings for shorter $ref in the schemas later)
+ use URI to GitHub raw files for $ref
+ import definitions.json into each schema, and use this to reference to other schemas

I will follow this approach. The references in the definitions.json file ar

[2020-05-28 13:30] lzehl commented on #19
@UlrikeS91 : thanks for helping. Here what needs to be done (v1.0):
- use $id of schemas in definitions.json for referencing between schemas
1) add "defintions" to each schema (see activity for example)
2) change $ref in each schema to $id of definitions (see activity for example)

[2020-05-29 08:55] UlrikeS91 commented on #19
Hi @lzehl,

I added `"definitions"` to all schemata (each as it's own pull request). For some of them, I had some additional comments. Here a summary:

1. I noted down whenever a ref wasn't referring to the correct name of the schema. I don't know if this is important information, but it's an inconsistency. You need to be the judge on whether or not this is interesting. FYI most of them were repla

[2020-06-02 07:34] lzehl opened #46 "include missing schemas in v1.0"
include "file", "DOI", "parcellationAtlas", "parcellationRegion" into MINDS v1.0 (code, documentation?, definitions)

[2020-06-02 07:36] lzehl commented on #19
@UlrikeS91 : thanks for all the updates! I'm going to take care of the remaining issues before I close this issue. These open issues include : update missing v1.0 schemas, basic check if references are working as expected

[2020-06-02 08:50] lzehl opened #47 "update / extend uniMINDS v2.0 documentation"
@UlrikeS91 : thanks for taking care of this :) task description:
The documentation of the uniMINDS v2.0 wiki needs to be updated and extended:
+ format of wiki/docu should match MINDS v1.0 docu
+ softwarecatalog, softwarecatalog options, and neuralactivity schemas need to be added

[2020-06-02 09:30] lzehl opened #48 "add common metadata (@id) to KG Metadata Archive"
@UlrikeS91 : thanks for helping out with this!

 I've prepared a wiki page [KG Metadata Archive](https://github.com/HumanBrainProject/openMINDS/wiki/KG-Metadata-Archive) and pasted already some of the commonly used metadata in there.

If you want we can discuss what should go in there before you update the wiki. Just comment in this issue.

[2020-06-02 11:20] jcolomb opened #49 "role taxononmy: use CRO"
just saw there is a  role.schema.json file (that was just updated).

I would encourage you to use the CRO (contribution role ontology) which is the follow up of the CrediT. http://www.obofoundry.org/ontology/cro.html, https://github.com/data2health/contributor-role-ontology

If something is missing, expanding the CRO would probably be better than recreating an independent system, I know some of th

[2020-06-02 11:31] lzehl commented on #49
Hi! This is good feedback, thanks! The current role schema (in MINDS v1.0) is not further defined and used though. I will keep this issue open though for openMINDS v3.0.

@jcolomb : do you know if CRO is using datacite as basis? I was aiming to only cover roles defined by datacite.

[2020-06-02 15:36] lzehl opened #50 "correct license in schemas and add license/core/information.schema.json"
+ information.schema.json is used in KG for license information
+ discuss/rethink were to put this schema
+ update repo accordingly

[2020-06-03 08:31] skoehnen commented on #7
Is this still an open issue?

[2020-06-03 08:38] skoehnen opened #52 "Set up GitHub Actions for CI"
The HBP organisation now has access to Git Actions.

[2020-06-03 08:46] skoehnen opened #53 "Handling of python code in this repository"
How should we handle the mixing of python code and schemas in this repository.
The easiest solution would be to start a new repository and move all the python code there (which currently is only one file, but will probably be more in the future).

[2020-06-03 08:54] lzehl commented on #7
I think we can close it. I think I corrected all, but we anyway need to rewrite the v3 schemas soon.
For this reason, I'll close the issue.

[2020-06-03 08:54] #7 closed

[2020-06-03 09:02] skoehnen commented on #19
We should discuss the URL issue with the Knowledge Graph team, the best solution would be to get https://schema.hbp.eu up and running and deploy openMINDS there.

[2020-06-03 10:01] UlrikeS91 commented on #47
@lzehl: The v2 wiki is now updated and extended.

Some general comments:
- I made the wiki similarly to the v1 wiki (as you wanted)
- I sorted the properties for each schema to following way:
     1. `@type`
     2. `@id`
     3. `name` (always required; name = alias, name, title, etc.)
     4. other required properties sorted alphabetically
     5. optional properties sorted alphabetically
- I ap

[2020-06-03 11:07] jcolomb commented on #53
I think the cleanest way might be to create one parent repository where the python repo and the schema repos are both submodules. This would allow the possibility to add other submodules (R scripts doing the same, for instance) and keep the discussion in the sub-modules repositories. But I have no practical experience with this, there might well be something I do not think of.

[2020-06-03 11:26] skoehnen opened #59 "Problems in tissue sample schema"
Comments of @UlrikeS91

[2020-06-03 11:35] skoehnen commented on #52
The workflow is now up and running, and I fixed the errors as far as I could.
I will need some feedback on my changes in <file> in PR #58

[2020-06-03 13:56] mellybelly commented on #49
We can create a subset tag for the datacite roles if you like. Please make a ticket and let us know your needs and also to get notified when it is done.

[2020-06-03 13:59] mellybelly commented on #49
looks like you are needing contributor types here: https://support.datacite.org/docs/schema-optional-properties-v43 ?

[2020-06-04 07:50] lzehl commented on #53
Done :) code is going to be in HumanBrainProject/compile_openMINDS which will have a submodule to openMINDS
Note: the name might change

[2020-06-04 07:50] #53 closed

[2020-06-04 14:06] lzehl commented on #48
@UlrikeS91 : I think the following ones should be easy:
+ license/Information
+ minds/Preparation
+ minds/Sex
+ minds/Species

Here are the ontology "supported" modalities (at the moment):
+ expression
+ genomics
+ cell culture
+ histology
+ morphology
+ cell morphology
+ transcriptomics
+ electrophysiology
+ cell population characterization
+ radiology
+ microscopy
+ physiology
+ anatomy
+ optica

[2020-06-04 14:08] lzehl commented on #49
@mellybelly : yes :) thank you! This is exactly what I was referring to. For v3 I was planning to support those ones.

[2020-06-12 13:34] UlrikeS91 commented on #48
I added the `@id` for the MINDS v1 tables you added to the wiki except for minds/Files. This one should be discussed and go through a clean-up.

I didn't notice your modality list, but I cross-checked them and apparently your list was the same as the one I had. Only additional one is "multimodal" and "behavioural" is called "behavioural assay" (which you renamed yourself in the KG). If it should s

[2020-06-17 08:45] lzehl commented on #48
For "Formats2 I will go through the existing ones in the KG for preparing a clean up.

[2020-06-22 14:37] lzehl commented on #19
This issue is in principle solved at the moment (cf. v1.0). I will close it and open a specific issue on the domain vs raw ref to schemas ($id vs `@type; raw vs domain ref)

[2020-06-22 14:37] #19 closed

[2020-06-22 14:39] lzehl commented on #46
done with last pull request (#61)

[2020-06-22 14:39] #46 closed

[2020-06-22 15:45] apdavison opened #64 "Add @context to schemas"
I think all terms used in openMINDS should resolve to valid URIs. Probably the easiest way to implement this is to make the schemas JSON-LD docs. At the least, we should add a @context field to each document, e.g.
[code]

[2020-06-22 16:18] lzehl commented on #64
Hi Andrew. I agree that the schemas should resolve in valid URIs ($id & `@type needs to be discussed; should be ebrains.eu schemas).

The "`@context" is part of json-LD not of json-schema, though. The schemas should be written in json-schema (to separate them very clearly from the content holding json-LDs in the KG) and I would like to keep the json-schemas as light as possible to keep them human-

[2020-06-22 16:37] apdavison commented on #64
Hi Lyuba, I'd be happy to discuss this in more detail with you and Oli.

A few comments on your reply, in the meantime (-:

JSON schema documents can be written as JSON-LD, it seems (https://www.w3.org/2019/wot/json-schema).

My feeling is that adding the @context makes the schemas _more_ human readable, as it gives links to clear definitions for each of the terms. It is not in itself related to v

[2020-06-22 16:46] lzehl commented on #64
This is json-schema draft 10. We used draft 7 until now (that was the newest one when we started, and I think that wasn't an option for this draft version).

I'm glad to revise the draft 10 option for openMINDS v3, especially if it makes the json-LD conversion more simple. I'll have a look at it.

So far `@context` is not used in the json-LDs of the KG (at least I can't find it as a used keyword..

[2020-06-22 17:10] lzehl commented on #64
Hey. If I understood this now correctly the draft your referring to is not from https://json-schema.org. I guess it will therefore not pass any standard json-schema validation tool. Also : (from my point of view as I guess a naive programmer) the schemas of this draft do not look more simple to me, but way more complicated to read... I'm glad to be show otherwise though. Let's wait for Oli's comme

[2020-06-22 18:39] lzehl opened #66 "should $id equal @type ???"
@olinux : what do you think? I would like to minimize the differences between the current json-schema definitions and the options needed for the json-LDs.

Related to this:

I would like to have resolvable URIs for the json-schemas, but make use of the domains:
+ `https://schema.hbp.eu/minds/Person`
+ `https://schema.hbp.eu/uniminds/Person`
+ `https://schema.ebrains.eu/openminds/Person`

What do I

[2020-06-22 18:40] lzehl commented on #64
Seems like we are not the only ones discussing this:
https://github.com/json-schema-org/json-schema-vocabularies/issues/13

[2020-08-11 15:47] lzehl opened #67 "updating v3.0"
In the last weeks I had the chance to discuss a lot with Andrew, Benni and Oli about the latest version of v3.0 and started to develop a revised openMINDS model (documented elsewhere).

Although some details still need to be discussed the concept is now ready for pushing it on Github.
This will include a complete change of the v3.0 Wiki and code and will take some time.

We will do this update ste

[2020-08-11 15:52] lzehl commented on #67
@UlrikeS91 : I shared the external documents with you with the updated schemas.
I will frequently update the following check list of schemas we need to edit:
- [ ] `https://schema.ebrains/openminds/Project` (updated by Ulrike)
- [ ] `https://schema.ebrains/openminds/Product` (updated by Ulrike)

[2020-08-13 08:20] UlrikeS91 commented on #67
see #69

[2020-08-14 08:00] UlrikeS91 commented on #67
I've created product.schema.json and project.schema.json.

Comments/Questions:

About project: "hasProduct" expects "productVersion" and/or "product" for now. The available documentation is inconsistent (one expects "product" while the other expects "productVersion"). Each version would make sense and I can see how both could be useful: We could have cases where only one version belongs to a certa

[2020-08-18 07:44] lzehl opened #70 "improvement of validator"
@skoehnen could you add a validator to v1.0 or generalize the existing validator from v3.0 so that it validates v1.0, and v3.0 (and v2.0 if it would exist)? I would prefer the latter option (one validator at the top level).

Further we could make the validator (or validators) check more details of the implementations (which will be version dependent) that could help avoiding typical errors. I imag

[2020-09-04 10:33] jcolomb opened #72 "person.schema: why not use datacite json schema directly"
see https://github.com/datacite/schema/blob/master/source/json/kernel-4.3/datacite_4.3_schema.json

This may go around some discussion we had previously here #17
As I understood, datacite compatibility is a major conceern here, right?

[2020-09-15 09:07] lzehl commented on #72
Hi. Yes, in principle you are correct. We want to be compatible with other schemas as much as possible.
The datacite schema is though, less modular than we want it to be. I would prefer being compatible to elements of it, but keeping it close to the flexible design we want to have for the Knowledge Graph.

[2020-10-06 13:48] xgui3783 commented on #52
shut the front door... it what now?

[2020-10-12 11:55] lzehl commented on #11
@tgbugs I'm closing this issue now. We can come back to it on the corresponding issue for the schema (coming soon).

[2020-10-12 11:55] #11 closed

[2020-10-12 16:44] lzehl opened #73 "v3 schema-revision: researchProduct.schema.json"
The `researchProduct.schema.json` will be used to group different versions of one research product (dataset, model or software).
Note: this schema was previously documented as `product.schema.json`.

According to the current documentation, this schema will have the following properties:
- **alias** [expects: free text, count: 1]
- **custodians**: [expects: person.schema.json|organization.schema.js

[2020-10-12 17:32] lzehl opened #74 "v3 schema-revision: datasetVersion.schema.json"
The `datasetVersion.schema.json` will contain mainly bibliographical metadata on data structures originating from human or animal experiment or a simulation.
Note: in MINDS (v1), the related schema was defined as `dataset.schema.json`.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/datas

[2020-10-12 19:21] lzehl opened #75 "v3 schema-revision: modelVersion.schema.json"
The `modelVersion.schema.json` will contain mainly bibliographical metadata on data structures originating from a computational model.
Note: in uniMINDS (v2), the related schema was defined as `modelInstance.schema.json`.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/modelVersion"`), co

[2020-10-12 19:40] lzehl opened #76 "v3 schema-revision: softwareVersion.schema.json"
The `softwareVersion.schema.json` will contain mainly bibliographical metadata on data structures building a software tool.
Note: in uniMINDS (v2), the related schema was defined as `software.schema.json`.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/softwareVersion"`), count: 1]
- **`

[2020-10-12 19:47] lzehl opened #77 "v3 schema-revision: project.schema.json"
The `project.schema.json` will be used to group different research products or their versions.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/project"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **alias** [expects: free text, count: 1]
- **hasResearchProducts**: [expects: r

[2020-10-12 19:53] lzehl commented on #76
@bweyers could you please support us here and double check that everything you need for the software curation is in place considering this schema?

[2020-10-13 09:04] lzehl opened #78 "v3 schema-revision: controlledTerm.schema.json"
The `controlledTerm.schema.json` will be valid for all controlled terms that are going to be used in the EBRAINS KG.
Note: The actual controlled terms (JSON-LDs) for the KG will be created and maintained by the EBRAINS Curation Service in a different GitHub repository (coming soon). A user will be able to reference to the defined controlled terms on this GitHub by using their corresponding `@id`.

[2020-10-13 09:20] lzehl opened #79 "v3 schema-revision: fileRepository.schema.json"
The `fileRepository.schema.json` will be used to identify the overall repository in which the files of a research product version are stored.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/fileRepository"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **contentType** [expects:

[2020-10-13 09:30] lzehl opened #80 "v3 schema-revision: fileBundle.schema.json"
The `fileBundle.schema.json` will be used to group files of a research product either due to their hierarchical storage organization (folder in which files are located) or conceptually across the storage hierarchy (files across folders that contain the data of, e.g., the same modality).
Note: For some repository hosts (e.g. EBRAINS) the hierarchical structure of file bundles can be detected semi-a

[2020-10-13 09:42] lzehl opened #81 "v3 schema-revision: fileInstance.schema.json"
The `fileInstance.schema.json` will be used to identify a single file that is part of a research product version.
Note: For some repository hosts (e.g. EBRAINS) the files can be detected semi-automatically within the KG system as their grouping into the corresponding hierarchical file bundle structure of the repository.

According to the current documentation, this schema will have the following p

[2020-10-13 09:51] lzehl commented on #66
Decision that was made for v3:
- `@id` is going to be a free text with a clear documentation that locally it is best to use a relative file path to the correspondingly created JSON-LD; within the KG system this will be replaced with a UUID
- `@type` will follow this pattern: `"https://openminds.ebrains.eu/core/schemaName"`
- the `$id` will equal the `@type` (this might still change)

[2020-10-13 09:51] #66 closed

[2020-10-13 09:53] lzehl commented on #67
We will keep track of the v3 update differently (issue for each schema) to focus the discussions for each schema.
For this reason I'm closing this issue now.

[2020-10-13 09:53] #67 closed

[2020-10-13 09:54] #15 closed

[2020-10-13 09:59] lzehl commented on #8
@UlrikeS91 & @skoehnen for the `@type` defining a default might be a better option than defining a constant (a constant needs to be still given by the user, although it's a constant)

other solutions:
- maybe one can combine both (default with constant)
- or one could reference `@type` via the `$id`

This needs some research. Could you two look into it?

[2020-10-13 11:15] bweyers commented on #76
@lzehl I added Jan (@jagru20) to the discussion via email such that he can also have a look. In a first overview it looks fine! I guess Jan will also give feedback after checking it together with our meta data curators.

[2020-10-13 11:19] lzehl commented on #76
@bweyers perfect, thanks! @jagru20 looking forward to your comments :slightly_smiling_face:

[2020-10-13 12:13] lzehl opened #82 "v3 schema-revision: contribution.schema.json"
The `contribution.schema.json` will be used to name a contributor (person or organization) and state how he/she/it contributed in producing the research products or their versions.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/contribution"`), count: 1]
- **`@id`** [expects: free text,

[2020-10-13 12:25] lzehl opened #83 "v3 schema-revision: person.schema.json"
The `person.schema.json` will be used to identify researchers that were involved in producing the research products or their versions.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/person"`), count: 1]
- **`@id`** [expects: free text, count: 1]
~~- **ebrainsUserName**: [expects: string

[2020-10-13 12:29] lzehl opened #84 "v3 schema-revision: organization.schema.json"
The `organization.schema.json` will be used to identify organizations that were involved in producing the research products or their versions.
Note: funding is handled separately.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/contribution"`), count: 1]
- **`@id`** [expects: free text, c

[2020-10-13 12:35] lzehl commented on #83
@apdavison is this what you had in mind for persons?
@olinux can you handle this within the KG?

[2020-10-13 12:46] lzehl opened #85 "v3 schema-revision: funding.schema.json"
The `funding.schema.json` will be used to state the funding of the connected research product version.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/funding"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **acknowledgement** [expects: free text, count: 0 - 1]
- **awardNumber*

[2020-10-14 11:30] jagru20 commented on #76
Hi @lzehl, thanks for working on this.

I have just a few comments/questions:

1. In the schema we currently use, we have the additional field _description_ which is not listed above. _description_ is sometimes confused with _summary_. _summary_ should be one sentence, whereas _description_ is supposed to be more comprehensive. To us, _description_ is the more important one.
1. We also use the pro

[2020-10-14 12:01] apdavison commented on #83
If openMINDS is supposed to be an open standard that others can adopt, then `ebrainsUserName` is too project specific. Either we rename it `userName` or `userID`, or we allow `digitalIdentifier` to contain multiple values (ORCID, ResearcherID, EBRAINS username, etc.)

[2020-10-14 12:04] apdavison commented on #84
What about adding a `parent` field? For example, my institute is the Paris-Saclay Institute of Neuroscience, it has two parent organisations: the CNRS and the Université Paris-Saclay. Any of these three might be interested in seeing how many datasets they have shared through EBRAINS.

[2020-10-14 12:21] apdavison commented on #82
could we also add a `contributionType` property? The use case I have in mind is where we have an adapted version of a model that was originally published elsewhere, and we would like to distinguish between the original authors and the authors of the adaptation, while listing all of them as contributors.

this has some overlap with `contributorType`, e.g. `contributorType => data collector` and `co

[2020-10-14 12:28] apdavison commented on #81
We need a property named **hash** or **digest**, which contains a digest of the file contents to check for corruption or over-writing of the file contents (see https://en.wikipedia.org/wiki/File_verification)

[2020-10-15 09:19] UlrikeS91 commented on #74
I would prefer `ethicsApproval` over `euEthicsCompliance`. The EU compliance is quite specific to what we are doing, we should rather capture the documentation directly (which is also often done in article publications).

I'll implement the schema with `ethicsApproval` for now. We can change it later if anybody can make a good case against it :)

[2020-10-15 09:24] UlrikeS91 commented on #74
Question related to the `ethicsApproval`: How would datasets be handled that don't require an approval? Will there be an option to state exactly this since the property itself is required?

[2020-10-15 09:48] UlrikeS91 commented on #74
Question related to `isNewVersionOf`: Why would this allow 1 - N objects? Wouldn't it make more sense to only allow 1. This way the provenance would be more clear and straight-forwards. And since we have `isSupplementTo` and `isVarientFormOf`, there are many option to express additional relationships to other dataset versions.

[2020-10-15 09:51] UlrikeS91 commented on #74
Question related to `License`: Again why allow several (count: 1 - N)? This seems illogical. A dataset should be made available with one license. If a dataset would need several, then the dataset should rather be split up into several datasets as well.

[2020-10-15 10:03] UlrikeS91 commented on #74
Question related to `modality`: Why only allow one modality?

[2020-10-15 10:25] UlrikeS91 commented on #78
also related to https://github.com/HumanBrainProject/SANDS/issues/41

[2020-10-15 10:33] UlrikeS91 commented on #78
For `relatedOntology`: I will do `"format": "iri"`.

We have gone back and forth between the 2, but concluded (following an ontology meeting with @tgbugs) to use IRI. This decision was communicated on a different SANDS issue (https://github.com/HumanBrainProject/SANDS/issues/44). The one linked above says to use URI (which was stated on the same day as in issue 44, but shortly before). All `relate

[2020-10-16 07:25] xgui3783 commented on #76
Hi, can you assign me to this issue?

[2020-10-16 07:25] skoehnen commented on #76
Done

[2020-10-19 09:58] lzehl commented on #83
For me the latter suggestion sounds good. I'll adopt it.

[2020-10-19 10:06] lzehl commented on #84
Agreed. I'll add it to the properties.

@apdavison what about renaming "name" into "legalName" ? Do you think that is necessary?

[2020-10-19 10:15] lzehl commented on #82
Mh. I'm not sure if I understand the use case where only the contributionType and not the contributorType would hold the information. Also: should an adapted version of a model not get it's own digitalIdentifier and with that being associated to it's own group of "authors"/developers?

@apdavison Could you explain a bit more why you think it is necessary to have contributionType and contributorTyp

[2020-10-19 10:22] lzehl commented on #81
@apdavison agreed that this would be useful. I have some questions though:
1) who will / is supposed to generate the hash? (@olinux this would be also a question for you)
2) should this be also a property of fileBundle and fileRepository?

[2020-10-19 12:36] skoehnen commented on #81
I propose this nested structure:

- `hash`
  - `digest` _Output of hashing algorithm_
  - `algorithm` _Name of the algorithm used to generate the digest_

We could also think about implementing this as a list, so multiple to digests from different algorithms are supported.

[2020-10-19 13:48] apdavison commented on #84
no, I don't think so

[2020-10-19 13:54] apdavison commented on #82
For most cases, I think `contributionType` would be sufficient (and I prefer it to `contributorType`, as the same person can have different roles in different contributions).

The only place where I thought `contributorType` would be better is with `hosting institution`, also there `contributionType = "hosting"` might be better.

(I don't think either option works for `contact person`, which is se

[2020-10-19 16:26] lzehl commented on #74
For your comments/questions for `ethicsApproval`:
1) GDPR sensitive data should not state the ethics authority because this gives a demographic context which should lead to the re-identification of data. The only reason why journals (and we) ask for ethics information is to officially state that they are compliant with the corresponding legislation of the service (journal, database, etc.). In our

[2020-10-19 16:31] lzehl commented on #74
For your comment on `isNewVersionOf` : agreed (this is a copy paste error)! I changed it to be count: 0 - 1.

For your comment on `license` : agreed (this is a copy paste error)! I changed it to be count: 1.

For your comment on `modality` : agreed (this is a copy paste error)! I changed it to be count: 1 - N.

[2020-10-19 16:38] lzehl commented on #78
@skoehnen or @UlrikeS91 could you check if the format can contain a oneOf option and lead to both (iri and uri)?
I would prefer this for all web links instead of going back and forth...

[2020-10-19 16:53] lzehl commented on #76
@jagru20 thanks for your comments/questions. Here my feedback

**to 1)** note that `summary` is not generally assumed to be only one sentence. According to the data descriptor and how this is going to be displayed in the KG Search this property should be a free text with maximum length of (170 words maximum, no references).  But I do not have a strong opinion on the name of this property except th

[2020-10-20 10:05] lzehl commented on #81
@skoehnen looks good, but if a list is a possibility we should consider it as a independent schema.
Makes it easier to be reused / referenced.

Same actually also goes for quantities (number + unit), but this would be a different topic / issue.

[2020-10-20 10:15] lzehl commented on #82
I'm okay replacing `contributorType` with `contributionType`.

I only chose the first because this is how DataCite is doing it (they do not use `contributionType`).
Also in DataCite `contact person` is a valid controlledTerm for `contributorType`, although I see your point about the semantic here.

I don't think we have to stick to DataCite here. I suggest using `contributionType` only.

Note: `ho

[2020-10-20 10:58] lzehl commented on #78
@UlrikeS91 controlledTerms does not belong in products, but should be placed on the main level.
Parallel to the definitions.json I would suggest.

[2020-10-20 11:02] xgui3783 commented on #76
Some questions that came up when putting together the PR:

- `hostedBy` and `repository`: should they be [1-N] in the event that the same version of the software can exist on separate mirrors (github & gitlab) ? Or is the idea that in this case, there should be two separate softwareVersions ?

[2020-10-21 08:01] apdavison commented on #76
@xgui3783 I think they should be [1-N] for the reason you suggest.

[2020-10-21 08:09] apdavison commented on #81
@skoehnen 👍

@lzehl ideally the hash would be generated automatically: by the automatic indexing tool for CSCS, by the planned provenance API, etc.

[2020-10-21 08:55] skoehnen commented on #81
Good point.

What is the consensus, should we support multiple hashes?
This would also will introduce the need to add some kind of check that prevents multiple digests of the same hash.
That coupled with the need for an additional schema, maybe it is not worth the trouble.

[2020-10-21 08:55] jagru20 commented on #76
@lzehl

1) This is fine for us. Although some of the descriptions contain more than 170 words, this is not the majority. Regarding the naming of this property: From our side,  `summary` is fine. We can just use this instead of splitting it up into `summary` and `description`. I did not mean to question the naming either.

2)

I am not sure about this. As we do not integrate files into the KG but r

[2020-10-21 08:57] skoehnen commented on #81
@apdavison Should we add an attribute that stores the origin of the hash, if it was generated by indexing or by the provenance tracking?

[2020-10-21 10:12] apdavison commented on #81
@skoehnen I think that would be overkill, it should anyway be the same independent of which tool generated it.

[2020-10-21 10:13] apdavison commented on #81
re: multiple hashes, I think it is not worth the trouble

[2020-10-21 10:46] lzehl commented on #76
@jagru20 with "files" I mean the metadata representation of them (cf. #81 ). In principle it's just a pointer to the physical file (in case of `screenshots` and `icons` there must also be a physical file somewhere, correct? Just not necessarily on CSCS)

NOTE: All file related schemas (fileRepository #79 , fileBundle #80 , fileInstance #81 ) can now also be used independent of CSCS.

[2020-10-21 10:48] lzehl commented on #76
@jagru20 for point 1: would you like to capture though a one sentence description/summary for software besides a "normal" abstract (independent of the maximum word count which can still be discussed)

[2020-10-21 10:58] lzehl commented on #81
@skoehnen from what I read from your and @apdavison comments is to define the hash as

**hash**

    digest
    algorithm

I would keep it as a separate schema that we link to, because nested schemas will create some difficulties for the KG team.
Nonetheless keep the count to 1.

@apdavison & @skoehnen should the hash be a property of all file related schemas (fileRepository #79 , fileBundle #80 ,

[2020-10-21 11:12] jagru20 commented on #76
Ok I think I understand this now. That should work.

In short: I do not think, this is necessary.
In long: As far as I understood, the distinction between`description` and `summary` as used in the software curation so far was intended primarily to provide a possibility for thorough descriptions without a word limit for interested users, respectively one sentence, that summarizes this description f

[2020-10-21 11:41] apdavison commented on #81
@lzehl: yes, hash should be a property of fileRepository and fileBundle as well.

Defining how to calculate such a hash is more complicated than for individual files, however. A quick search yielded this: https://github.com/andhus/dirhash but I don't know how widely adopted this is.

[2020-10-21 11:47] skoehnen commented on #81
Does a file bundle always have an attached archive? @olinux
That would be a good workaround.

[2020-10-22 06:46] UlrikeS91 commented on #74
Thanks for the explanations. Everything sounds reasonable to me then :) I like `ethicsAssessment` and if nothings speaks against doing this, I think we should go for it.

[2020-10-22 07:35] lzehl commented on #81
okay! I've updated the documentation of the schema above and included the hash.
I'll do the same on the other file related schemas.

[2020-10-22 07:54] lzehl commented on #76
@jagru20 thanks for your feedback on this. So no changes are necessary in the documentation of the schema above?
(besides the one suggested by @xgui3783)

[2020-10-22 07:58] lzehl commented on #76
@xgui3783 & @apdavison I've updated the count for "hostedBy" and "repository" to "count: 1 - N".
I have a question though: how do such distributed mirrors work with digitalIdentifiers (such as DOI or RR ID)?

[2020-10-22 08:31] lzehl opened #98 "v3 schema-revision: metaDataModelVersion.schema.json"
The `metaDataModelVersion.schema.json` will contain mainly bibliographical metadata on data structures originating from human or animal experiment or a simulation.

According to the current documentation, this schema will have the following properties:
- **accessibility** [expects: controlledTerm.schema.json, count: 1]
- **description** [expects: free text, count: 1]
- **developers**: [expects: pe

[2020-10-22 08:34] lzehl commented on #98
@MBAbrams @tgbugs based on our discussion I've created an issue for discussing the schema content for (meta)data constructs / specifications / structures. I've documented a first version of such a schema above (this is most likely not complete).

I'm looking forward to your comments and feedback :slightly_smiling_face:

[2020-10-22 08:44] apdavison commented on #76
@lzehl I'm not sure I understand the question about digital identifiers

[2020-10-22 08:49] lzehl commented on #76
Sorry, I should have explained it better: a digital identifiers should point exactly to one physical representation of the data to ensure that the correct version is referenced / used, correct? How does this work with multiple repositories distributed over multiple hosts? Who guarantees the maintenance of the mirrors in such cases (so that they get not out of sync)? How should the user know which

[2020-10-22 09:05] lzehl opened #99 "v3 schema-revision: quantitativeValue.schema.json"
The `quantitativeValue.schema.json` will be used to define a value (integer and/or float) with a unit.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/quantitativeValue"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **unit** [expects: controlledTerm.schema.json, count: 0 - 1]

[2020-10-22 09:44] xgui3783 commented on #76
My 2c:

yes. But whether the doi can support displaying multiple repositories, is another issue (doi for example, sets up a redirect. Do we prefer one repository over another?)

In principle, if the repository points at a hash or a tagged release, and if they are setup to be in sync, they should never need to be updated. If changes are made, a new release/ softwareVersion should be created

The us

[2020-10-22 09:47] apdavison commented on #76
I don't think that's true. Generally they point to a metadata page, and that page may or may not have links to the actual data (think DOIs, which point to a page on a journal website, not directly to the PDF, and that page may have the article in HTML, or may just have the abstract, depending on whether your university has a subscription to that journal. Also in that scenario, the HTML and PDF are

[2020-10-22 10:08] apdavison commented on #99
I suggest using a schema compatible with https://schema.org/QuantitativeValue

i.e. allow both unitText and unitCode, and allow ranges, specifying minValue and maxValue instead of value

Here is a list of some URIs for unitCode we're using already in Tier 3 curation: https://github.com/HumanBrainProject/fairgraph/blob/master/fairgraph/commons.py#L412

[2020-10-22 10:38] lzehl commented on #76
Sounds logical to me. Thanks for explaining a bit more.

[2020-10-22 10:44] lzehl commented on #99
value should be count 1, yes that was a typo.

[2020-10-22 10:57] lzehl commented on #99
@apdavison can the unitCode be understood as an ontology definition? Because then unitText and unitCode are covered in the controlledTerm.schema. I would like to keep the controlled parts separate from other schemas, makes maintenance easier. We might need to rethink the property "relatedOntology" in controlledTerm.schema.json and rename it to e.g., "source" which would allow also for defined term

[2020-10-22 11:01] skoehnen commented on #83
@lzehl Shouldn't this be `https://openminds.ebrains.eu/core/contribution`?
(I didn't ask in funding so I better ask now 😉)

[2020-10-22 11:07] jagru20 commented on #76
Yes, there are no changes needed from our side. Is copyright.schema.json already defined somewhere? I am not able to find it...

[2020-10-22 11:13] lzehl commented on #83
@skoehnen see update above.
Note: `@type` should always state at the end the corresponding schema name its a property of.

[2020-10-22 11:15] lzehl commented on #83
@olinux if we have to handle "email" confidential, should we handle this as a separate element/schema?

[2020-10-22 11:15] skoehnen commented on #83
Yes, I thought that too, but I wanted to make sure that I don't overlook anything 🙂

[2020-10-22 11:19] lzehl commented on #76
no not yet... I'm not keeping up with the speed of you guys. I'll define copyright.schema.json next :slightly_smiling_face:

[2020-10-22 11:22] lzehl opened #100 "v3 schema-revision: copyright.schema.json"
The `copyright.schema.json` will be used to define the copyright holder and year.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/copyright"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **holder** [expects: person.schema.json | organization.schema.json, count: 1]
- **year** [

[2020-10-22 11:23] lzehl commented on #100
@jagru20 here the documentation of what needs to be implemented. Would you like to implement it or should I assign someone else?

[2020-10-22 11:50] lzehl opened #101 "v3 schema-revision: contentType.schema.json"
The `mediaType.schema.json` will be used to define the file format in accordance with media-types.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/mediaType"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **name** [expects: free text, count: 1]
- **associatedFileExtensions** [e

[2020-10-22 11:53] lzehl commented on #101
@apdavison could you have a look at the schema docu above and provide me with feedback?
[I just created it based on my notes on the topic]

[2020-10-22 11:58] lzehl commented on #72
I'm closing this issue. Further discussions can be made in issue #83

[2020-10-22 11:58] #72 closed

[2020-10-22 12:14] lzehl commented on #64
After some more discussions with @olinux I would like to implement for all schemas and their properties links to other related schema definitions, but not over the typical `@context`.

On the one hand, because this allows for multiple relations to be made to the same term. On the other hand, because in most cases I'd like to prioritize our definitions and context of the terms.

I suggest to do the

[2020-10-22 12:20] apdavison commented on #64
@lzehl sure. I never understood the motivation for choosing JSON schema over SHACL, but that ship has long sailed...

[2020-10-22 12:27] apdavison commented on #101
I'm not sure how type, subtype and associatedFormat would be used. Can you give me an example, e.g. for application/pdf ?

[2020-10-22 12:28] jagru20 commented on #100
I think I can do this.

[2020-10-22 14:23] lzehl commented on #101
`associatedFormat` would be the full name of the file format, because that is not always identifiable from the media type name (which is a bit cryptic for most people). People would need to look it up externally if they don't get it in the information.

`type` (e.g., `"image"`) and `subtype` are building the `name` (e.g., "image/bmp"), we could therefore also leave them out or ask for them explici

[2020-10-22 14:26] lzehl commented on #100
thanks :slightly_smiling_face:

[2020-10-22 14:53] apdavison commented on #101
thanks for the clarification. I suggest leaving out `type` and `subtype`, since they are easily retrievable from the name and are not very useful on their own. I suggest renaming `associatedFormat` to `fullName`or `description`, making it "count: 1", and then perhaps adding a `synonyms` field. Adding a `category` field might also be useful.

For minting our own, unofficial media types, I suggest s

[2020-10-22 15:28] lzehl commented on #101
Sounds good! I'll adapt the documentation above. Any other fields missing you would like to have?

[2020-10-22 15:45] lzehl opened #103 "v3 schema-revision: digitalIdentifier.schema.json"
The `digitalIdentifier.schema.json` will be used to define the digital identifier and it's type (scheme).

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/digitalIdentifier"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **identifier** [expects: free text, count: 1]
- **identifi

[2020-10-22 15:48] lzehl commented on #103
@olinux you think that's sufficient?

[2020-10-23 08:12] skoehnen opened #106 "Missing description in softwareVersion"
The schema is missing a description.

[2020-10-23 08:32] skoehnen commented on #80
What do you mean with adding manually in this case?

[2020-10-23 08:40] skoehnen opened #107 "Add title to controlledTerm.schema.json"

[2020-10-23 08:41] skoehnen opened #108 "Add title to datasetVersion.schema.json"

[2020-10-23 08:41] skoehnen opened #109 "Add title to funding.schema.json"

[2020-10-23 08:42] skoehnen opened #110 "Add title to person.schema.json"

[2020-10-23 08:42] skoehnen opened #111 "Add title to project.schema.json"

[2020-10-23 08:43] skoehnen opened #112 "Add title researchProduct.schema.json"

[2020-10-23 08:43] skoehnen opened #113 "Add title softwareVersion.schema.json"

[2020-10-23 09:29] skoehnen commented on #80
What is the difference between `groupedBy` and `isPartOf`?

[2020-10-23 09:55] UlrikeS91 commented on #78
Why not the opposite way around?
As:

    "relatedOntology": {
      "type": "string",
      "description": "Identifier (IRI) to related ontological term.",
      "oneOf": [
        {"format": "iri"},
        {"format": "uri"}
        ]
     }

@skoehnen, What do you think?

[2020-10-23 09:56] UlrikeS91 commented on #78
Wasn't sure where to put it ;) I'll move it when I make the new PR to fix the uri/iri thing once we found a conclusion for it.

[2020-10-26 07:30] skoehnen commented on #78
I think this is unnecessary because IRI is an extension of URI, which means that every possible URI is also an IRI, but not the other way around.
So if we set it to IRI we cover all URI and also support possible "URI" with Unicode symbols.

[2020-10-26 08:03] lzehl commented on #78
@skoehnen if this is the case, use IRI. Thanks for checking this, that's certainly not my expertise.

[2020-10-26 08:48] lzehl commented on #80
`groupedBy` is used to tell what connects the `fileInstance`s linked in this `fileBundle`
This property can never be detected automatically, because the system couldn't know the grouping idea on it's own (maybe semi-automatic by the user is possible in case a certain pattern was used)

`isPartOf` just tells you the connection to the `fileRepository` or, in case it is a substructure, to another `fi

[2020-10-26 09:02] lzehl commented on #76
from @skoehnen the current schema implementation is missing a description.

[2020-10-26 09:19] lzehl commented on #76
@jagru20 could you have a look at the schema and add the missing description?

[2020-10-26 10:02] jagru20 commented on #76
Yes

[2020-10-26 10:03] skoehnen opened #114 "Check that all schema have a title tag"
According to json-schema "title" and "description" are both keywords of a json-schema object and MUST be a string. Both of these keywords can be used to decorate a user interface with information about the data produced by this user interface. A title will preferably be short, whereas a description will provide explanation about the purpose of the instance described by this schema. We forgot the "

[2020-10-26 10:03] skoehnen commented on #113
moved to #114

[2020-10-26 10:03] #113 closed

[2020-10-26 10:04] skoehnen commented on #112
Moved to #114

[2020-10-26 10:04] #112 closed

[2020-10-26 10:05] skoehnen commented on #111
Moved to #114

[2020-10-26 10:05] #111 closed

[2020-10-26 10:05] skoehnen commented on #110
Moved to #114

[2020-10-26 10:05] #110 closed

[2020-10-26 10:06] skoehnen commented on #109
Moved to #114

[2020-10-26 10:06] #109 closed

[2020-10-26 10:06] skoehnen commented on #108
Moved to #114

[2020-10-26 10:06] #108 closed

[2020-10-26 10:07] skoehnen commented on #107
Moved to #114

[2020-10-26 10:07] #107 closed

[2020-10-26 10:07] skoehnen commented on #114
- [ ] softwareVersion.schema.json
- [ ] researchProduct.schema.json
- [ ] project.schema.json
- [ ] person.schema.json
- [ ] funding.schema.json
- [ ] datasetVersion.schema.json
- [ ] controlledTerm.schema.json

[2020-10-26 10:09] lzehl opened #115 "v3 schema-revision: license.schema.json"
The `license.schema.json` will be used to define information about a license.
Ńote: within the KG this will be a controlled schema.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/license"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **identifier** [expects: string (free text

[2020-10-26 10:22] lzehl opened #116 "v3 schema-revision: hash.schema.json"
The `hash.schema.json` will be used to state the hash (digest and algorithm).

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/hash"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **digest** [expects: free text, count: 1]
- **algorithm** [expects: free text, count: 1]

[2020-10-26 10:23] lzehl commented on #116
@skoehnen I've used hash.schema.json before but maybe hashCode is more precise?

[2020-10-26 10:30] apdavison commented on #116
@lzehl it's usually just called a hash or digest. I've never seen "hash code" used.

[2020-10-26 10:31] lzehl commented on #75
@apdavison & @bweyers could the property `format` be also handled as `programmingLanguage`?
I've compared the previous entries in the KG between those and they overlap quite a bit.

If `programmingLanguage` nor `format` is quite fitting the content of both joint together could we find a corresponding term that describes the values of both?

[2020-10-26 10:40] apdavison commented on #75
`programmingLanguage` doesn't work for models, because not all models are expressed as source code. However, it seems like a natural term to use for software, where "format" would be much more vague in its meaning.

[2020-10-26 10:40] lzehl opened #118 "v3 schema-revision: studyTarget.schema.json"
The `studyTarget.schema.json` will be used to emphasize the thing of interest (target) within a study.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/studyTarget"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **thingOfInterest** [expects: free text | controlledTerm.schema.jso

[2020-10-26 10:45] lzehl commented on #118
@olinux is it possible in KG v3 to point to either a free text or a schema?
Use case here:
- if my study target ("homo sapiens") belongs to `species` a controlledTerm is already registered
- if my study target ("highly specific disease") belongs to `disease` a controlledTerm might not yet exist

Alternative: `thingOfInterest` always points to a controlledTerm. For undefined controlledTerms only th

[2020-10-26 10:47] lzehl commented on #75
@apdavison what do you suggest now? I'm not very happy about handling this separately since most values are the same...
What about naming the poperties differently in modelVersion and softwareVersion (as it is right now) but both point to the same controlledTerms?

[2020-10-26 10:48] lzehl commented on #116
@apdavison okay! hash it is :)

[2020-10-26 11:01] lzehl opened #119 "v3 schema-revision: softwareFeature.schema.json"
The `softwareFeature.schema.json` will contain metadata on the software feature.

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/softwareFeature"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **definition**: [expects: string (format: iri, count: 0 - 1]
- **description**: [expe

[2020-10-26 11:01] lzehl commented on #119
@jagru20 could you take this over and also see if something is missing / misunderstood in the documentation?

[2020-10-26 11:06] apdavison commented on #75
Note that the values used for model format are likely to be modified during the migration to openMINDS. For some cases the value will still be a single programming language, but in general we will be adding additional information. My plan was to  use media type / content type identifiers for this.

Also note that `programmingLanguage` should allow a list (since many pieces of software are implemen

[2020-10-26 11:25] lzehl opened #120 "v3 schema-revision: subject.schema.json"
The `subject.schema.json` will be used to provide information on the subject that was studied.
Note: should be implemented in folder "specimen".

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/subject"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **biologicalSex** [expects: c

[2020-10-26 11:35] lzehl commented on #106
solved in #117

[2020-10-26 11:35] #106 closed

[2020-10-26 11:38] lzehl opened #121 "v3 schema-revision: subjectState.schema.json"
The `subjectState.schema.json` will be used to provide information on the state the subject was in when it was studied.
Note: should be implemented in folder "specimen".

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/subjectState"`), count: 1]
- **`@id`** [expects: free text, count: 1]
-

[2020-10-26 11:55] lzehl opened #122 "v3 schema-revision: tissueSample.schema.json"
The `tissueSample.schema.json` will be used to provide information on the tissue sample that was studied.
Note: should be implemented in folder "specimen".

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/tissueSample"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **organOfOrig

[2020-10-26 12:01] lzehl opened #123 "v3 schema-revision: tissueSampleState.schema.json"
The `tissueSampleState.schema.json` will be used to provide information on the state the tissue sample was in when it was studied.
Note: should be implemented in folder "specimen".

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/tissueSampleState"`), count: 1]
- **`@id`** [expects: free t

[2020-10-26 12:02] lzehl commented on #121
- `disease` could maybe be also name `pathology` (as in tissueSampleState #123 )

[2020-10-26 12:07] lzehl commented on #75
okay, thanks for explaining a bit more around this. Here a summary of what I will note down (in the docus of the corresponding schema issues):

- within **modelVersion** keep property `modelformat` with count 1 and links possible to mediaTypes
- within **softwareVersion** keep property `programmingLanguage` with count 1 - N and links possible to controlledTerms (for programming languages)

[2020-10-26 12:17] lzehl opened #124 "v3 schema-revision: protocolExecution.schema.json"
The `protocolExecution.schema.json` will be used to provide information on the individually executed protocol.
Note: should be implemented in folder "experiment".

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/protocolExecution"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- *

[2020-10-26 12:26] lzehl opened #125 "v3 schema-revision: protocol.schema.json"
The `protocol.schema.json` will be used to provide information on the general protocol that was used.
Note: should be implemented in folder "specimen".

According to the current documentation, this schema will have the following properties:
- **`@type`** [expects: constant (`"https://openminds.ebrains.eu/core/tissueSampleState"`), count: 1]
- **`@id`** [expects: free text, count: 1]
- **descriptio

[2020-10-26 12:36] lzehl opened #126 "v3 schema-revision: parameterSetting.schema.json"
The `parameterSetting.schema.json` will be used to provide more detail for a user-defined parameter used in the individually executed techniques and tasks.
Note: should be implemented in folder "experiment". This schema can be used to immediately register important user-provided information without going directly into the in-depth metadata descriptions.

According to the current documentation, thi

[2020-10-26 13:49] jagru20 commented on #119
yes, do you assign me?

[2020-10-26 14:08] lzehl opened #127 "v3 schema organization"
I would like to meaningful organize the schemas within openMINDS v3.0.
Suggested structure (last update Oct 27):

**products/**
    ~`contribution.schema.json`~ (moved to miscellaneous)
    ~`copyright.schema.json`~ (moved to miscellaneous)
    `datasetVersion.schema.json`
    ~`digitalIdentifier.schema.json`~ (copy/paste error; was moved to miscellaneous)
    ~`funding.schema.json`~ (moved to mis

[2020-10-26 14:11] lzehl commented on #127
@UlrikeS91 @apdavison @bweyers @olinux @skoehnen it would be great to hear your opinion on this.

@olinux let me know if the substructure somehow should be more useful for the KG team (e.g. for handling the different KG spaces) and needs adaptions for this purpose

[2020-10-26 15:05] UlrikeS91 commented on #127
Overall, agreed. The folders seem reasonable to me. Just a few things I'm unsure about:

1. `digitalIdentifier` is listed twice. Pretty sure you only want to have it under miscellaneous/ and not under products/. If you intended to have it under products/, I would disagree ;)
2. I'm struggeling a bit with `contribution`, `license` and `funding` as part of product/. To me, these aren't products. May

[2020-10-26 16:13] apdavison commented on #127
I agree with @UlrikeS91: I would put `copyright`, `contribution`, `license`, `funding` under miscellaneous

[2020-10-26 20:44] bweyers commented on #127
@lzehl As far as I can see, that makes a lot of sense. However, I do not like the miscellaneous section but also do not have a good proposal how to "fix" this. But as we move more under his category, it is fine with me!

[2020-10-27 07:35] olinux commented on #127
@lzehl Just go ahead - the organization in different spaces is specific to EBRAINS and reflects how we want to organize the permissions. Don't let yourself be influenced by this for the generic schemas.

[2020-10-27 07:44] olinux commented on #83
Yes, I think we should not have email in this structure if we want to handle the permissions differently. You could have a "contact" object which also could include things like phone number, postal address, etc.

But didn't we even think about not having e-mail in openminds at all so the identification would be done e.g. by ORCID?

[2020-10-27 07:45] olinux commented on #83
also: I think we should allow more than one identifier -> I could e.g. have a ORCID, a github account, ... we should have the chance to register them all

[2020-10-27 07:51] olinux commented on #118
No, we don't have something like this - also because it would be rather difficult for clients to interpret since it couldn't e.g. be filtered by a type.
One thing we should discuss is, if "controlledTerm" is the appropriate label for the schema since it includes some directives how to handle the access control. If we would just call it "term" (or something else), we could properly separate them in

[2020-10-27 07:56] olinux commented on #81
and

I do agree - it's not practical to let the curators add the hashes manually - this has to happen in the file registration mechanism. Ideally, we could profit from already pre-calculated hashes (e.g. SWIFT object store provides some) so we don't have to run an analysis on top of the file. Supporting different algorithms make sense - we don't need to have all variants for all files though since

[2020-10-27 08:03] olinux commented on #103
if the "identifierScheme" means the "type" (ORCID, Github, ...) then, yes :)

[2020-10-27 08:22] lzehl commented on #81
@olinux thanks for the feedback. I agree, if you can auto-registrate the repository with all folders and files the hash should be automatically generated as well.

Note: all file schemata should be though also editable by the user in case of externally hosted data which you could not auto-registrate. But in such cases the user would most likely also do this computationally and not manually.

[2020-10-27 08:30] jcolomb commented on #83
jats4r get "type" and "id" for each identifier. datacite has also optionally a url for each identifier type. (https://schema.datacite.org/meta/kernel-4.0/doc/DataCite-MetadataKernel_v4.0.pdf page 11)

[2020-10-27 08:35] lzehl commented on #103
@olinux yes! sorry I forgot to add the identifierScheme.schema.json, I'm doing it soon. It would/could include:
- type (controlledTerm, e.g. "ORCID", "ROR",  "DOI", "ISBN"+ ?) [required]
- iri (iri, e.g. `"https://orcid.org/"`, `"https://ror.org/"`, `"https://www.doi.org/"`)  [optional?]
- identifierPattern (regex?) [optional?]

Happy to get feedback on this.

[2020-10-27 08:43] lzehl commented on #83
@olinux so digitalIdentifier should be an array. I agree here. As for the email: considering the new curation workflow the publication of a dataset is suppose to be verified by all authors/contributors. Therefore we must have an email for all of them. Within the identifiers (e.g. ORCID) to problem arise:
1) not everyone has a digitalIdentifier (question here should/can we enforce this?)
2) the ema

[2020-10-27 10:23] lzehl commented on #127
@apdavison @bweyers @UlrikeS91 @olinux Thank you all for the quick feedback. I agree with you (see adopted documentation above)

[2020-10-27 11:52] lzehl commented on #124
Based on discussions for SANDS an additional property `semanticallyAnchoredTo` added to the protocolExecution.schema.json (see updated docu above).

This property has a dependency for the protocol.schema.json: if a value (**anatomicalEntity**) is given in this property the **protocol** linked to this **protocolExecution** has to have the **technique** `"semantic anatomical anchoring"` attached.

@

[2020-10-27 12:03] lzehl commented on #114
@skoehnen & @UlrikeS91 this came up in #128 : should the title be
1) the label used in the schema filename (e.g. "softwareFeature")
2) or a display label (non-capitalized) (e.g. "software feature")?

[2020-10-27 13:03] UlrikeS91 commented on #114
Is this a question of what I would prefer? If so, I like option 2 better (e.g. "software feature"). If not, I don't know the answer ;)

[2020-10-28 11:14] skoehnen commented on #73
@lzehl I just saw that you moved this from Implemented to Documented.
Is here more work necessary?

[2020-10-28 11:24] lzehl commented on #73
Yes. Based on Feedback from @olinux this needs some changes. Please leave it in documented

[2020-10-28 11:29] skoehnen commented on #80
Ah thanks, now I understand this a bit better.

Do you have a suggestion for the description? 🤔

[2020-10-28 11:43] lzehl commented on #80
**groupedBy** `"description": "Concept which was used to group the file instances into this file bundle"`
**isPartOf** `"description": "Link to file repository or bundle to which all file instances within this file bundle belong to"`

For the latter, conceptual file bundles that group file instances across physical file bundles should in most cases directly point to the file repository.

[2020-10-28 14:27] lzehl commented on #78
Based on a discussion I had with @olinux this schema needs slight changes and will need some new schemas that inherit the content of a the general controlledTerm.schema.json.

The idea overall structure of a controlledTerm is given in the conceptual schema controlledTerm.schema.json. The specific `@type` of the controlledTerm is then defined in controlledTerm-subschemas (e.g., biologicalSex.schema

[2020-10-28 14:27] lzehl commented on #78
@olinux could you check if the above comment is correct?

[2020-10-28 14:34] UlrikeS91 commented on #78
Is this related to your comment in https://github.com/HumanBrainProject/SANDS/pull/87? Does that mean that SANDS will also get a subfolder  SANDS/controlledTerms/ with schemas for each of the specific controlledTerm-subsechemas (e.g. laterality, unit and such)?

[2020-10-28 14:45] lzehl commented on #78
no. I suggest to collect all controlledTerm-subsechemas in openMINDS only

[2020-10-28 14:46] lzehl commented on #78
But for the definitions we can get more specific in both cases SANDS and openMINDS.
Meaning the $ref can point to the subschema directly (e.g. ...ControlledTerm/BiologicalSex)

[2020-10-28 16:47] lzehl opened #131 "refinements of schema format"
Based on discussions with @olinux we're going to simplify the used schema format and provide a generator.py (somewhere) that is going to translate those user-friendly reduced schema formats to proper json-schema (or far future: also other schema formats).

Affected by this is mainly the general implementation of a schema on the Githubs (openMINDS and SANDS), in particular how to reference between

[2020-11-02 15:20] lzehl commented on #131
@olinux please verify the documentation I provided above. Thank you :slightly_smiling_face:

[2020-11-03 09:51] lzehl commented on #131
@olinux in SANDS PR @xgui3783 brought up his concern about using the same prefix for the technical keys as json-schema ("$"). I don't have a strong opinion here. If you agree with @xgui3783 that it might be less confusing we could define our own prefix (I just would prefer something very simple, e.g. "_" or "#" etc).

[2020-11-03 10:43] olinux commented on #131
I see - I don't have a strong opinion either. We could put some emphasis on being a European project by using € instead ;)

[2020-11-03 10:45] lzehl commented on #131
:smile: I had the same thought.... would that cause any issues (formatting wise in python for example)?

[2020-11-03 10:48] olinux commented on #131
not as long as we're sticking with at least utf-8

[2020-11-03 10:52] lzehl commented on #131
@xgui3783 would switching to "€" as prefix satisfy your concern?

Additional note: the validator on the Githubs needs to be adopted to the new "EBRAINS" schema format soon, but for now it's just reduced to check for a valid json so that we can continue the implementation.

[2020-11-03 11:24] xgui3783 commented on #131
Yes!

T.T Though I have no "€" sign on my keyboard. (It's a small annoyance, but I am sure I can get used to it. But I think this may send the wrong message to international neuroscience communities)

Re: proposal, am I understanding correctly that the main benefit of introducing the schema is to reduce verbosity? The additional work we add to ourselves is not insignificant (writing and maintainin

[2020-11-03 11:37] lzehl commented on #131
@xgui3783 not only. Generally we just have the problem that neither json-schema nor shacl are fulfilling our needs. Meaning that the additional work of a generator which compensates for the shortcomings anyway will not be avoidable. By setting up our "own" schema language (which is much less technical and therefore much more user-friendly for less experienced programmers) we can be more steady in

[2020-11-03 11:39] lzehl commented on #131
Other prefix suggestions are welcome! As I said: I don't have a strong opinion here, it should just be very simple.

[2020-11-03 11:52] xgui3783 commented on #131
Aw, ok I understand. I have clarified my stance also on sands thread https://github.com/HumanBrainProject/SANDS/pull/92#issuecomment-721068861

I mean, we could keep it officially as the euro sign, but have a possible alias (like "__", so "€type" could also be "__type")? or would that complicate things?

I would very much like it if the symbol can be widely accessible.

[2020-11-03 12:47] lzehl commented on #101
TODO: rename to contentType.schema.json

[2020-11-03 12:55] lzehl commented on #81
TODO: change mediaType to contentType

[2020-11-03 12:56] lzehl commented on #80
TODO: change mediaType to contentType

[2020-11-03 12:58] lzehl commented on #79
TODO: change mediaType to contentType

[2020-11-03 12:59] lzehl commented on #127
solved in PR #132

[2020-11-03 12:59] #127 closed

[2020-11-03 13:14] lzehl commented on #131
@olinux & @xgui3783 the concern you have with "€" is valid. Let's go for now with "_".

[2020-11-04 08:12] lzehl commented on #131
@olinux three questions:

1) could we introduce a "_label" (see above) this would match the "title" of json-schema.
2) should we still use the file extension "....schema.json"? we are not really json-schema conform in these files and it might be confusing for users.
3) please have a look again at the "_linkedTypes" properties; what does the user need to provide here locally? based on our previous

[2020-11-04 09:19] UlrikeS91 commented on #131
@olinux and I talked about this earlier today, and would like to discuss this more. If we were to use it, @olinux would prefer to stick to `title`, but he also had very good arguments to not use it at all. @olinux, could you please give a quick summary of your view point?

[2020-11-04 09:21] olinux commented on #74
Suggestions:
- change "contributors" to "contributions" (because it points to an intermediate object
- change "documentation" to DigitalIdentifier (URL, DOI, ISBN...)

[2020-11-04 09:22] UlrikeS91 commented on #131
Additionally, @olinux suggested to replace `instruction` by `_instruction`. Since this doesn't exist in json-schema itself, we should be consistent in adding the underscore when it is something we invented.

[2020-11-04 09:38] lzehl commented on #131
I'm fine with that. Makes total sense.

[2020-11-04 09:39] lzehl commented on #131
I suggest to leave it out then. It can be easily inferred by "_type"

[2020-11-04 09:41] lzehl commented on #131
I've updated the documentation of the new schema layout above, according to your comments.
What about point 3? Or should this one be better discussed in person?

[2020-11-04 09:45] lzehl commented on #74
Not sure yet if I like it. Let's discuss this later.

I agree (this was a left over and not corrected yet). Doc above is updated accordingly now.

[2020-11-04 09:58] olinux commented on #77
Suggestion:
- change "hasResearchProducts" to dataset|software|model|datasetVersion|modelVersion|softwareVersion.schema.json due to the split of the research products

[2020-11-04 10:36] olinux commented on #76
Suggestions:
- Renaming "contributors" to "contributions" due to link to intermediate object
- Changing "documentation" and "relatedPublications" to DigitalIdentifier (representing URL, DOI, ISBN...)
- "isNewVersionOf", "isSupplementTo", "isVariantFormOf" should be "SoftwareVersion" not "ModelVersion"
- "inputFormat" and "outputFormat" are now "ContentType"

[2020-11-04 10:38] olinux commented on #73
Suggestion:
- Use this schema as an "abstract" schema and make individual schemas extending it for "dataset", "model" and "software"

[2020-11-04 10:44] lzehl commented on #77
Did we not say that we should remove this property here and make the connection to the project in the individual research products ("isPartOf" or "belongsToProject", I prefer the first)? But maybe that's what you mean :sweat_smile:

[2020-11-04 10:47] lzehl commented on #76
This one should be discussed a bit more.

Yes, I did not change this yet. I've updated the doc above accordingly.

Yes, this is an error. I've updated the doc above accordingly.

Yes, I did not change this yet. I've updated the doc above accordingly.

[2020-11-04 10:50] lzehl commented on #73
Yes, as agreed in the discussions we had. Could you create the correspondingly missing schema-revision issues for dataset, model and software?

This one should be discussed a bit more.

I've updated the docu above correspondingly

[2020-11-04 10:57] olinux commented on #75
Suggestions:
- Change "contributors" to "contributions"
- Change "documentation" to "digital identifier"
- Change "relatedPublication" to "digital identifier"

[2020-11-04 12:09] olinux commented on #82
I wonder if we could make contributionType count:1 instead. If we e.g. have a person being an author and a custodian, we need to be able to sort the contribution for "author" into the right authorship position. This would be easy if there would be two contribution instances with the same person but hard if there's only one with multiple contribution types...

[2020-11-04 12:16] olinux commented on #81
Suggestions:

- To handle the fact that the same fileInstance can be stored in various places (e.g. once in CSCS, once in Jülich...) we could have an array of resourceLocators or even introduce a new very simple object "FileLocation" of which the FileInstance can have multiple.

- isPartOf should be FileRepository instead - for the above reason, this might be an array as well. IMHO the fileinstanc

[2020-11-04 12:25] olinux commented on #81
shouldn't be  "storageSize" a "QuantitativeValue" instead?

[2020-11-04 12:34] olinux commented on #118
I thought about this: We can have study targets allowed in two spaces - the controlledTerms and another one. While the "controlledTerm" study targets are more strict, we can let users define study targets more freely in the other space. They would be clearly separated and could be easily discriminated in terms of quality.

[2020-11-04 12:43] olinux commented on #116
wouldn't you want algorithm to be a controlled term?

[2020-11-04 12:45] olinux opened #134 "v3 schema-revision: digitalIdentifier.schema.json"

[2020-11-04 12:48] olinux opened #135 "v3 schema-revision: dataset.schema.json"
Extends researchProduct.schema.json ( https://github.com/HumanBrainProject/openMINDS/issues/73 )

Adds
- **authors**: [expects: person.schema.json|organization.schema.json, count: 1 - N]
- **hasVersions** [expects: datasetVersion.schema.json, count: 1-n]

[2020-11-04 12:49] olinux opened #136 "v3 schema-revision: model.schema.json"
Extends researchProduct.schema.json ( #73 )

Adds
- **authors**: [expects: person.schema.json|organization.schema.json, count: 0 - N]
- **developers**: [expects: person.schema.json, count: 1 - N]
- **hasVersions** [expects: modelVersion.schema.json, count: 1-n]

[2020-11-04 12:50] olinux opened #137 "v3 schema-revision: software.schema.json"
Extends researchProduct.schema.json ( #73 )

Adds
- **authors**: [expects: person.schema.json|organization.schema.json, count: 0 - N]
- **developers**: [expects: person.schema.json, count: 1 - N]
- **hasVersions** [expects: softwareVersion.schema.json, count: 1-n]

[2020-11-04 12:51] #134 closed

[2020-11-04 13:42] lzehl commented on #82
I think we should discuss this. I have another idea which might work as well without introducing several contribution instances for one and the same person

[2020-11-04 13:47] olinux commented on #120
Is "strain" really a species or its own controlled term?

[2020-11-04 13:51] olinux commented on #121
I assume ageCategory should be its own controlled term

[2020-11-04 13:55] lzehl commented on #120
that's a copy paste error. should be **strain** (`strain`)

[2020-11-04 13:57] lzehl commented on #121
yes! again copy/paste error. I've corrected it in the docu above

[2020-11-04 13:58] lzehl commented on #81
yes! forgot to update this one... I've corrected the docu above

[2020-11-04 14:13] olinux commented on #126
shouldn't the "valueUnit" be a controlled term (unit) - the same as used for the quantitative value?

[2020-11-04 14:33] lzehl commented on #126
yes... don't know how that error happend :see_no_evil: I've corrected the docu above

[2020-11-04 14:35] lzehl commented on #126
for values that do not have a unit we need to have a "none" for the unit in the quantitative value schema

[2020-11-04 14:40] lzehl commented on #126
Another thing: I would like to make an additional relation here between ParameterSettings.
Use Case: I define an anaesthesia agent in one parameterSetting and how much was used of this agent in another parameterSetting.

[2020-11-04 14:41] lzehl commented on #126
AHHH NOOO! :see_no_evil: I remember now why value and unit need to be kept separate here:
value does not mean number! It could be a string

[2020-11-04 14:49] lzehl commented on #116
@skoehnen or @apdavison you think it is feasible to make the algorithm a controlled term? I have no idea how many there are...

[2020-11-04 14:55] lzehl commented on #118
@olinux sounds like a solution. Aim of the less defined space would be to keep it to a minimum, meaning going over those frequently to see if they can be migrated to controlled terms. What do you think?

[2020-11-04 15:01] lzehl commented on #73
@olinux what about "individualContributions";

1)  btw. in principle "funding" is also a contribution. should we keep it separate anyhow?
2) what about acknowledgements in this context? not only funders can be acknowledged

[2020-11-04 17:35] lzehl commented on #131
solved with #138

[2020-11-04 17:35] #131 closed

[2020-11-04 17:36] lzehl commented on #114
obsolete with #138 (title is not longer used)

[2020-11-04 17:36] #114 closed

[2020-11-05 11:30] UlrikeS91 commented on #77
Even if @olinux didn't mean that, I would agree with you @lzehl. I would also prefer to add the property `isPartOf` to each of those research products :)

[2020-11-10 09:45] UlrikeS91 commented on #99
Discussion during meeting with @lzehl: `unit` should have count = 1.

[2020-11-11 18:13] lzehl commented on #82
@apdavison & @olinux I need help setting up the correct contribution types

Side note for @apdavison : Oli and I discussed that we separate at least "authors", "custodians", "developers", and "funding" from "otherContributions". The first three because they need to be applied in order (order of authors etc) and "funding" because we ask for metadata here that do not match with the contribution sche

[2020-11-12 13:35] jcolomb commented on #82
Especially concerning question C: reminder about #49 and the use of other contribution terminologies/ ontologies,

Also, what I saw in practice is people using the same list of authors for the paper and the attached data, speaking for a integration of credit taxonomy here ?

[2020-11-12 13:44] lzehl commented on #82
@jcolomb yes! thanks for the reminder about #49

Considering paper and attached data : using the same authors is often the case, but not a rule and I know several cases where the authors are different (in order, or the number, for the latter usually the data publication only holds a subset of authors listed on the research publication)

[2020-11-12 21:29] jcolomb commented on #82
In most cases, the authors should be different, but copy paste means no need to ask and is therefore easier ;)

see https://github.com/data2health/contributor-role-ontology/issues/125, I think they did it but never updated the issue, nor add the info in that repository.

[2020-11-18 08:20] lzehl commented on #98
@MBAbrams & @tgbugs I would like to rename this into metaDataStandardVersion (and metaDataStandard for grouping the versions). I know not all corresponding products actually are a "Standard" but I think the broad community is using this term also in a more loose sense. What do you think?

[2020-11-18 12:13] jcolomb commented on #98
I do not have an answer, but a remark: as soon as you call it a "standard", you will get that feedback : https://xkcd.com/927/

[2020-11-18 12:36] lzehl commented on #98
@jagru20 :rofl: I know...  :rofl: I just cannot come up with something less biased and still intuitive for the community...

I also already thought about "metaDataModel", but that is also problematic I guess...

We can put it up for a vote (feel free to also add more ideas):
1) "metaDataConstruct"
2) "metaDataStandard"
3) "metaDataStructure"
4) "metaDataModel"

[2020-11-18 13:10] MBAbrams commented on #98
I vote for either MetaData model or structure. I agree with avoiding the
use of the word standard!

On Wed, Nov 18, 2020 at 1:37 PM Lyuba Zehl <notifications@github.com> wrote:

--
Mathew Birdsall Abrams III, PhD, MPH
Director, Science and Training
mathew.abrams@incf.org

International Neuroinformatics Coordinating Facility
Karolinska Institutet
Nobels väg 15A
SE-171 77
Sweden
http://www.incf.org

[2020-11-19 19:23] lzehl commented on #82
@jcolomb unfortunately these are "ContributorTypes" not "ContributionTypes"... but I agree with you. I think we should switch back to ContributorTypes, because these are used by DataCite and are much easier to define.

@apdavison what do you think? If you would like to keep the contributionTypes I need help defining them properly for the different contributor types. Here what I came up with (inclu

[2020-11-19 20:11] jcolomb commented on #82
CRO/CREDIT list roles, so something closer to contribution types. It seems to have what you feel is missing. (best navigate the ontology here https://www.ebi.ac.uk/ols/ontologies/cro/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCRO_0000000&viewMode=All&siblings=false)

[2020-11-19 20:42] lzehl commented on #82
Thanks @jcolomb this looks indeed closer to what we planned to integrate. I really appreciate your feedback and contributions :slightly_smiling_face:

[2020-11-20 07:19] jcolomb commented on #82
pleasure is mine. I think the people behind CRO are busy on covid projects at the moment, but I am quite sure they would be happy to see their work useful for a big project like this one, and to get feedback on their initiative.

[2020-11-20 09:58] skoehnen commented on #98
I like the sound of metaDataModel

And I also agree that we should avoid standard

[2020-11-23 17:11] #80 closed

[2020-11-23 17:11] #81 closed

[2020-11-23 17:11] #83 closed

[2020-11-23 17:11] #84 closed

[2020-11-23 17:11] #85 closed

[2020-11-23 17:11] #99 closed

[2020-11-23 17:11] #100 closed

[2020-11-23 17:11] #101 closed

[2020-11-23 17:11] #103 closed

[2020-11-23 17:11] #115 closed

[2020-11-23 17:11] #116 closed

[2020-11-23 17:11] #118 closed

[2020-11-23 17:11] #119 closed

[2020-11-23 17:11] #120 closed

[2020-11-23 17:11] #121 closed

[2020-11-23 17:11] #122 closed

[2020-11-23 17:11] #123 closed

[2020-11-23 17:11] #124 closed

[2020-11-23 17:11] #125 closed

[2020-11-23 17:11] #126 closed

[2020-11-23 17:11] #135 closed

[2020-11-23 17:11] #136 closed

[2020-11-23 17:11] #137 closed

[2020-11-23 17:11] #73 closed

[2020-11-23 17:11] #74 closed

[2020-11-23 17:11] #75 closed

[2020-11-23 17:11] #76 closed

[2020-11-23 17:11] #77 closed

[2020-11-23 17:11] #78 closed

[2020-11-23 17:11] #79 closed

[2020-11-23 17:12] lzehl commented on #8
obsolete now with new schema templates

[2020-11-23 17:14] #59 closed

[2020-11-23 17:15] lzehl commented on #50
this can be closed for now because it will be obsolete with the new version (v3.0)

[2020-11-23 17:15] #50 closed

[2020-11-23 17:15] lzehl commented on #70
@skoehnen & @olinux feel free to close this issue, I think it's a bit outdated with all the repo changes that happened...

[2020-11-23 17:20] lzehl commented on #82
I've moved the discussion to controlledTerms: https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/9

[2020-11-23 17:20] #82 closed

[2020-11-23 17:22] lzehl commented on #98
@tgbugs @apdavison and @bweyers what would you vote for? (cf. the four-item list three comments above)

[2020-11-23 17:39] lzehl opened #139 "studyTarget: needed as schema?"
@UlrikeS91 and @olinux for our discussion tomorrow:

A study target was meant to define the object of interest / focus of generally a dataset / model or specifically a protocol execution.
So far we've created this as separate schema which is largely user-defined (only asks in one property to select the StudyTargetType which is defined in controlledTerms).

What it should actually do is that for th

[2020-11-23 17:44] lzehl opened #140 "issues around specimens (subject / tissueSample)"
1) should we introduce abstract schemas here (specimen + specimenState) ?
2) quantity property in subject and tissueSample vs introducing a subjectGroup and tissueSampleCollection?
3) pathology vs disease? both needed? or merged into one property? (cf. https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/7)

@UlrikeS91 and @olinux these are some additional questions we should disc

[2020-11-23 17:46] lzehl commented on #64
I'm closing this issue now. We'll include the references to other schemas or schema properties in the vocabulary (to keep the schema templates light for the untrained user).

[2020-11-23 17:46] #64 closed

[2020-11-23 17:47] lzehl commented on #52
@skoehnen feel free to close this issue if you see it solved.

[2020-11-23 17:48] lzehl commented on #49
for further discussions see: https://github.com/HumanBrainProject/openMINDS_controlledTerms/issues/9

[2020-11-23 17:48] #49 closed

[2020-11-23 17:49] lzehl commented on #48
can be closed. is solved differently for v3.0 (cf. controlledTerms)

[2020-11-23 17:49] #48 closed

[2020-11-23 20:48] tgbugs commented on #98
Does this count as dataset metadata or can it be applied to other block types? Regardless I might just call it BibliographicMetadata?

[2020-11-24 09:18] lzehl commented on #98
@tgbugs I understood that there is the need for registering products such as openMINDS (definition of a graph metadata schema model), BIDS (definition of a common data and metadata structure), etc. and also more specific metadata schemas such as the ones of the MIP. For this reason I think "BibliographicMetadata" does not cover the content.

[2020-11-24 13:23] bweyers commented on #98
I think that metaDataStructure might be misleading as data structure in computer science is read differently: a data structure normally brings its own functioanlity to modify itself in a controlled way... Thus, I would vote for metaDataModel is a model is a descritption of something, here meta data... Thus, that might make most sense. I also do not have a better suggestion.

[2020-11-24 14:48] MBAbrams commented on #98
I agree with @lzehl "BibliographicMetadata" will not work. @tgbugs how does NIF handle this situation?

[2020-11-24 16:47] tgbugs commented on #98
Ah, I understand now. Very confusing. metaDataModel could be used, but DataModelSpecification might make it a bit clearer?

[2020-11-25 07:24] lzehl commented on #98
I would vote for the slighter shorter version "metaDataModel". Maybe even only "DataModel" works?

At least the wikipedia definition would be fitting: "A data model is an abstract model that organizes elements of data and standardizes how they relate to one another and to the properties of real-world entities. "

[2020-11-25 07:59] bweyers commented on #98
Well it is then actually a model of meta data, isn't? Thus it should be metaDataModel or not? A data model would be something like an XMLSchema that defines the structure of a speicifc data file where we describing the structure of metaData Data ;) Now it gets fancy...

[2020-11-25 08:16] lzehl commented on #98
:joy: :joy: it comes back to the definition of DATA then... but yes, my suggestion "metaDataModel" was actually driven by this...

My thoughts: if it is written "metaDataModel" it is most similar to (meta)data model which would be short for metadata / data model... and "metadataDataModel" looks weird...

[2020-11-25 08:18] bweyers commented on #98
Yes that is absolutely true! It should be metaDataModel in case 'model' is the prefered suffix.

[2020-11-25 09:06] lzehl commented on #98
Okay if there are no real objections against "metaDataModel" I will go for this term right now.

NEXT: please go through the properties in the documentation above and let me know what is missing or should be changed.

In particular I would be interested to know what TYPEs we could define for metaDataModels:
- metadata model for graph databases (e.g. openMINDS) ?
- metadata model for relational dat

[2020-11-25 11:03] skoehnen commented on #70
Okay :+1:
Is closed.

[2020-11-25 11:03] #70 closed

[2020-11-25 15:35] UlrikeS91 opened #141 "Rename version folders in al repos"
As discussed during meeting, we will rename all version folders in all repos from "vX.0" to "vX".

For example: `https://github.com/HumanBrainProject/openMINDS_core/tree/master/v3.0` change to `https://github.com/HumanBrainProject/openMINDS_core/tree/master/v3`.

[2020-11-25 16:11] skoehnen commented on #141
Did it, and now we are discussing it again 😅

[2020-11-25 17:07] tgbugs commented on #98
The only reason I would suggest to use DataModel is that these things often wind up being used to describe data as well, so there is no reason to prematurely limit the scope of the block.

[2020-11-26 11:25] MBAbrams commented on #98
@lzehl  The term for MIP metadata models is Common Data Elements (CDEs)

[2020-11-26 13:01] apdavison commented on #4
Maybe this issue could be raised more generally in EBRAINS - perhaps the Diversity and Equal Opportunities Committee would be willing to act as a neutral party for receiving reports of Code of Conduct violations across multiple projects?

[2020-11-26 14:29] lzehl commented on #4
@apdavison this is a good idea. You know who to contact for this? Independent of the code of conduct we'll plan to get an openminds-support email.

[2020-11-26 16:35] lzehl commented on #140
outcome of the discussions:
1) yes (done)
2) yes (done)
3) merged into property "pathology" linking to controlledTerms/disease and controlledTerms/diseaseModel (done)

[2020-11-26 16:35] #140 closed

[2020-11-26 16:36] lzehl commented on #141
I'm closing this. Obsolete (moved versions to branches)

[2020-11-26 16:36] #141 closed

[2020-11-26 16:48] lzehl commented on #139
outcome of the discussion: "studyTarget" is now a property linking to several controlledTerms, anatomicalEntity and a TermSuggstion (for introducing terms that are not yet registered in controlledTerms).

[2020-11-26 16:48] #139 closed

[2020-11-26 16:57] lzehl opened #142 "feedback for softwareFeature.schema.tpl.json"
@bweyers: please have a look at the [softwareFeature.schema.tpl.json](https://raw.githubusercontent.com/HumanBrainProject/openMINDS_core/v3/schemas/products/softwareFeature.schema.tpl.json)

My questions:
1) Does it make sense to have this schema in **products** or should it move into an other folder?
2) What do you link to in the property **definitionReference** (previously "definition")? Is this

[2020-11-26 17:00] lzehl opened #143 "feedback for modelVersion.schema.tpl.json"
@apdavison please have a look at the [modelVersion.schema.tpl.json](https://raw.githubusercontent.com/HumanBrainProject/openMINDS_core/v3/schemas/products/modelVersion.schema.tpl.json)

My question:
1) Is it correct that we agreed to link to a ContentType for the model format?

[2020-11-27 07:52] olinux opened #8 "Name too long?"
I was wondering if we should really strive for this long names and not only call it "IANA reference" and put the resolution of the acronym into the description!?

https://github.com/HumanBrainProject/openMINDS/blob/d492dd5d4eb5e643c077774bd7d2262b5c70c13a/vocab/properties.json#L866

[2020-11-27 10:37] skoehnen commented on #4
I think Karin Grasenick does this for SGA3, I will check.

[2020-11-27 10:38] skoehnen commented on #4
https://www.humanbrainproject.eu/en/about/gender-equality/#_contact

[2020-11-27 10:41] jagru20 commented on #142
Hey, I hope it's okay if I jump in here.
Referring **point 1:** Placing the softwareFeature.schema.tpl.json under "products" discussable, as it is not a research product as such. It has similarities with the controlledTerm schema, with the difference that the ontology used in the controlledTerm schema are maintained by the openMINDS team whereas the definition link in the softwareFeature  schema r

[2020-11-27 11:05] lzehl commented on #142
@jagru20 yes of course your feedback is appreciated!

Okay so if I understand correctly the "definitionReference" links always to an ontology?

If that is the case I would indeed suggest to define this schema as a controlledTerm.

The controlledTerms are organized by terminology / category (e.g. BiologicalSex, Species, ModelScope, etc) I guess this would then be the software feature categories tha

[2020-11-27 17:42] skoehnen opened #9 "Add How to contribute guide"

[2020-11-27 17:42] skoehnen opened #10 "Add How To Get Started Guide"

[2020-11-30 08:26] apdavison commented on #143
yes, I think that makes the most sense

[2020-11-30 08:31] lzehl commented on #143
@apdavison Perfect! Thank you for confirming again. The rest looks okay or do you miss something?

[2020-11-30 10:39] lzehl commented on #142
@jagru20 & @bweyers I urgently need feedback for the required changes for software feature for the release (which has to happen today...)

If you do not object I will do the following changes:
- SoftwareFeature schema will be deleted from core
- in SoftwareVersion schema property "hasFeature" will link to controlledTerms for softwareFeatures

For the latter I have an additional question:
From what

[2020-11-30 10:51] bweyers commented on #142
@lzehl Hi!
In general, handling SoftwareFeature as controlled term is OK! Makes a lot of sense as we are do it similarly in the current moment. As far as I rember, it was also possible to define hierarchical strcutures there? Our current list of features is here: https://github.com/bweyers/HBPVisCatalogue/wiki/Identified-Software-Features

For your question due to the use of SWFeatures in the curr

[2020-11-30 12:33] #9 closed, assigned to skoehnen

[2020-11-30 12:33] #10 closed, assigned to skoehnen

[2020-11-30 13:12] lzehl commented on #142
@bweyers thanks for this overview. It makes more sense to me now. Apparently the only software feature category that is used in the KG at the moment is Abstract Data Types (but in KG only listed as "abstract"). Would you like to keep this grouping into software feature categories in the KG (meaning in the schemas)?

Which of the following options would you prefer?
(Note that if the hierarchy of so

[2020-11-30 14:04] bweyers commented on #142
@lzehl Thus, what you mean is that we are defining the hierarchy in softwareFeature.schema.tpl.json?

[2020-11-30 14:12] bweyers commented on #142
Just discussing with Jan: Thus, we would represent our hierarchy as follows:

[2020-11-30 14:33] lzehl commented on #142
@bweyers no what you suggest is not possible within controlledTerms. The options I gave you above is what can be done within controlledTerms. The grouping was only introduced to be able to reference specific sets of terms within one property (e.g., property "ageCategory" allows all controlledTerms of type "AgeCategory").  Everything else (such as relations and hierarchies) is for other terms handl

[2020-11-30 14:50] bweyers commented on #142
@lzehl ok, thanks for clarifying. We would then go for option A) and using WikiData as main source for hierarchies and terms necessary. This would be the simplest and easiest way. If we start to include things into the SoftwareVersion schema we would gain a certain level of infexibility, which should be avoided!

[2021-01-07 17:18] apdavison opened #148 "Do not require contact information in schemas/actors/person.schema.tpl.json"
Research products may have contributors who do not have contact information (retired, left academia, deceased...)

[2021-01-07 17:23] apdavison opened #149 ""associatedFileExtension" should not be required in schemas/data/contentType.schema.tpl.json"
Some content types are based on directories, not files, so don't have an associated extension

[2021-01-08 11:13] apdavison commented on #143
@lzehl I've now started planning in detail the migration of model/model version metadata to openMINDS. I think the following changes are needed:

- move `studyTarget`, `scope`, and `abstractionLevel` from `ModelVersion` to `Model`. The reason is that if you change any of these things you have a new model, not just a new version
- for `inputData` and `outputData`, we need to allow links to `FileRep

[2021-01-18 14:01] lzehl commented on #8
Yes. Property names should be as short as possible (providing enough idea what they are about, but not necessarily self explanatory. the full explanation can be provided in the descriptions as you said) .

I'll have a look and make a plan which could be shortened.

[2021-01-18 14:03] lzehl commented on #7
@xgui3783 thanks for noticing. This is indeed a missing update in the quantitativeValue schema. I'll check and correct it.

[2021-01-18 14:06] lzehl commented on #7
@xgui3783 I just saw it's already corrected. I'll close the issue. Please continue raising issues :) it's great to get feedback and help with detecting errors that might still be in the schemas.

[2021-01-18 14:15] lzehl commented on #6
@xgui3783 thanks for reporting this issue. This was missed in the last update of the schema. It should be deleted from the required array. I'll correct it.

[2021-01-18 15:01] olinux opened #150 "Simplification & ensurance of consistency in quantitative value range"
Although it is comprehensible that a quantitative value range could potentially contain a max and a min value both with different units and uncertainty, I wonder if this actually makes sense since the interpretation of such a combination of different units is quite cumbersome. Additionally, this multi-level nesting can introduce additional complexity. I'm wondering if it would be ok to have a "min

[2021-01-18 16:12] lzehl commented on #150
@olinux thanks for bringing this up. Ulrike and I discussed it during the implementation of this schema and decided for the most consistent way.

Nonetheless I would like to leave this for discussion.
@UlrikeS91 , @skoehnen & @apdavison what do you think?

[2021-01-18 16:14] lzehl commented on #149
@apdavison thanks for reporting this issue. I agree, the associated file extensions cannot be required for directories. I'll update this asap.

[2021-01-18 16:20] lzehl commented on #148
@apdavison this is a good point. We should make it not required. I'll take care of it asap.

Note: This change requires that we need to make clear to the EBRAINS curation team that even if not required all authors need to have contact information (email) if available, because of the new notification policy in the publication process the research product.

[2021-01-18 16:31] lzehl commented on #143
@apdavison thanks for providing feedback on the model schemas.

To your first point: good to know, I'll change this asap.

The second point I would like to discuss. In principle the idea was the Digital Identifier can be also used to link to a FileRepository, FileBundle, and FileInstance (e.g. via the KG identifier for internally stored data or URI for externally stored data), but I can see that t

[2021-01-18 16:36] lzehl commented on #9
I close this issue for now. We can come back for it if the need arises. Tutorials and complete usage examples might be more useful.

[2021-01-19 10:10] UlrikeS91 commented on #150
As @lzehl said, we discussed this when we decided for the additional schema. We also noticed that especially the unit is problematic, but possible to solve by curation.
The reason we decided for each value to have its own uncertainty and unit, was mostly based on the uncertainty. I absolutely agree that both values should have the same unit, but there is absolutely no reason for the uncertainties

[2021-01-19 13:24] lzehl commented on #150
@UlrikeS91 & @apdavison : I would be happy if we keep the structure as it is, but I could imagine the following alternative solution for **quantitativeValue** and **quantitativeValueRange**

**quantitativeValue** stays as it is (properties: _value_ [single number], _uncertainty_ [array of two numbers], _unit_ [valid for value and uncertainty]).

**quantitativeValueRange** could be further simplifi

[2021-01-19 13:43] UlrikeS91 commented on #150
There are probably several examples, but I think it would still be fine to simplify it anyway. You are right that ranges already reflect some uncertainty. It probably doesn't need to be any more specific than that. I can at least not see any example where this wouldn't be sufficient for our needs.

[2021-01-21 15:58] UlrikeS91 opened #152 "What property to use for schema "contentType"?"
I've went trough all schemas again and got confused when I came across the schema for `fileRepository`. One of the properties is `format` with count 0 - 1, which confused me. I associated `format` with file format rather than the actual meaning, which is e.g. to give repository structures such as BIDS. This also explains the coutn of 0 - 1 (which would be weird for file formats since a repository

[2021-01-21 16:09] UlrikeS91 opened #153 "Laterality and "maxItem""
I've went through all schemas again and noticed that 5 schemas refer to `controlledTerms/laterality`:

**core:**
subjectGroupState --> handedness
subjectState --> handedness
tissueSampleCollection --> laterality
tissueSample --> laterality
**sands:**
annotation --> laterality

But `subjectGroupState` and `subjectState` don't use `"maxItem": 2`. Thinking about it, it may actually makes sense to rem

[2021-01-29 10:10] lzehl commented on #142
It seems we clarified the open questions in this issue. I'm closing it for now. s

[2021-01-29 10:10] #142 closed

[2021-02-04 13:42] olinux opened #156 "Is identifier pattern meant to be a regex?"
What was the idea for the values of the identifier pattern? Is it a regex?

https://github.com/HumanBrainProject/openMINDS_core/blob/850b6a03c9726ea5ce7d03854d446f46e03fcdd1/schemas/miscellaneous/digitalIdentifierSchema.schema.tpl.json#L16

[2021-02-05 10:32] lzehl commented on #156
Yes. I think that should be a regex. The description / instruction should be updated accordingly. We should also state what regex is used (I suggest the same as for json-schema. Draft 7 is using the ECMA 262 dialect.)

@olinux what do you think?

[2021-02-05 10:52] lzehl commented on #152
@UlrikeS91 no I think you covered all aspects.

@apdavison & @bweyers : here some options I can think of at the moment:
1. "dataModel"
2. "dataModelFormat"
3. "usedDataStructure"
4. "fileRepositoryFormat" | "fileBundleFormat"

What do your think? Of course feel free to make a counter suggestion as well.

[2021-02-05 11:09] apdavison commented on #152
I don't think this is a problem. We can just keep "format". in @UlrikeS91's example, the contentType of the `fileRepository` or `fileBundle` would be something like `vnd.bids`. Each of the individual files within the repository or bundle can have its own contentType (`application/json`, for example).

[2021-02-05 11:12] lzehl commented on #152
@apdavison : I agree, but we need to be clear in the instructions then. People that are unfamiliar with the concept of data structure formats (such as bids) might assume that "format" should state the formats of the files within that repository/bundle.

Do you have a nice suggestion for such an instruction?

[2021-02-05 11:20] apdavison commented on #152
How about "leave blank if this bundle represents just a folder; if the files within the bundle are part of a single entity, such as a BIDS dataset, use the appropriate contentType" ?

[2021-02-05 11:30] UlrikeS91 commented on #153
I'm not sure if we should rename the property to any of your suggestions. They don't seem quite suitable. I think we ended up with "laterality" because this is used in anatomy quite frequently. My biggest issue is that it's usually used to describe dominance of one half over the other. But what we were aiming for is closer to the adjective “lateral” (= lying at or extending toward the right or lef

[2021-02-05 11:53] lzehl commented on #153
I agree that "hemisphere" is not really the correct term for all body parts.

I found "hemibody" used for medical descriptions to state the affected body half.

I would be happy to find another term to "laterality". I personally associate this with the values "ipsilateral" and "bilateral" not with the actual side "left" / "right".

Generally I would like to make more clear what is meant:
- From wh

[2021-02-05 13:20] apdavison opened #158 "Add affiliations to link Person and Organization"
In the context of Live Papers, I would like to be able to provide affiliations for the authors. The LivePaper schema should probably be in an openMINDS extension, but I think the concept of affiliation is sufficiently generic to belong in core.

Specifically, I propose to add an Affiliation schema in core/actors, which would link one Person with one Organization, and would have a start date and en

[2021-02-05 13:21] lzehl commented on #152
Thanks. That helps :) I will maybe switch it around a bit. "single entity" is a bit difficult to understand, maybe
"If files within the bundle are organized and formatted according to a formal data structure use the appropriate contentType. Leave blank otherwise."

[2021-02-05 14:13] jagru20 opened #159 "Add contactInformation-alike for softwareVersion or researchProductVersion"
In a discussion on how to map the former `help` -Attribute onto the openMINDS schema, @olinux and I have been struggling to find a proper equivalent. `help` can contain several entries, from which each can be a url or a mail address or similar. This is meant as an answer to a possible user's question "How can I do XY with this software?" assuming, that the answer is not in the documentanion.
We co

[2021-02-05 14:34] lzehl commented on #158
I agree that affiliations should be covered in the core (we had it on the list and then forgot about it again...).
Do we need to be able to hide them like the emails?

TODO then: add a property called "affiliation" to Person schema that links to an Affiliation schema.
Adding an Affiliation schema to ACTORS with properties "startDate" (type: string, format: date), "endDate" (type: string, format: d

[2021-02-05 14:37] apdavison commented on #158
@lzehl I'll make a PR, it will be good practice for getting to grips with the schema templates

[2021-02-05 14:39] lzehl commented on #159
Mh. I see your point. But I would like to have a more concrete example to be able to think about it and see if that might be also useful for the other research products.

You said "help" in the past linked to
+ a URL (so a support page, forum page, etc, I suppose?)
+ email (which would be a person)

Any other use cases already?

[2021-02-05 14:43] lzehl commented on #158
great :slightly_smiling_face: let me know if you have questions. I still need to do a proper documentation for the template dialect.

[2021-02-05 15:58] lzehl commented on #150
@apdavison what do you think about this discussion? What would be your recommendation?

[2021-02-05 16:25] lzehl opened #161 "Changing / Extending ParameterSetting"
This issue is made for documentation purposes and to incorporate more feedback (if necessary).
It was discussed with @UlrikeS91 and @olinux offline in advance.

**Summary of the offline discussion:**

First, the current ParameterSetting schema is meant to only hold one parameter setting. Discussing more use cases / examples this turns out to be not sufficient in case of parameter settings that are

[2021-02-05 17:00] jagru20 commented on #159
Thanks for the quick reply.

this is correct.

This is partly correct. Take `NEST v2.20.0` as an example: It has three entries at `help` {
1."support@humanbrainproject.eu"
1."https://www.nest-simulator.org/mailinglist/postorius/lists/users.nest-simulator.org/"
1. "https://github.com/nest/nest-simulator/issues"

All of these are either URLs or email, but for example, the mentioned email is not nece

[2021-02-06 11:50] apdavison commented on #161
@lzehl yes, I think this is going too far with core, and should be left to openMINDS extensions for in-depth metadata.

At the Tier 1 level, I would solve the anaesthetic agent example by putting `"anestheticAgent": "isoflurane 0.5%"`.

For going beyond this, we could imagine an openMINDS/chemistry extension - see [helmholtz/chemistry](https://github.com/apdavison/helmholtz/blob/master/helmholtz/c

[2021-02-06 12:10] apdavison commented on #150
I would support @lzehl's last suggestion, for the sake of simplicity.

The `_instruction` string for QuantitativeValue needs more detail, by the way. Uncertainty can be expressed as +/- standard deviation, +/- standard error of the mean, 95% confidence intervals, etc.; the instruction needs to state which one is intended. Alternatively (and probably better due to the impossibility in general of co

[2021-02-07 16:05] apdavison commented on #143
Hi @Lyuba, sorry it's taken me so long to reply. For the links via DigitalIdentifier, my thinking is that for internal objects we should use the specific types, and keep DigitalIdentifier for links to external resources. Otherwise everything could just link via DigitalIdentifiers. For `inputData`, for example, not all objects with a DigitalIdentifier would be valid, only things that represent actu

[2021-02-08 08:37] lzehl commented on #159
@jagru20 thanks for the clarification. In case of general support emails I would use an organization instead of a person.
That should fit form my perspective because an email is addressed to some legal person or organization I would say.

So in your case: HBP, or do you think that this is incorrect?

I'm still thinking on how to solve this. Easiest would be to have as you suggested a "support" or

[2021-02-08 09:33] lzehl commented on #161
@apdavison I don't see how combining would make the issue much simpler, but maybe I did not fully understand. To have all parameters to one technique grouped directly would still require a two schema setting, correct? But within that schema setting we could leave out the "unitOfMeasurement" and go with the combined string (and corresponding instructions on how to write this). Would it be useful to

[2021-02-08 09:41] jagru20 commented on #159
Yes. I would also go with using the organization instead of a person, but I'm not sure if we can also apply this to every other type of entries here.

I think this is not possible (at least [this validator](https://www.jsonschemavalidator.net/) wont accept anything other than a single string for `format`).

[2021-02-08 09:47] lzehl commented on #143
@apdavison no worries. I know you are busy ;) I'm okay with adding the direct linkage possibility to the file schemas if this is too cumbersome otherwise.

The reason why we first decided for only going over the DigitalIdentifier instead was that this would push users to go with the official, citable DigitalIdentifier or at least provide a "howToCite" possibility. We also thought that would make i

[2021-02-08 09:58] apdavison commented on #161
@lzehl I'm not sure I understand your point. Could you or @olinux explain why "Allowing an entry to be an object OR a string seems to be technically difficult"? - that seems to be the crux of this issue.

[2021-02-08 10:16] lzehl commented on #161
@apdavison in principle there are three parts in this issue (sorry for not making that clearer in the issue):

1) grouping parameters that belong to the same technique  / behavioral task instead of entering them independently each with a reference to the same technique / task.
2) how to deal best with parameters that are highly depend on each other / are highly related to each other and may lead t

[2021-02-08 14:18] lzehl commented on #6
@xgui3783 the schema is fixed already in the v1 branch of openMINDS/SANDS. The corrected schema will be also in the next sub-release. I'm closing this issue now and thanks again for reporting the error.

[2021-02-08 17:37] apdavison opened #163 "Model collections"
A  common scenario in modelling is that we have a large number of similar/related single neuron models. Each model needs to have a separate representation in the KG, as they can be used individually, and may have different validation reference data, etc. However, we don't want to flood the KG Search results with hundreds of such models, rather the user should retrieve a model collection, with link

[2021-02-08 17:37] apdavison commented on #163
@olinux @lzehl what do you think?

[2021-02-09 09:03] lzehl commented on #163
Dear @apdavison this is an important use case and similar than for datasets (although with much larger collections, I suppose). We received multiple requests by users and reviewers to "hide" versions in the KG Search and only present them on direct request.

I had something like the following in mind for this, but did not yet fully discuss this with @olinux or the development team (I think it matc

[2021-02-09 09:31] apdavison commented on #163
@lzehl This is close to the model collection use case; the main difference is that each of the component single neuron models has both a `Model` and at least one `ModelVersion`, so we would still need to be able to hide (or group) the `Model` products in the KG Search.

[2021-02-09 09:51] lzehl commented on #163
@apdavison I think I do not understand the structure of this completely...  Let me ask a couple of questions (to see where I might have the wrong assumption):

1) There is a main Model with a set of ModelVersions?
2) These main ModelVersions are defined by some code, but that code integrates also various other (sub)Models and all their versions or actually one version for each of these (sub)Models

[2021-02-09 10:10] apdavison commented on #163
@lzehl Let me try to restate the problem:

- There is a collection of related/similar Models. Each Model has at least one ModelVersion.
- The size of the collection is somewhere between 10 and 1000.
- Each Model can be used independently.

The problem is that because there are so many they would dominate the KG Search results, so we would like a single entry per collection in the results, which gi

[2021-02-09 10:41] lzehl commented on #163
Thanks for explaining again @apdavison. Here my thoughts:

Normally I would say that for grouping related models typically a Project should be used. But that of course does not solve the problem that you do not want to flood the KG Search Results.

For solution 1: I still have some question here: why is there a ModelCollectionVersion needed? would it be not sufficient to group all Models (and with

[2021-02-09 10:47] apdavison commented on #163
for example, more models might be added to the collection.

[2021-02-09 11:15] lzehl commented on #163
@apdavison I see.

That case could be covered in solution 2 over a Project then: Each ModelCollectionVersion would be one Model (rest is the same as stated above) and these Models are grouped into a Project.

Would that work?

Solution 3 (similar to 2 but a different angle): Leave schemas as they are, but add an optional property "isPartOfCollection" to a ResearchProduct that can link to another R

[2021-02-09 13:57] jagru20 opened #164 "Allow more than one entry for license"
https://github.com/HumanBrainProject/openMINDS_core/blob/0e2cb6236b96d5c243a24675b69ed9304f4bbd95/schemas/products/researchProductVersion.schema.tpl.json#L103

While it is logical, that a dataset can only be published under one license at a time, software can be under more than one license. Therefore, after a quick discussion with @olinux we suggest allowing an array for license.

[2021-02-09 13:58] xgui3783 commented on #164
Cosign +1

[2021-02-09 15:18] lzehl commented on #163
I need to think this more through...

 @apdavison could you let me know in which use case a collection version is really needed (e.g., should they always get a DOI?) I understood first that the feature you're missing is mainly for visualizing purposes and not because that this structure is needed for referencing. I'm just asking again because the versioning makes this problem much more difficult t

[2021-02-09 16:30] apdavison commented on #163
Yes, the collection needs to be citable. It is less important that the individual members be citable.

If we add the property "isPartOfCollection" to ResearchProductVersion rather than to ResearchProduct, I think that solves the versioning problem. Then any ResearchProductVersion which for which "isPartOfCollection" is not empty should be "hidden", and any ResearchProduct for which all its version

[2021-02-09 17:00] lzehl commented on #163
![collectionIssue](https://user-images.githubusercontent.com/6161552/107399071-9a6def00-6b00-11eb-8d85-27e7b28f8933.png)

[2021-02-09 17:04] lzehl commented on #163
@apdavison sorry for all the spams on that issue today. Would the previous sketch of the model satisfy your use case?
I'm not yet sure how to solve / define the list of supplements for each collection version in that case. This might have to be it's own schema eventually which is maybe even connected to the ResearchProduct as main collection again.

[2021-02-09 17:36] apdavison commented on #163
@lzehl any possibility you could share the diagram with me in an editable form? then I can show what I have in mind

[2021-02-09 20:52] lzehl commented on #163
@apdavison Of course, I'll send you an email.

[2021-02-10 08:44] jagru20 commented on #163
Hi all, I am not sure if I can give much input to the discussion, but to answer the question on the location of hasSupplementVersion: I am not sure if that property makes Sense in the researchProduct because it would mean, that one software entity can link to a softwareVersion. In my opinion, this possibility should be - for software - located at researchProductVersion, as it is theoretically poss

[2021-02-10 11:45] lzehl commented on #163
@jagru20 yes. I thought that you might mention the "hasComponents". Let's wait for @apdavison feedback on the sketch. Please continue following this discussion so that we can solve this issue for all research products sufficiently (considering all adoption of the concept of an additional grouping for the research products and/or research product versions).

[2021-02-10 11:54] lzehl commented on #164
@jagru20 , @olinux , @xgui3783 thanks for that note. I guess the "license" property should be moved then to the specific research product to allow validation for different counts (or should we leave it to the curators to make sure)? I'm not even sure if in principle a dataset could also have multiple licenses...

@apdavison what about models?

[2021-02-10 11:56] lzehl commented on #164
@jagru20 , @xgui3783 , @olinux out of curiosity: how does that work for software? are the licenses there attached rather to files than to software product as whole? Or can multiple license apply to the same file?

[2021-02-10 12:05] jagru20 commented on #164
As far as I know, the software as a whole can be distributed under more than one license. For example if a developer wants to make the software open source (e.g., under GPL) but also wants to profit from selling proprietary licenses to companies which include it into their business, for example. (This is taken from [here](https://en.wikipedia.org/wiki/Multi-licensing)

[2021-02-10 12:10] jagru20 commented on #164
I think @UlrikeS91 described the procedure for more than one license per dataset [here](https://github.com/HumanBrainProject/openMINDS_core/issues/74#issuecomment-709055601) I suppose, this is still up to date? But I think this procedure is not directly applicable to software, because besides from the example in my above comment, where the two licenses are used for different cases, there is also t

[2021-02-10 12:20] xgui3783 commented on #164
hmm, it seems as far as software is concerned, it can get quickly complicated.

In addition to @jagru20 , some software packages allow users to choose:

https://www.npmjs.com/package/path-is-inside

some software packages specifies that both license apply:

https://www.npmjs.com/package/sha.js

[2021-02-10 13:23] apdavison commented on #163
![Copy of collection issue](https://user-images.githubusercontent.com/260552/107515582-803d1b00-6bab-11eb-8323-4bbca3313568.png)

[2021-02-10 13:25] UlrikeS91 commented on #164
This is how we have viewed this so far, yes. In 99% of the cases, I assume that this will still be valid. Based on this Wikipedia link @jagru20 pasted into his comment, this whole things seems to be very challenging...

"When software is multi-licensed, recipients can typically choose the terms under which they want to use or distribute the software, but the simple presence of multiple licenses in

[2021-02-10 13:42] UlrikeS91 opened #165 "studyTarget"
While working on a first dataset, we noticed that the studyTarget options aren't very extensive. I talked to @lzehl about it and we also noticed that maintenance could become challenging. In short, `termSuggestions` should be evaluated and grouped regularly, but then all the schemas using the property `studyTarget` would need to be updated as well with these new groups.

So, we wanted to ask @olin

[2021-02-10 13:47] UlrikeS91 commented on #165
Also, perfect example for maintenance issues is `controlledTerms/cellType`. We made changes to the `origin` in `tissueSamples` and added this as an option (next to `controlledTerms/organ`), but oversaw that this should be added as option to `studyTarget`.

(So, in case we don't want to/can't change anything, we should at least add `cellType` to all `studyTargets`.)

[2021-02-10 14:49] jagru20 commented on #159
I think it is.  Could look like:
[code]

just as a suggestion... I would also suggest placing this under schemas/actors.

[2021-02-10 15:03] lzehl commented on #163
@apdavison looks good I think. The ResearchProducts on the right side and the ResearchProductVersions of the different model versions in the middle should not show up in the KG Search, correct?

Some points / questions:
1) Could we rename "isSupplementedBy" to "hasComponents"? (cf. comment by @jagru20 and next point)
2) For datasets with cohort releases (first 20 subjects, second 30 subjects, thir

[2021-02-10 15:10] apdavison commented on #163
1. yes (or we could invert the connection, have "isComponentOf")
2. makes sense to me
3. that's a question for @olinux. In principle the query could exclude items that are in a "hasComponents" list (or which have an "isComponentOf" link)
4. no, I don't think so

[2021-02-10 15:34] lzehl commented on #159
@jagru20 thanks for further thinking about this. My thoughts here are the following:

Normally the support email should work over a long (or endless) time. Maybe therefore the properties "email" + "iri" in the FindHelpAt schema is sufficient (both optional).

In any case "isProvidedBy" will be ignored if "mail" is given in properties... I also realized that for Organizations and Persons the contac

[2021-02-10 15:36] UlrikeS91 commented on #159
If I'm not mistaken, you are allowed to define two formats like this:
[code]
I also tried it in the validator @jagru20 linked ([this validator](https://www.jsonschemavalidator.net/)), and that was allowed ;)

[2021-02-10 15:42] UlrikeS91 commented on #159
If I'm correct and we can define two formats, I would support having a single property (and also if not actually...). I would just call it "supportChannel" (without provided).
I would not make this an additional schema. The custodian is still there. This can be an organization or a person, which can be contacted as well.

[2021-02-10 15:48] lzehl commented on #165
@UlrikeS91 thanks for raising and formulating the issue. For now please go ahead and include controlledTerm/CellType in all "studyTarget" properties.

@olinux I was thinking of something like the following:
`... `
`"_linkedTypes": "https://openminds.ebrains.eu/studyTargetTypes",`
`...`
With studyTargetTypes being a list of all allowed controlledTerms types and the suggestedTerm stored as a csv in

[2021-02-10 15:55] lzehl commented on #159
@UlrikeS91 could you double check with @olinux if the double formats works and for simplicity reduce this in our template dialect to `"format": ["email", "iri"]`?

I agree with your suggestion for the property name. Thanks for jumping in as well :)

[2021-02-12 13:02] olinux commented on #165
How about this:
We specify a
`
"_categories": ["studyTarget"]
`
in those schemas which are actually suitable for study targets.

In the consumer, we define
`
"_linkedCategories": ["studyTarget"]
`

TODO: We need to resolve the schemas based on their categories and resolve them in the generation step so the resulting json schema contains the full list of involved types.

[2021-02-12 13:04] lzehl commented on #165
@olinux thanks ! that's even a better idea! I'm starting a PR for this. :)

[2021-02-12 14:32] lzehl commented on #158
This issue was solved in the PR #162. I'll close it now.

[2021-02-12 14:32] #158 closed

[2021-02-12 14:38] lzehl commented on #164
I discussed this issue with @olinux and we decided for the following option:

The property "license" will be moved to the specific research product version allowing for multiple licenses for model and software versions, and only one license (for now) for dataset versions.

@jagru20 do you have the time to take this over, or should I do the PR on this?

[2021-02-12 14:47] lzehl commented on #159
I discussed with @olinux and we decided the following:

In general, the json-schema property "format" will be changed to a schema-template property "_format" expecting always (!) a list.
In cases with only one format this will look like this: `"_format": ["email"]`
In case of multiple possible formats this will look like this: `"_format": ["email", "iri"]`

I'll prepare a corresponding PR. This wi

[2021-02-12 15:54] olinux commented on #161
@apdavison and @lzehl. The problem with having a property defined as a choice of ["string", "object"] is at the interpretation level (obviously, this is possible with JSON(-LD) and supposedly covered by JSON-Schema / SHACL): Any client would have to write conditions to handle this data - whilst having only objects would allow to specify type-filters on the query level (e.g. "I'm only interested in

[2021-02-15 09:04] olinux commented on #163
Hi,
Here are my thoughts about this: I see the point in having a structure like this - we should make sure though that it's well understood what it describes for both, the producer of the structure and the consumer. Therefore I would suggest to call a ResearchProduct(Version) a "composite" when it consists of multiple other ResearchProduct(Version)s which should be documented explicitly as part of

[2021-02-15 09:18] jagru20 commented on #164
To be honest, I would be very thankful if you could do this.

[2021-02-15 10:12] lzehl commented on #164
@jagru20 sure! I'll take care of it :)

[2021-02-15 13:31] lzehl commented on #163
Based on @apdavison example structure and @olinux comments I'd like you to have a look at the following drawing
![collection issue](https://user-images.githubusercontent.com/6161552/107952769-7a27af80-6f9a-11eb-8e84-67dcef8d4954.png)

[2021-02-15 13:52] lzehl commented on #163
I picked up the following aspects from the suggested approaches:
+ ResearchProduct can ReasearchProductVersion both have the property "hasCompenents"
   - for ResearchProduct this property can connect to other ResearchProducts
   - for ResearchProductVersion this property can connect to other ResearchProductVersions
+ ResearchProduct in addition can have the property "hasVersions" which can connec

[2021-02-15 14:21] olinux commented on #163
Hi Lyuba,
It does with the minor additional comment that imho "ResearchProductVersions" should be able to point to both, "ResearchProduct" and "ResearchProductVersion" by the "hasComponent" since it would be quite tough to represent (and maintain) the dependency graphs of Software if you can only connect versions with each other. This is especially true if you're thinking about widely used librari

[2021-02-15 14:32] lzehl commented on #163
@olinux & @jagru20 for "hasComponents" to be honest it does not really makes sense to me to allow pointing from a version to a concept. Would it not be sufficient to allow "only" the registration of the conceptual collection (white shade) with it's Research Product components (gray shaded) in the above depicted metadata model? (Meaning for such a case the colored versions could be left out.

[2021-02-15 14:51] olinux commented on #163
@lzehl this is actually not the same use-case:

What I had in mind for software was that you're registering your software - let's say "Knowledge Graph" with its version "v3" -> now "Knowledge Graph v3" depends on a component called "ArangoDB". So what I would do is to register "ArangoDB" as another Software. There's plenty of different versions for ArangoDB and the "Knowledge Graph" is trying to u

[2021-02-15 15:16] lzehl commented on #163
@olinux thanks for providing this hands-on example. It helps a lot to organize my thoughts better.

I think the key point for software is that there we are talking about dependencies of a software product which has frequent sub-releases that might not all be captured in the KG. The components in such a software were (most likely) not build to serve that software but were produced as independent pr

[2021-02-16 15:09] jagru20 commented on #163
As far as I understood, the purpose of the current components attribute in software was not to capture all possible dependencies of a software, but rather to yield to other _neuroscience-related_ software that this software uses as a component to function. What we considered as _neuroscience-related_ until now is software, that either already is part of the KG or is to be integrated into it (i.e.,

[2021-02-17 06:37] olinux opened #169 "otherContributions embedded?"
I would like to suggest to make the "otherContributors" an embedded type instead. This is because:
- A contribution can not exist without its product
- The "https://openminds.ebrains.eu/core/Contribution" is a minimal schema (very few properties) and therefore well suited for being embedded

https://github.com/HumanBrainProject/openMINDS_core/blob/802161ff8ac0ece09487a090ffb1dc15fc617a9f/schemas/p

[2021-02-17 06:40] olinux opened #170 "Why do we have a minItems in "otherContribution"?"
I don't understand the requirement for minItems in "otherContribution", especially since the property is not required. I would argue an empty list as payload (although not nice) should not be invalid. Instead, it could be seen as an explicit "there is no other contribution" to differentiate from "not filled in"

https://github.com/HumanBrainProject/openMINDS_core/blob/802161ff8ac0ece09487a090ffb1d

[2021-02-17 09:08] lzehl commented on #169
This is then an embedded schema with links to not embedded schemas, correct? But in principle, quantitativeValue is this as well (linking to controlledTerm/UnitOfMeasurement).

@olinux it makes sense to me. Should I do the PR? Or should I make the commit in PR #168?

[2021-02-17 09:14] lzehl commented on #170
@olinux this was a decision we made a while ago. We introduced it consistently for all array types, but (if I remember correctly) out of the reason that for obligatory properties the empty list would pass the validator which is of course not what we want in that case.

Also consistently we introduced "uniqueItems" for array types (I think so far we do not have a case where we would explicitly allo

[2021-02-17 09:17] UlrikeS91 commented on #170
@lzehl, I think you misunderstood his suggestions. I think what @olinux is trying to suggest, is to actively remove this from just this one property so that you can explicitly express that there are no other contributions (since you need to actively add an empty `contribution`.

But I fear that we will run into some consistency issues (and general confusions). Explicitly expressing that there are

[2021-02-17 09:28] lzehl commented on #170
@UlrikeS91 no I think I understood correctly. It comes back to consistency. Of course we could say all non required properties of type array do not have the `"minItems": 1`, because there the empty list is not really a problem, but would introduce a if/else logic which we always need to explain.

IMHO I would rather go with the consistent way: All properties of type array have to have at least one

[2021-02-17 17:16] lzehl commented on #163
@apdavison , @olinux , @jagru20 , @UlrikeS91 , @skoehnen , @bweyers

I've made the following changes now (within the PR #168):
1) All individual **ResearchProduct** schemas (**Dataset**, **Model**, **MetaDataModel**, **Software**) have now a property `"hasComponent"` that can link to another **ResearchProduct** of the same type.
2) All individual **ResearchProductVersion** schemas (**DatasetVersio

[2021-02-17 17:40] lzehl commented on #150
@apdavison , @olinux , @UlrikeS91 , @jagru20 , @skoehnen

I've made the following changes within the PR #168 :
1) simplification of **QuantitativeValueRange** to directly ask for properties `"maxValue" `(number; count:1), `"minValue"` (number; count:1), and `"unit"` (object; link to **controlledTerm/UnitOfMeasurement**; count:1)
2) modification of **QuantitativeValue** to also state property "type

[2021-02-17 17:43] lzehl commented on #169
@olinux this request is now integrated as commit to PR #168

[2021-02-17 17:45] lzehl commented on #165
@olinux as you can see above the commits for the required/discussed changes were committed in PR #168

[2021-02-17 17:56] lzehl commented on #149
Solved in latest commit on v3 (as exception I did not make a PR for this small change)

[2021-02-17 17:56] #149 closed

[2021-02-17 17:57] lzehl commented on #148
This issue was solved :)

[2021-02-17 17:57] #148 closed

[2021-02-17 18:17] lzehl commented on #161
@apdavison , @olinux , @UlrikeS91

Because the ParameterSettings are supposed to be completely user defined, I wanted to make the following suggestion:
Could we ask for a string is of format dictionary?
**ParameterSetting.schema.tpl.json**
+ "isValidFor" (object; count:1; link to controlledTerm/Technique OR controlledTerm/BehavioralTask)
+ "usedParameters" (string, format: dict; count:1)

I know t

[2021-02-19 15:41] skoehnen opened #14 "Missing descriptions in full schemas"
Lyuba and I saw that the description from the vocab are not represented in the generated schemas.
Did we do something wrong or is this not yet implemented.

[2021-02-23 13:21] olinux opened #171 "wrong types in protocol"
https://github.com/HumanBrainProject/openMINDS_core/blob/3edec14695e92e6688e0b170f0dc44adc9b8d050/schemas/research/protocol.schema.tpl.json#L32

these types are wrong. they should be "controlledTerms" instead of "controlledTerm"

[2021-02-23 13:58] #171 closed

[2021-02-24 12:23] #159 closed

[2021-02-24 12:24] #164 closed

[2021-02-26 12:27] lzehl commented on #170
@olinux is your question solved? (or is there still a technical issue with the previous decision on this that I did not understand, yet?)

[2021-02-26 12:28] lzehl commented on #169
This issue was solved in PR #168

[2021-02-26 12:28] #169 closed

[2021-02-26 12:33] lzehl commented on #165
This issue was solved in PR #168

[2021-02-26 12:33] #165 closed

[2021-02-26 16:07] apdavison commented on #161
Would it work to define "StringParameter" (name + value) and "NumericalParameter" (name + QuantitativeValue), and have ParameterSetting be an array that can contain (embedded) objects of both types?

[2021-02-26 16:23] lzehl commented on #161
Sure ! I think that's a great idea. Relation of Parameters should be defined via the Name, then? E.g.
StringParameter 1:
name: "retrogradeTracerA"
value: "X"
StringParameter 2:
name: "retrogradeTracerB"
value: "Y"
NumericalParameter 1:
name: "concentrationTracerA"
value: {->quantitativeValue X}
NumericalParameter 2:
name: "concentrationTracerB"
value: {->quantitativeValue Y}

[2021-02-26 16:45] UlrikeS91 commented on #161
Alternatively, @lzehl and I discussed this:

protocolExecution get parameterSetting as _embeddedType (array is allowed) and parameterSetting would have the following properties:

**ParameterSetting**
properties:
- context (1 - 1)
- relevantFor (1 - 1):
   "_linkedTypes": controlledTerms/technique OR controlledTerms/behaviouralTask
- setting (1 - N):
    "_embeddedType": core/stringParameter OR cor

[2021-02-26 16:53] lzehl commented on #163
this issue seems to be solved for now therefore I close it. Let see if it will hold up in the use cases

[2021-02-26 16:53] #163 closed

[2021-02-26 17:17] lzehl commented on #153
@UlrikeS91 if we have handedness now separated; could we not add "bilateral" now to the laterality terms?
Which would mean that we could set the expected value count to 1 for all of the remaining laterality linking schemas (solving also this issue)

core:
tissueSampleCollection --> laterality (count 1 because: left, right OR bilateral)
tissueSample --> laterality (count 1 because: left, right OR b

[2021-02-26 17:18] lzehl commented on #150
This issue was solved in PR #168. I close the issue now.

[2021-02-26 17:18] #150 closed

[2021-02-26 17:31] lzehl commented on #98
@MBAbrams what would you say is the difference between a Common Data Elements model and a relational metadata model or graph metadata model?

[2021-02-26 17:33] lzehl commented on #14
@apdavison I think this could be interesting for in-depth extensions. What do you think?

[2021-03-01 09:43] #156 closed

[2021-03-01 09:49] xgui3783 opened #16 "logo in vector graphics? logo in darktheme?"
I noticed that logo in `/img` is in png format. Whilst it is a lossless format, it is still pixel based.

Ideally we can provide vector based (e.g. svg) for larger prints

Also, ideally the logo can be available in dark theme.

I understand this is not of high priority, but the longer it waits, the more difficult it gets to retrieve the original file(s).

[2021-03-01 11:28] UlrikeS91 commented on #153
@lzehl, I don't think that "bilateral" would be quite suitable. It's more of a state rather than a description for “both halves of the bilateral organ have been used/delineated/etc.” Do you know what I mean?

I'm wondering if we may want to change this entirely:
For both, `tissueSampleCollection` & `tissueSample`, you can specify the `laterality` of the samples. But in reality, this only makes sen

[2021-03-01 12:23] #152 closed

[2021-03-01 14:19] lzehl commented on #153
don't say sorry :wink: it's good when we discuss issues several times. Here my thoughts:

1) "bilateral": as far as I can see from my keyword search you can say "bilateral biopsy", "bilateral research design", "bilateral function", "bilateral leg pain", etc. vs. actually the word "unilateral". In that sense it does not completely fit with "left" and "right" body side, but on the other hand one is

[2021-03-01 15:56] UlrikeS91 commented on #153
Yes, uni- and bilateral can be used like this. It is for sure better than "left" and/or "right", but also a bit less specific since the unilateral side could be either.

Hm... `origin` is the name of the property for `tissueSample` & `tissueSampleCollection` where you can choose from either `controlledTerms/organ` or `controlledTerms/cellType`. I think we decided to include `controlledTerms/cellTy

[2021-03-02 10:47] MBAbrams commented on #98
CDEs are standard building units for creating ontologies for diseases (in that they describe terms and concepts). CDEs provide the common vocabularies (data dictionary) that can be used in both relational and graph metadata models.

[2021-03-02 10:51] lzehl commented on #98
@MBAbrams thanks. I'm going to update the definition for CDEs accordingly. Should the plural [Common Data Elements (CDEs)] or the singular [Common Data Element (CDE)] be used for naming the corresponding research product?

[2021-03-02 11:25] MBAbrams commented on #98
NIH uses Common Data Elements (CDEs) for naming the research product.

[2021-03-02 11:52] lzehl commented on #98
@MBAbrams thanks again. I'll correct our vocabulary accordingly.

[2021-03-04 13:23] UlrikeS91 opened #180 "License update"
Remove `"deed"` and add `"webpage"`.

Deed and legal code are too similar and it's unnecessary to have both. We discussed to have a link to a webpage instead to read up on things around the legal code instead.

Webpage is an array so that e.g. both the homepage for the license(s) can be linked plus something else (spdx.org or similar).

[2021-03-04 13:49] UlrikeS91 opened #181 "Funding update"
"Funder" should point to "_linkedCategories": "legalPerson" (to allow person or organization,even though organization will be the most common)

[2021-03-04 15:32] UlrikeS91 opened #182 "specimenSet update"
Add property "additionalRemarks" to schema for flexible remarks related to the set.

[2021-03-04 16:29] UlrikeS91 opened #183 "Introduce "_formats": "year""
@olinux, could we create a new "custom" format for year? At the moment, we us a regular expression (`([0-9]{4})`) for the property `"year"` in the copyright schema because draft-07 doesn't have this as a regular format (only date and/or time).

This would mean some changes to the generator as well ;)

[2021-03-05 07:11] UlrikeS91 commented on #180
done in #184

[2021-03-08 08:44] lzehl commented on #180
@UlrikeS91 thank you!

[2021-03-08 08:44] #180 closed

[2021-03-08 16:58] olinux opened #187 "Hash to be embedded type"
I would suggest to make the hash an embedded type since it's very clear that this inherits the life-cycle of its parent (no matter if filebundle, filerepository or fileinstance)

https://github.com/HumanBrainProject/openMINDS_core/blob/9e52a10cc343cfae9468b0b6cf1fce08785975c6/schemas/data/fileBundle.schema.tpl.json#L25

https://github.com/HumanBrainProject/openMINDS_core/blob/9e52a10cc343cfae9468b

[2021-03-08 17:16] lzehl commented on #187
@olinux Yes, I agree. I'll update it.

[2021-03-08 17:22] lzehl commented on #187
@olinux PR #188  is ready for review :wink:

[2021-03-09 11:09] #187 closed

[2021-03-10 10:10] lzehl opened #189 "Could we introduce a QuantitativeValueArray schema?"
The suggestion to introduce a QuantitativeValueArray schema came up in the PR #177, but a decision was postponed to the next openMINDS revision.

A QuantitativeValueArray schema could be useful for simplifying the definition of larger numerical arrays (with no size limitation) where all values have the same unit.

The tricky think about this is the definition of the uncertainties of the value arra

[2021-03-10 16:15] lzehl commented on #14
@skoehnen the PR #13 covers for the first time the general descriptions for the properties.

Providing a general description for the schema types is not yet done, but already on my list.

Independent of this, was the integration of the descriptions not in the full schemas yet because of the distributed generation we had before. I discussed this with @olinux. This was one of the reasons why we now

[2021-03-10 16:19] lzehl commented on #16
@xgui3783 I agree! We should provide several options here. We'll take care of it when there is a bit of free time in the near future.

[2021-03-10 16:25] lzehl commented on #16
@UlrikeS91 if you have the time, could you prepare a dark theme version for all logo variations? And maybe a logo for the openMINDS instances repo?

I'll take care of the SVGs. I've prepared them already with equal sizes and margins (etc) locally on my desk.

[2021-03-10 16:42] lzehl commented on #181
Done in PR #185 ! @UlrikeS91 thanks for taking care of the PR!

[2021-03-10 16:42] #181 closed

[2021-03-10 16:43] lzehl commented on #153
@UlrikeS91 we can close this now, correct? If so, please go ahead and close it :wink:

[2021-03-10 16:48] lzehl commented on #143
@apdavison & @olinux if you agree, I would like to push this issue to the next revision for openMINDS. I think it's worth discussing a bit more before we come to a decision. For now I leave inputData and outputData as they are (linking to a digital identifier), but I completely agree that we may have to revise this decision

[2021-03-10 16:49] #98 closed

[2021-03-10 16:50] lzehl commented on #52
@skoehnen can we close this issue? If so, please go ahead and close it.

[2021-03-10 16:52] lzehl commented on #47
I'm closing this issue for now. We should at one point get back to the question if we want to redo/provide the implementation for the old models (MINDS and uniMINDS) as well, but this is currently of low priority.

[2021-03-10 16:52] #47 closed

[2021-03-10 16:57] apdavison commented on #143
@lzehl sure

[2021-03-11 10:23] UlrikeS91 commented on #16
It won't be my first priority, but yes. I'll prepare a dark-themed version as well :) Thanks, @xgui3783 for suggesting this. It's a great idea!

[2021-03-11 10:27] #161 closed

[2021-03-12 13:16] skoehnen commented on #52
@lzehl I think we can close it.
But we should maybe revisit it in the future to see if this still covers our needs.

[2021-03-12 13:16] #52 closed

[2021-03-12 13:18] skoehnen commented on #14
@lzehl should we close this issue?

[2021-03-12 13:26] lzehl commented on #14
Yes. It's solved now. The latest target files should now include descriptions for all properties. There might still be some missing descriptions for the types but we can add them and optimize the existing ones step wise.

[2021-03-12 13:26] #14 closed, assigned to olinux

[2021-03-12 16:57] lzehl opened #17 "Revision of ResearchProduct & ResearchProductVersions"
This issue is directed to @apdavison @UlrikeS91 @skoehnen @bweyers & @jagru20
(@apdavison could you please also include Peyman into the discussion? I don't know his GitHub alias...)

**Task:** Please go through the issue (ask questions if you have them) and provide feedback (agreement or objection) sometime within the next week; March 15 - March 19 (or let me know if you need more time to think th

[2021-03-12 17:50] apdavison commented on #17
Can the description of the ResearchProduct be modified after the DOI is created? e.g. to add a summary of new features added in more recent versions.

[2021-03-15 09:42] jagru20 commented on #17
Thank you for this approach! While working on the migration scripts I noticed a certain redundancy between the properties you mentioned. From what I can say, your suggestions would make the schema more intuitive and would also fit our use cases very well. This is especially true, as many of the software versions do not provide a description. Therefore, I strongly support these changes.

One minor

[2021-03-15 11:21] jagru20 commented on #17
Another thought: I do not know if the digitalIdentifier really needs to be required. Many of the software entities do not have such an identifier. Or do we register a DOI for every instance blanketly? In the past, I had the impression that this was not wanted from the HBP perspective, but this may be a thought for a different issue.

[2021-03-15 13:34] Peyman-N commented on #17
I think the current way of handling the DOI is the most optimal solution but there is another way to handle it too. If I recall correctly we can implement different versions of the same document in the DOI metadata record (I am not sure about this and I couldn't find any useful information in the DOI documentation).

Regarding the DOI of the ResearchProductVersion and ResearchProduct. I want to kn

[2021-03-15 14:03] jagru20 commented on #17
I think what you mean is the `<relatedIdentifier>` tag, specified by the `relationType` property? see p. 46ff in https://schema.datacite.org/meta/kernel-4.3/doc/DataCite-MetadataKernel_v4.3.pdf

[2021-03-15 14:35] UlrikeS91 commented on #17
I’m not really on board with this proposal. For datasets, I cannot come up with a lot of examples, where the principal idea is to regularly create new versions of the same dataset. Correct me if I’m wrong, but usually the procedure is: I come up with a hypothesis, I test the hypothesis with an experiment, I get an answer. Yes, there are cases where the answer won’t be clear. Then you may adjust yo

[2021-03-15 16:45] lzehl commented on #17
@apdavison @jagru20 @Peyman-N @UlrikeS91

Thank you all for responding so quickly and starting the discussion on the topic.
I (hope I) will try to address all of your points / concerns in the following.

**Updating full name (title), description and authors after publication/DOI assignment**
+ According to Data Cite small changes (all changes in the DOI metadata are considered as small changes) ar

[2021-03-16 07:50] apdavison commented on #17
Thanks for the feedback @lzehl. I think these changes would mostly be welcome for models, although on balance I think I would argue to keep the "description" field for ResearchProductVersion but have it optional.

In most cases it would be empty, and when displayed the RPV would show the description from the associated ResearchProduct, but in cases where the ResearchProduct description changes rad

[2021-03-16 08:48] lzehl commented on #17
@apdavison @jagru20 @UlrikeS91 @Peyman-N

If we keep (an optional) "description" for the RPV (thanks for that abbreviation :sweat_smile: ) do we need to keep the "version innovation" in addition? I fear that "description" + "version innovation" might lead to the fact that only one is used.

Originally our idea was that the "version innovation" field can take over the "description" for the RPV (als

[2021-03-16 09:06] apdavison commented on #17
I think you would need clear instructions. Ideally "description" would not be edited manually, but filled automatically when changing the description of the parent ResearchProduct.

[2021-03-16 09:41] skoehnen commented on #17
I like that this adds versioning to the description.

Wouldn't it make sense to move full name and description completely to RPV and make at least one RPV mandatory for all Research Products?
That way we would not need to think about different types of descriptions (description and versionInnovation) and names.
And then just take the last entry in the chain of versions.
Say a new version doesn't i

[2021-03-16 10:25] UlrikeS91 commented on #17
I like this idea! We could even flip the original proposal around so that RP has an "alternativeName" field and an "alternativeDescription" field (both optional). If they aren't filled out, the "fullName" and "description" from the latest RPV are inherited instead.
Then, the RPV could keep the "versionInnovation" to point to specific novilties of the exact version. This way, the researchers could

[2021-03-16 10:48] lzehl commented on #17
@skoehnen & @UlrikeS91 making at least one RPV mandatory for a RP is indeed something we could introduce. I did not so far because it would force the structure for components to the same thing: each component has to have a version then. It is not something I'm opposed to, I would even like this strict rule. However, it makes even simple component structures quite complex (Example for following thi

[2021-03-16 11:00] lzehl commented on #17
btw: thanks everyone for participating in this discussion! I really appreciate all your input and arguments in order to come to a good solution that will serve all (including the KG Search implementation). Please continue :smiley: :+1:

[2021-03-21 13:26] lzehl commented on #17
@apdavison @UlrikeS91 @Peyman-N @jagru20 @skoehnen @olinux

In order to proceed with this issue I'd like to make the following proposal based on the discussion above with these rules/structural changes (I've numbered them to make it easier discussing individual points):
1) The RP has to have at least one RPV, meaning the property "hasVersion" is required (count 1-n).
2) The RP can have one or mult

[2021-03-21 13:40] lzehl opened #190 "Question: changes proposed to have a clearer usage of the term "instance""
@apdavison @olinux @UlrikeS91 @jagru20 @skoehnen @bweyers @Peyman-N

While writing the paper and the documentation on the future homepage for openMINDS (collab) and presenting the metadata models now several times I've frequently stumbled upon the term "instance". Here are the three aspects that are in connection with this term:

+ For describing information around a single file, we chose the sche

[2021-03-22 09:27] olinux commented on #17
Here are my comments:
It's highly important that it is clear for both, the producers and the consumers of metadata that defining a description on the RPV shall be interpreted to fully replace the description of its RP (if there are pieces which should be taken from the RP description, they have to be copied over). To make this even more clear, I would suggest to rename "description" to something l

[2021-03-22 09:53] lzehl commented on #17
@olinux note that in the upper proposal the RP description cannot be replaced by the RPV description if it only holds a description of version innovation. It should be dealt rather in the following way for DOI and display: RP description + RPV description. That again will look a bit weird if the RPV description can stand on its own.

mh... to get this clean would mean that we cannot delete the RPV

[2021-03-22 10:38] UlrikeS91 commented on #17
Agreed without further comments: 1., 4. - 5., 8.

Point 2 says:
RP1 --hasComponent--> RP2 == collection
  | req                                  | req
RPV1-----------------------RPV2 == collection

Point 3 says:
RP1                                   RP2       **not a collection?**
  | req                                  | req
RPV1--hasComponent-->RPV2 == collection

**Question:** What will be the

[2021-03-22 11:10] lzehl commented on #17
This comment is to clarify @UlrikeS91 question about point 2 and 3, because I did not write them well. Here is a correction / explanation of what I  meant:

for 2) The RP can have one or multiple components (link to another RP), meaning the property "hasComponent" is optional (count 1-n, when used). If RP1 has a component (->RP2), RP1 it is interpreted as a collection. According to point 1, RP1 al

[2021-03-22 11:15] UlrikeS91 commented on #17
Yes, great! That's what I hoped :)
It wasn't 100% clear from how you wrote it first. Thanks for explaining it again in more detail :)

[2021-03-22 11:44] UlrikeS91 commented on #190
Fine by me :)

Very good suggestion! Absolutely fine by me!

Generally not opposed to changing the schema name. What was the reason to have "instance" in the name in the first place? Was it to have a clear solution (and difference) between "fileBundle", "fileRepository" and "file(Instance)"? I think "file" alone would be enough, just curious why it was added in the first place (and making sure tha

[2021-03-22 11:59] lzehl commented on #190
@UlrikeS91 I actually do not remember :sweat_smile: But yes I think it was to have clear differentiation between the fileX schemas.
It came out of a discussion with Oli a very long time ago. @olinux do you remember why we decided for "FileInstance" instead of "File"?

[2021-03-22 16:19] jagru20 commented on #17
Hi all, I just discussed with @bweyers and we came to the following points/questions:

for 3)
When implementing this, would the hasComponent-link between the RPs be done automatically after a RPV has a component added? This would save a lot of unnecessary work for the curators.

for 4)
Registering the Concept DOI later seems problematically as it is not clear what you cite when citing the DOI of t

[2021-03-22 17:22] lzehl commented on #17
@jagru20 & @bweyers thanks for that valuable feedback.

for 3) automatically creating the graph links for the RP/RPV component model might be something we can setup in the KG. I agree that supportive setups like this will facilitate the work of a curator. But as far as I know these setups require a validation of an expected graph structure which is not trivial to do and may not be implemented righ

[2021-03-24 14:59] lzehl opened #18 "Revision of the metadata model for collections"
This issue is directed to @olinux  @apdavison @Peyman-N @UlrikeS91 @skoehnen @bweyers & @jagru20

@olinux and I discussed (again) the current metadata model for handling research product collections.
As a reminder this was (in summary) the decision we made in [core issue 163](https://github.com/HumanBrainProject/openMINDS_core/issues/163) :
https://schema.datacite.org/meta/kernel-4.3/doc/DataCite-

[2021-03-26 10:17] lzehl commented on #18
If we would introduce a new schemas for Collections and CollectionVersions I would imagine the metadata model looking like this:
[collection issue - v2.pdf](https://github.com/HumanBrainProject/openMINDS/files/6210917/collection.issue.-.v2.pdf)

With the Project being optional (with possible linkages to: all ResearchProducts, ResearchProductVersions, Collections and CollectionVersions).

The Colle

[2021-03-29 16:14] jagru20 commented on #17
In my opinion, and I hope speaking also for @bweyers here, I would prefer option B.

[2021-03-29 16:25] bweyers commented on #17
Yes you do @jagru20

[2021-03-30 10:19] lzehl commented on #17
Dear all, based on our discussion in the developer meeting we now came to the following conclusion:
- both approaches (cf. above A & B) have a similar amount of pro and cons
- we will go with approach A for now, because it is more economical (we have to pay per DOI)
- BUT: we need to communicate clearly on the KG Search the meaning and usage of the DOIs

For the "shared" properties between RP and

[2021-03-30 10:22] lzehl commented on #18
UPDATE: I will delete the "hasComponent" properties from RP and RPV until we reach a verdict considering how we want to handle research product collections.

At everyone: Please continue collecting feedback / concrete suggestions / use cases in this issue so that we will soon find a solution that will fit all our needs for openMINDS.

[2021-04-14 15:26] lzehl opened #20 "handling minItems for non-required arrays"
I stumbled upon this issue again in a recent PR.

At one point we defined for required and non-required properties with value `"type": "array"` that they all would need to set `"minItems": 1`.

**Initial argument for this decision:** Setting `"minItems": 1` prohibits the validation to go through with an empty array for the required properties as well as the optional properties, because if the valu

[2021-04-14 16:54] Peyman-N commented on #20
Personally I think this is a good practice but if it is causing problem somewhere else I think we can mitigate it.
But now I want to know where dose it cause problems?

[2021-04-14 18:32] lzehl commented on #20
@Peyman-N you mean we should follow the initial decision?

For optional properties, both approaches (allowing empty arrays, or prohibiting empty arrays) would work from the technical point of view. @olinux: please correct me if I'm wrong.

[2021-04-14 22:21] Peyman-N commented on #20
Yes, I think the initial decision was the correct one.

[2021-04-15 08:46] UlrikeS91 commented on #20
I would stick to our original decision to add `"minItems": 1` to all arrays.

[2021-04-15 09:12] jagru20 commented on #20
This also makes sense to me to stick to it.

[2021-04-20 13:38] lzehl opened #21 "Documentation of existing graph dependencies"
@apdavison @olinux @UlrikeS91 @jagru20 @skoehnen @bweyers @Peyman-N

This issue should be used to document existing graph dependencies that we currently do not validate, but expect the user to comply with when creating an openMINDS metadata description of a research product.

In the long run, this documentation might help us setting up some automated graph validations for openMINDS.

Feel free to

[2021-04-20 13:42] lzehl commented on #21
**CASE 001:**
If a File instance links to the controlled instance "data descriptor" in the "special usage role" property, exactly this File instance has to be linked in the "full documentation" property of a ResearchProductVersion instance.

[2021-05-12 09:42] Peyman-N opened #206 "The protocolExecution is still using the old SANDS submodule"
@apdavison @olinux @UlrikeS91 @jagru20 @skoehnen @bweyers @Peyman-N
As the `AnatomicalEntity` has been deprecated in new SANDS the `semanticallyAnchoredTo` property should point out to `ParcellationEntity`.
Another possible solution can be to add both `ParcellationEntity` and `customAnatomicalEntity` as possible link types, this come with added benefit of possibility of adding the new entities on

[2021-05-12 10:03] lzehl commented on #206
@Peyman-N thanks for bringing this up. This property needs to point now to the ParcellationEntity (SANDS) or the UBERONparcellation (controlledTerm). It should not point to a customAnatomicalEntity.  They are separately handled in SANDS and should not be mixed with the controlled relations we want to have in place. Via StudyTarget it is still possible to enter a custom brain region / anatomical en

[2021-05-12 13:51] Peyman-N commented on #206
Actually, I like the idea of having it as a `controlledTerm`, then with a finite number of regions, the graph representation based on this can be really useful for the end user.
I recommend we link this to the `UBERONparcellation` as this is just a information concerning the original anatomical region that this `protocolExecution` going to operate on. Based my understanding `StudyTarget` encapsula

[2021-06-09 09:50] olinux opened #208 "Reference to non-existing AnatomicalEntity"
https://github.com/HumanBrainProject/openMINDS_core/blob/6005a3580d0046e9d18de6758c259739cdd6167f/schemas/research/protocolExecution.schema.tpl.json#L75

AnatomicalEntity doesn't exist anymore - should it be CustomAnatomicalEntity instead?

[2021-06-09 10:47] lzehl commented on #208
@olinux semantically Anchored To should be thrown out of protocolExecution entirely.
It needs to be placed somewhere else (e.g. most likely TissueSample/Collections).

[2021-06-15 18:20] lzehl opened #210 "Reassessment of BehavioralTask"
Currently, the BehavioralTask are assumed to be ControlledTerms. Many of the behavioral tasks we are getting, are though not well defined and/or are not officially registered as a meaningful task.

I would like to make this a bit more user-oriented and flexible by introducing a user-defined BehavioralTask schema with required properties "Full name", "Short name", "Description", + optional a select

[2021-06-16 07:54] jcolomb commented on #210
I hope this will not state the obvious. To my knowledge (which is restricted), attempts at ontologies for behavioural science failed. I was in a workshop in 2014 or 2015 (organised by Melissa Haendel ) and we realised that we could not agree on definitions, because much of it was dependent on the researcher's interpretation (that sometimes changes over time).

In addition, description of behaviour

[2021-06-16 08:55] lzehl commented on #210
@jcolomb first: sorry for the HBP / EBRAINS dialect... Here an explanation: Within HBP / EBRAINS we register metadata in 3 tiers. In **tier-1** "basic" metadata are registered (which is mainly covered via the schemas in openMINDS_core). They can go beyond pure bibliographic metadata, but can also stay rather superficial (user / use case dependent). In **tier-2** metadata that describe the anatomic

[2021-06-16 09:00] lzehl commented on #210
@jcolomb now for your actual comment: thanks a lot for these suggestions. We are well aware that ontologies for behavioral science is difficult. Therefore I want to first have a user defined instance in place that can be gradually complemented with controlled terminology to provide at least some data integration of the level of behavioral tasks.

@tgbugs could you comment on @jcolomb suggestions a

[2021-06-16 15:34] tgbugs commented on #210
The objective here is precisely to avoid the issues of trying to ontologize behavior, thus the suggestion to describe the setup is exactly what we are going for (and we already have some of the "restraints" in the methods ontology).

In this approach the actual behavior of the organism (and the organism itself) is a black box. We want to capture the nomenclature used to describe everything around

[2021-06-17 07:20] lzehl opened #211 "Adding "supplements" property to research product versions"
@apdavison @bweyers @skoehnen @tgbugs  @UlrikeS91 @jagru20 @olinux @MBAbrams @visakhmr @Peyman-N

I received a request to add a property to research product versions where links could be added to additional material / tutorials made for the particular research product version. For example a link to the INCF training space or a Collab.

What is you opinion? (feel also free to make suggestions for t

[2021-06-17 07:37] lzehl commented on #210
@jcolomb one additional remark on what @tgbugs responded: we also not necessarily immediately plan to create an ontology, but a set of controlled terminology for openMINDS (so we are less restrictive / do not need to be too precise). If these terms (cf. openMINDS_instances) later become / inspire an ontology development that would be great of course.

@olinux , @apdavison , @Peyman-N , @UlrikeS91

[2021-06-17 09:03] jcolomb commented on #210
I like the plan :)

I would be nice to get a PID of some sort for this schema, or at least a reference link (doi to a paper explaining the task?). I am not sure how to implement it, though (protocols.io doi could do ?).

I am not sure to understand what the internal identifier will be used for (id specific to each experimenter?)

[2021-06-17 10:33] lzehl commented on #210
@jcolomb the "Internal identifier" should be maybe renamed... you are right that on this level the id specific to an experiment does not make much sense. Maybe we stick to "Full name" (instead of "name") and "Short name".

An optional linkage to an external source / documentation (what would be a good property name?) might be useful. I would not like to link to papers that somewhere in the manuscr

[2021-06-17 14:48] bweyers commented on #211
In general, this sounds quite nice. However, it would make sense to give this a little bit more semantics...

[2021-06-18 12:40] Peyman-N commented on #210
Hello @lzehl

I like the idea to have `BehavioralTask` as core schema. But in my opinion we need to have some additional properties as controlled term so we can group them. Otherwise they are going to be nodes with only one connection. But in reality they are interconnected and share some feature among themselves.  ( I was thinking maybe underlying mechanism can be a good option).

Concerning onto

[2021-06-21 08:46] lzehl commented on #210
@olinux , @apdavison , @Peyman-N , @UlrikeS91 , @visakhmr , @MBAbrams , @tgbugs

I have another question: Would it make sense to treat the future Behavior(Protocol) schema same way as the Protocol schema? Meaning should the Protocol schema only be able to link to Techniques and the Protocol as well as the BehaviorProtocol schema should be linked to the ProtocolExecution schema via the property "pr

[2021-06-23 08:40] lzehl commented on #206
This one was solved in PR #204 and #209.

[2021-06-23 08:40] #206 closed

[2021-06-23 08:46] lzehl commented on #211
@bweyers could you make suggestions?

Notes from Jan B. :
1) "Will these links be stable, or will training/supplementary material links be reorganized and moved around from time to time? If we are uncertain, it would have been preferred to make the user aware of the possibility to search for a  training/supplementary information e.g. through INCF Training Space or other places."
2) "linking out to

[2021-06-23 08:52] lzehl commented on #208
This was solved in #204 & #209

[2021-06-23 08:52] #208 closed

[2021-06-23 08:53] lzehl commented on #190
Was solved.

[2021-06-23 08:53] #190 closed

[2021-06-23 08:55] lzehl commented on #189
@apdavison & @Peyman-N I think I need in particular your feedback for this one. Could you comment/make suggestions?

[2021-06-23 09:01] lzehl commented on #153
This one was solved (I think) with #174

[2021-06-23 09:01] #153 closed

[2021-06-23 10:38] UlrikeS91 commented on #211
It's generally tricky to ensure stabel links for anything that is not maintained by us directly (and even those aren't quite stable either sometimes...). This is of course part of what the curators do, but it would be nice to have as few of these as possible.
I can't really come up with a good solution on how to ensure stable links, but I think point 2/@bweyers comment could help with that.

Some

[2021-06-23 10:39] UlrikeS91 commented on #153
Oh! I missed this comment!

Yes, it is solved.

[2021-06-23 15:23] lzehl commented on #170
may reevaluated at a later point. we will close this for now.

[2021-06-23 15:23] #170 closed

[2021-06-27 12:34] lzehl opened #23 "Adding references to related schemas & schema properties of other initiatives"
Located under the folder vocab in the main openMINDS GitHub directory, the openMINDS vocabulary is semi-automatically gathered and stored in dedicated JSON files (types.json and properties.json). The openMINDS integration pipeline makes sure that both files are updated with each commit to any of the GitHub repositories for the openMINDS metadata models. With that, the openMINDS vocab reflects alwa

[2021-08-24 09:28] UlrikeS91 commented on #183
This can be postponed to a later point. But good to keep open for now.

[2021-08-24 10:09] UlrikeS91 commented on #189
Let's revive this issue. @lzehl, I looked into tuple validation and it seems that the easiest option would be to use `prefixItems`. If I'm not mistaken, this predetermines an order within an array.

The example @lzehl gave in the PR #117 was this (numericalParameter with an array of quantitative values):
"name": "stimulusTriggerPoints",
"value": [1s, 2s, 4s]

Our `quantitativeValue` schema has:
[c

[2021-08-24 10:35] UlrikeS91 commented on #210
@lzehl , given the latest updates to the `behavioralProtocol` schema (https://github.com/HumanBrainProject/openMINDS_core/pull/223), should this issue be close for now?

[2021-08-24 10:42] UlrikeS91 commented on #189
Let's revive this issue. There is something called `prefixItems`, which could be useful in this context (see here for example: https://json-schema.org/understanding-json-schema/reference/array.html).

However, what was the point of having an array of values only allowing the same unit? Couldn't it be just like what we had for the `electrode` & `electrodeArray` schemas? Something like this:

[code]

[2021-08-24 11:02] UlrikeS91 commented on #16
@lzehl I(/we) fixed the dark-themed version. I think we still need to upload all of them (normal logo png + svg & dark-themed logo png + svg). I'll check and upload them.

[2021-08-24 11:04] UlrikeS91 commented on #17
This issue seems solve (as much as possible at least). @lzehl should we close this for now?

[2021-08-24 11:05] UlrikeS91 commented on #18
@lzehl this seems also solved. Should we close it?

[2021-08-24 11:06] UlrikeS91 commented on #20
This is solved. I close it.

[2021-08-24 11:06] #20 closed, assigned to nobody

[2021-08-24 11:07] UlrikeS91 commented on #23
@lzehl, we need to handle this as soon as possible (as discussed already anyway).

[2021-08-24 12:52] lzehl commented on #18
@UlrikeS91 this is not solved yet. We postponed the discussion and implementation around Collections. The PR was related, but did not solve the issue. We need to keep this open, and eventually get back to this when we have more time.

[2021-08-24 12:54] lzehl commented on #17
Yes. I think we can close this one. The Collection issue/discussion is covered elsewhere.

[2021-08-24 12:54] #17 closed, assigned to lzehl

[2021-08-24 12:55] lzehl commented on #16
@UlrikeS91 yes, feel free to upload them. Just make sure to have the same size/resolution as the one already present. Feel free to add more formats for all versions.

[2021-08-24 13:02] lzehl commented on #211
this discussion is still ongoing... but it will be a backwards compatible change so it should not block us for the next release.

[2021-08-24 13:09] lzehl commented on #189
to revive this issue and combine it with a QuantitativeValueRange issue when looking at age:
+ keeping the same unit for all items in a list/in an array is the easiest solution for us
+ with age ranges this is a bit ugly if the range spans over new born (days) to adult (years)...

I still would go with keeping the same unit for all approach. @apdavison what do you think?

[2021-08-24 13:11] lzehl commented on #210
@UlrikeS91 I would like to keep this open for further discussions and extensions of the behavior protocol

[2021-08-25 07:41] apdavison commented on #189
If you want different units, you can just use a list of QuantitativeValues, no?

The advantage of QuantitativeValueArray with a single unit is that the representation can be much more concise. (The use case I think is where the array has hundreds or thousands of values).

For the uncertainties, could we use a tuple of arrays rather than an array of tuples?

[2021-08-25 10:06] lzehl commented on #189
@apdavison I agree that the main use case for QuantitativeValueArray is to register arrays with large numbers of values. "unit" should be the same then for all values (to keep it simple).

For QuantitativeValueRange we also assume the same for min and max value. This could be changed to allow for more flexibility.

"For the uncertainties, could we use a tuple of arrays rather than an array of tupl

[2021-08-25 10:15] lzehl opened #24 "delete obsolete branches"
@skoehnen I was not sure if the skoehnen_README_Add_Getting_Started_Guide branch can be deleted or if you are working on this. If this is an outdated branch that we do not need anymore, please delete it. Big thanks in advance :)

[2021-08-25 11:40] apdavison commented on #189
@lzehl yes, this requires the assumption that array order is preserved. I think this is a reasonable assumption when dealing with arrays.

[2021-08-25 13:49] #16 closed, assigned to UlrikeS91

[2021-08-25 13:50] #8 closed, assigned to lzehl

[2021-09-08 11:36] lzehl opened #230 "reassessment of hardware as a product in openMINDS_core"
@apdavison & @Peyman-N & @bweyers & @olinux I tried to gather what we have about hardware:

Within openMINDS_computation, we have the Hardware schema with the following properties:
+ name (free text)
+ version (free text)
+ description (free text)
Idea: to specifically capture here only computer hardware devices.

Within openMINDS_core, SoftwareVersion references via property "device" to the contr

[2021-09-08 11:39] lzehl commented on #230
Could you give me your thoughts on:
+ would hardware also need a Hardware  +  HardwareVersion schema ?
+ what properties should be covered ? are the ones above sufficient ?
+ if ComputerHardware in computation would inherit from Hardware in core; do the properties fit ?

[2021-09-08 12:10] Peyman-N commented on #230
I completely agree with the three proposition.
But I think it would worth the effort to consider elaborate it a little more by adding something like a hardware setup.
By adding this feature we can daisy chain some Hardware schema's and create more complex Hardware's.
I played with the idea a little bit and it should be doable just by adding a property called hasParent or consistsOf.

[2021-09-09 09:52] apdavison commented on #230
What we have in computation/Hardware at present is effectively HardwareVersion, and I think that's probably enough.

`Device.model name` serves perhaps the same role as `Hardware.name`? Can we perhaps merge these to avoid redundancy.

It's unclear which properties you propose to put in `core.Hardware`

[2021-09-21 10:04] lzehl commented on #18
UPDATE: the "hasComponent" property is deleted from all RPs and RPVs until we reach a verdict considering how we want to handle research product collections.

The few Software cases within the new EBRAINS KG v3 which already used this property are saved and can be reintegrated once we decide for a way of properly handling research product collections.

[2021-10-06 15:41] apdavison opened #241 "Confusing "content" field in File"
For the File schema, the description of the “content” field is “Something that is contained” but the instruction is “Enter a short content description for this file instance”.

The field name and description imply that this field may contain the entire contents of the file (which you can imagine being useful for very small files that are accessed frequently, to save loading the file from the IRI).

[2021-10-15 08:43] UlrikeS91 opened #564 "Direct link between atlases and tools/services that use them?"
This is just an idea, but it might be worthwhile thinking about it. Atlases are obviously research outputs themselves, but (one of) their main purpose is to be used somehow, e.g. as a visual reference or within tools/services.

So, wouldn't it make sense to capture this somehow?

Example: QuickNII
It's a tool used to register data to a reference atlas. Right now it supports the Allen mouse brain a

[2021-10-15 09:46] skoehnen commented on #24
I deleted it.
It was quite out of date anyway and the getting started instruction are now in the readme ;)

[2021-10-15 09:46] #24 closed, assigned to skoehnen

[2021-10-20 10:45] lzehl commented on #21
**CASE 002:**
The entries of the "study target" property of a ProtocolExecution instance have to be equal or a subset of the entries of the "study option" property in the DatasetVersion instance that is linked via the "is part of" property of that ProtocolExecution instance.

[2021-11-01 06:33] #241 closed

[2021-11-02 16:36] UlrikeS91 opened #249 "RRID as option for organization ID"
as suggested during a meeting with @lzehl & @tgbugs

[2021-11-02 16:39] UlrikeS91 commented on #249
https://github.com/HumanBrainProject/openMINDS_core/pull/250

[2021-11-02 16:40] #249 closed

[2021-11-05 09:10] jagru20 opened #254 "Enable for curating software tutorials"
In the HLST meeting, the idea came up to introduce a schema dedicated to curate tutorials in addition to the documentation of a software. Some questions regarding this topic are:
- Could a tutorial be covered by the property "otherContribution" with a new ContributionType "Tutorial"?
- What defines a Tutorial, how to separate it from documentation?
- What properties are necessary to curate about a

[2021-11-05 09:18] lzehl commented on #254
@jagru20 This is an interesting request that is similar to another issue #211

"otherContribution" is meant for legal persons (mainly persons) so I think it is probably not the right spot to link the actual tutorial (only the tutor).

Possibilities I see: a new field "supplementary material" (cf. #211) or "related publication".

@bweyers and @heplesser Looking forward to hear more about the detail

[2021-11-05 09:25] jagru20 commented on #254
This could in fact be a duplicate of #211, should we think about continuing the discussion there?

[2021-11-05 09:39] lzehl commented on #254
Yes. If #211 fits your needs / idea then please continue the discussion there.

[2021-11-10 10:38] will-moore opened #256 "Validation tests"
Hi,
 I read on the README https://github.com/HumanBrainProject/openMINDS_core#tests that "In the tests directory you can find JSON-LDs designed to test the validation behaviour of each schema" but I don't see a `tests/` directory?

I'd like to understand how OpenMINDS does validation of JSON data against a schema.
My initial investigation is described at https://github.com/ome/ngff/issues/75

 Tha

[2021-11-10 11:39] lzehl commented on #256
Hi Will, thanks a lot for raising this issue! Here some notes from my side, but I hope @skoehnen & @olinux  will comment as well:

The `tests/` directories are indeed missing at the moment, but these are not used for the actual validation, they are meant to be used to test the validation itself. They are missing, and are partially out of date, because we lack the manpower at the moment. I hope we

[2021-11-10 12:14] dickscheid opened #257 "Support files inside a zip container in the FILE scheme"
We sometimes have to link files which are orginally hosted with other files inside a zip archive - for example, the tissue mask of the ICBM 152 brain template. To identify such files, it would be helpful to add fields that allow to 1) identify the downloadable file under the URL as a container file (like zip, tarball, ...), and 2) specify the target filename inside that container, which could only

[2021-11-11 14:51] will-moore commented on #256
Hi Lyuba, thanks for your reply.
We at [OME](https://github.com/ome) are working on a "Next generation file format" for (bio)-imaging data, which is based on the [Zarr](https://zarr.readthedocs.io/) format, with the metadata being stored in JSON (maybe moving to JSON-LD in future). It's early days, but you can read the current ngff spec at https://ngff.openmicroscopy.org/latest/.

We are starting

[2021-11-11 15:08] lzehl commented on #256
Ah I understand. So for openMINDS we fall back to existing validators.

The current target format for openMINDS would be JSON-Schema for the schemas and JSON-LD for the metadata instances. Besides the LD part, our instances can be tested via a JSON-Schema validator. The LD part is a bit more tricky. Depth 1 for parent / child is fine and should be covered by JSON-Schema (with some tweaks), but act

[2021-11-11 15:12] lzehl commented on #257
@dickscheid thank you for raising this issue :)

@olinux and @skoehnen I think that this is an interesting feature we could add. Any ideas on how we could provide this?
@apdavison and @bweyers this issue may also be of interest for you I think. what do you think?

[2021-11-11 15:54] skoehnen commented on #256
To add some links, we use this validator for JSON-schema files https://pypi.org/project/jsonschema/
The validation of JSON-LDs across links definitely more complicated.

[2021-11-12 07:59] heplesser commented on #254
Yes, this is covered by #211, so @jagru20, please close this one.

[2021-11-12 08:05] heplesser commented on #211
One specific use-case for "supplements" would be to manage tutorial material for EBRAINS tools and services. The key distinction between documentation and tutorials is that for documentation, we typically have a one-to-one mapping from a tool or service to its canonical main documentation page, while there will often be a one-to-many mapping from tools to tutorials. Key metadata for tutorials from

[2021-11-12 12:54] lzehl commented on #211
"""Concerning link stability: Could one implement regular automated checks for all links stored in KG and then flag broken ones as stale and potentially as something to be followed up by curators?"""

Link stability was also Jan Bjaalies major concern. @olinux if I remember correctly you suggested exactly what @heplesser is asking correct?

[2021-11-12 12:57] lzehl commented on #211
I see that this issue will not only talk about linking various supplements via URLs in a property "supplements", but it moves towards having the property "supplements" linking to various supplment specific schemas (e.g., tutorials, presentations, posters, etc). If that is the case @apdavison could you comment in how far this would overlap with the openMINDS publication extension?

[2021-11-12 12:58] lzehl commented on #211
@heplesser thanks for your comment. This helps a lot pushing this issue forward

[2021-11-12 13:15] apdavison commented on #211
@lzehl the publication extension currently covers live papers plus traditional articles, book chapters, monographs, but it could easily be extended to other formats (blog posts, posters, videos, tutorials).

[2021-11-12 13:19] lzehl commented on #211
@apdavison I thought as much. I think this would be a great opportunity to link the publication extension to the other metadata models.

[2021-11-15 09:02] jagru20 commented on #254
Discussed in #211

[2021-11-15 09:02] #254 closed

[2021-11-16 18:51] UlrikeS91 opened #259 "FileBundle updates (grouping & descendedFrom)"
discussed offline with @lzehl
1. descendedFrom should be 0 - 1, because it shouldn't be more than what the FileBundleGrouping states
2. fileOrigin category need to be added to all specimen(set)s as well, because a file bundle could begrouped by e.g. a subject and collect data for more than one state

FYI @olinux

[2021-11-19 11:20] lzehl commented on #259
@UlrikeS91 can you take this over?

[2021-11-19 14:57] #259 closed

[2021-11-22 10:27] MaaikevS opened #267 "Extension to projects - groupings across datasets"
Hi @olinux @lzehl,

I was wondering if it would be possible (in the future) to group datasets within a project according to particular features. For example, take the DOPAMAP project:
![image](https://user-images.githubusercontent.com/31585951/142844461-981feb66-64e8-41ce-8bea-c4fbc4c80c32.png)
This project has 20 datasets (blue squares), including 5 different ages, 2 types of dopamine receptors a

[2021-11-22 14:33] lzehl commented on #267
@MaaikevS that is an interesting issue. You mean grouping of files for a project across dataset(version)s correct?

[2021-11-22 14:40] MaaikevS commented on #267
Yes! Sorry that was indeed not very clear

[2021-11-22 14:53] lzehl commented on #267
@olinux from the openMINDS perspective I think this option would be very interesting. my idea: adding a property "dataOfInterest" (or something) which links to file path patterns. What do you think?

@HumanBrainProject/openminds-developers what are your thoughts?

[2021-12-20 12:25] jcolomb commented on #230
Just bumped into https://github.com/rdawg-pidinst/schema, this is a metadata schema developed in a RDA working group  https://www.rd-alliance.org/groups/persistent-identification-instruments-wg
I wonder if there are connections to make.

[2022-01-04 12:00] lzehl opened #29 "Moving openMINDS instance libraries to main GitHub"
The openMINDS instance libraries are version dependent which is why they were located so far on the repository version branch of each git submodule where the respective schema is defined.

Some instances include though linkages to instances of a different git submodule. To facilitate the development and maintenance of the openMINDS instance libraries in general we decided to move all of them to th

[2022-01-04 12:04] lzehl opened #281 "change URL in serviceLink to embeddedType?"
@olinux what do you think?

[2022-01-04 13:02] UlrikeS91 commented on #281
Do you mean an IRI or the core schema for URL? The latter isn't possible, is it? If I remember correctly, then URL cannot be a linked type in other schemas anymore, or?

[2022-01-06 11:16] lzehl commented on #281
@UlrikeS91 the property "openDataIn" in the ServiceLink schema has as _linkedTypes the URL schema currently. Making it an embeddedType only means that this particular service link url cannot be used by another schema which it never will (since it is specific for the service link). Therefore I suggest to change the URL for the property "openDataIn" in the ServiceLink schema to an embeddedType.

[2022-01-26 15:35] #281 closed

[2022-01-27 19:58] apdavison opened #287 "Incorrect Python content types"
`application/text/x-python.3` should be `text/x-python.3` and similarly for the other Python content types. We should also add simply `text/x-python` for code where we don't know the version, or code that is compatible with both Python 2 and Python 3.

[2022-02-01 09:40] jagru20 commented on #211
I quickly want to ask, how this woul exactly look like, we just got another request to add tutorials and demos to a software. Are there any advances on this?

[2022-02-01 09:48] jagru20 opened #288 "Add Property "shortBio" to person schema"
I have just got a request to add a short bio to the person information. I wanted to bring this to discussion, as I did not find a place to sensibly integrate this kind of info. The question here is, if the KG should provide space for this information.

If yes, I would suggest adding an optional property of type string that is limited to e.g., 500 characters.

[2022-02-01 10:04] lzehl commented on #288
@jagru20 thanks for bringing this up. Originally we though we leave all person information to be handled by the person via ORCID and linking to the public ORCID page of that person via the KG. We thought that this would keep maintaining that information to a minimum. Now we added affiliations nonetheless...

@HumanBrainProject/openminds-developers what do you think?

[2022-02-01 10:42] jagru20 commented on #288
Yes, that's what I thought. In fact, I tend not to include the feature, I just want to have it discussed/decided once so that I can respond accordingly in future requests as well.

[2022-02-01 11:08] MBAbrams commented on #211
@jagru20 TrainingSpace is available for you to add your tutorials and demos. The Virtual Brain is currently doing this with the  tutorials linked from the EBRAINS website to TrainingSpace (https://ebrains.eu/service/the-virtual-brain#simulate_tvb_multiscale). If you are interested, let me know.

[2022-02-01 12:03] UlrikeS91 commented on #288
I think that there is a difference between affiliation and a short bio. Stupid example maybe, but imagine two persons with the same name. An affiliation would help to distinct between them (and the ORCID obviously, but not directly in the KG in a human understandable way). A short bio may help with that too, but could potentially also be similar and not help much.

Both require maintenance but aff

[2022-02-01 12:12] lzehl commented on #211
@jagru20 for a concrete schema for integrating this into openMINDS we did not further discuss yet. Not sure if @apdavison already made some extensions to openMINDS_publication ?

[2022-02-01 12:14] lzehl commented on #211
@MBAbrams should we have a closer look at the TrainingSpace schemas in this context?  I mean regarding their compatibility with openMINDS (or actually the other way around)...

[2022-02-02 10:15] lzehl commented on #287
@apdavison & @jagru20 was this issue solved with the #290? The PR is approved as far as I can see should we merge it?

[2022-02-02 10:20] #287 closed

[2022-02-02 10:20] apdavison commented on #287
done

[2022-02-02 14:33] lzehl opened #292 "adding QuickNII contentTypes"
+ json
+ xml
+ flat

[2022-02-02 14:42] lzehl opened #293 "add MeshView contentTypes"
**ContentType schema:**
+ https://humanbrainproject.github.io/openMINDS/v3/ **--> select** core/DATA/ContentType
+ https://github.com/HumanBrainProject/openMINDS_core/blob/v3/schemas/data/contentType.schema.tpl.json

**required property:** name
**recommended property:** extension, as well as description AND/OR link to specification

**Missing contentTypes (suggested names):**
+ application/vnd.mes

[2022-02-02 14:43] lzehl opened #294 "add Nutil contentType"
**ContentType schema:**
+ https://humanbrainproject.github.io/openMINDS/v3/ **--> select** core/DATA/ContentType
+ https://github.com/HumanBrainProject/openMINDS_core/blob/v3/schemas/data/contentType.schema.tpl.json

**required property:** name
**recommended property:** extension, as well as description AND/OR link to specification

**Missing contentTypes (suggested names):**
+ application/vnd.nut

[2022-02-02 14:50] lzehl opened #295 "add contentTypes for Nutil Web, Web Ilastik and Web Align"
(tools are in dev and also not registered yet in KG)

[2022-02-02 15:04] lzehl opened #296 "add Ilastik contentTypes"
**ContentType schema:**
+ https://humanbrainproject.github.io/openMINDS/v3/ **--> select** core/DATA/ContentType
+ https://github.com/HumanBrainProject/openMINDS_core/blob/v3/schemas/data/contentType.schema.tpl.json

**required property:** name
**recommended property:** extension, as well as description AND/OR link to specification

**Missing contentTypes (suggested names):**
+ application/vnd.ila

[2022-02-02 15:27] lzehl opened #297 "add ProbInterface ContentTypes"
+ check out: https://readthedocs.org/projects/probeinterface/

[2022-02-02 15:29] jagru20 commented on #297
https://probeinterface.readthedocs.io/en/main/format_spec.html

[2022-02-02 15:32] UlrikeS91 commented on #294
@leuat, @sharoncy and @majpuc: Are the .nut file for Nutil all the same regardless of which function is used (e.g. Transform vs. Quantifier)?

[2022-02-02 15:33] UlrikeS91 commented on #292
@Tevemadar and @majpuc can be asked for further questions

[2022-02-02 15:40] sharoncy commented on #294
No they are different. The .nut file structure also varies between Nutil versions.

[2022-02-02 15:44] UlrikeS91 commented on #294
Thank you for the rapid response, @sharoncy.

So, this means that we will need to add 4 contentTypes for the nut file extension - one per function:
- Transform
- Quantifier
- TiffCreator
- Resize

Correct?

[2022-02-03 08:22] sharoncy commented on #294
I discussed this with Ulrike in person: 4 contentTypes for the nut file extensions is a good idea. To fit with the OpenMINDS schema she suggested sharing the different Nutil features as different "software", each linked to a different contentType (so a different KG datacard for Nutil Quantifier, Transform, Resize and TiffCreator). This sounds like a good idea as the Nutil features are standalone.

[2022-02-03 08:29] Majpuc commented on #294
Thank you for the info. This is going to be tricky as the software that are registrered in the KG  need to have corresponding descriptions in the TC documents. Currently, we have one ID for Nutil as a whole and one ID for Nutilweb as a whole, because the web version will have a different access point and don't allow all features. They also use different content types. What do you think @leuat? We

[2022-02-03 08:36] sharoncy commented on #294
Yes please, I am not fully informed. @leuat @Majpuc

[2022-02-03 10:26] lzehl commented on #294
@sharoncy you said the nut files are also different between nutil versions? meaning how many versions should we cover for the 4 nut files?

[2022-02-03 12:15] sharoncy commented on #294
We will have to discuss this and get back to you. @Majpuc @leuat

[2022-02-03 15:37] apdavison opened #301 "Add content types for Models"
Some more content types I came across while migrating Models to KGv3

Stan (https://mc-stan.org/)
TVB
BlueNaaS
DPSNN
GROMACS
PLUMED

[2022-02-08 18:23] lzehl opened #31 "Setting up a workflow for interlex/knowledgespace extension of controlled terms"
Suggestion by: @tgbugs @UlrikeS91 @incf-nidash @lzehl

The libraries for controlled terms are growing rapidly with EBRAINS starting to use openMINDS for the Knoweledge Graph.
Not all existing terms within the openMINDS terminologies are connected to InterLex and/or the Knowledge Space.
And some new terms that are brought in by the community (mainly EBRAINS at the moment) are not yet registered in

[2022-02-12 07:11] lzehl commented on #31
@MaaikevS this issue is related to the workflow development that I told you about

[2022-02-15 14:13] lzehl opened #306 "adding relative time relations beween specimen states"
An additional property for this aspect would help to define relative times (optional) if specific age of a specimen cannot be specified.

Tricky part: This should cover specific time relations (e.g., state-01 happened 4 hours before state-02) or semantic time relations (e.g., state-01 had to happen before state-02).

@HumanBrainProject/openminds-developers good idea ? any suggestions ?

[2022-02-25 15:55] Majpuc commented on #296
Validation can be requested to Tomaz Viera, EMBL https://github.com/Tomaz-Vieira

[2022-03-01 11:45] apdavison opened #312 "Add content type chemical/x-pdb"
https://en.wikipedia.org/wiki/Protein_Data_Bank_(file_format)

[2022-03-15 15:07] olinux opened #318 "How to register larger file structures without their files"
The result of the EBRAINS image service is a SWIFT bucket with multiple hundred thousands of files. We wouldn't want to index all of them in openMINDS as individual files since the structure is interpreted as a whole by the clients anyhow. With the current specifications, we could think of specifying it as a "file repository" and specifying the correct "ContentType" (what would this be for this ca

[2022-03-15 15:21] Majpuc commented on #318
For your info if relevant, I create ingestion at the level of TSC.  We couple the TSC files to the service links via the file bundles. This implicate that one dataset in the KG has several swift buckets linked to it, one for each TSC and service link.

[2022-03-15 15:22] xgui3783 commented on #318
apologies, what's TSC?

[2022-03-15 15:22] Majpuc commented on #318
Sorry :) Tissue sample collection

[2022-03-15 15:58] olinux commented on #318
@apdavison would it be an option to use a computational schema to link a "fileRepository" to the process (and the research product version) similar to "visualization"?

Maybe we could call it "conversion" and let it register a "fileRepository", "fileBundle" or "file" as input and a (non-indexed) "fileRepository" containing a specific content-type (as Xiao has mentioned above) as output. We might a

[2022-03-15 16:58] lzehl commented on #318
@apdavison sounds good. could we specify a fileRepository as output though (as well) for this specific schema?
Reason: fileBundles can only be registered as part of an existing fileRepository. services such as the image service produce data that should not be registered in a dataset(version) and would therefore need to specify their fileRepository directly.

[2022-03-15 17:00] apdavison commented on #318
@lzehl I would suggest to have the FileBundle as output, and also create a new FileRepository to which it is linked through the "is_part_of" property